projects/shared/n8n-workflows/agent-orchestrator-v44.json
{
  "updatedAt": "2026-02-07T06:51:47.093Z",
  "createdAt": "2026-02-07T00:22:42.152Z",
  "id": "1s52PkA1lY1lHfGP",
  "name": "Universal-Agent-Orchestrator-v4.4",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent/execute",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "webhookId": "agent-execute"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst req = input.body || input;\n\nif (req.debug === true) {\n  return {\n    json: {\n      is_debug: true,\n      status: 'debug',\n      message: 'Agent orchestrator v4.1 - Self-Annealing Meta-Agent is working!',\n      features: [\n        'multi-provider', 'hitl-approval', 'plan-mode', 'todo-tracking',\n        'session-checkpoint', 'background-tasks', 'async-execution',\n        'task-persistence', 'retry-logic', 'context-management', 'streaming-responses',\n        'parallel-tool-execution', 'tool-result-caching', 'smart-rate-limiting', 'cost-token-tracking',\n        'conversation-memory', 'tool-pipelines', 'webhook-notifications', 'agent-templates',\n        'multi-agent-orchestration', 'knowledge-base-rag', 'scheduled-tasks', 'tool-plugins',\n        'agent-learning', 'workflow-recording', 'smart-context-injection', 'inter-agent-communication',\n        'agent-personas', 'goal-decomposition', 'tool-macros', 'audit-trail', 'adaptive-behavior',\n        'gmail-integration', 'sheets-integration', 'sms-integration', 'clickup-integration',\n        'n8n-workflow-management', 'enhanced-terminal', 'enhanced-git',\n        'self-discovery', 'error-learning', 'meta-introspection', 'self-annealing'\n      ],\n      version: '4.1.0',\n      agent_templates: ['coder', 'researcher', 'analyst', 'writer', 'devops', 'orchestrator'],\n      agent_personas: ['senior_engineer', 'rapid_prototyper', 'research_analyst', 'devops_specialist'],\n      integrations: {\n        gmail: ['gmail_list', 'gmail_read', 'gmail_send', 'gmail_search'],\n        sheets: ['sheets_read', 'sheets_write', 'sheets_append'],\n        sms: ['sms_send', 'sms_list'],\n        clickup: ['clickup_list_tasks', 'clickup_create_task', 'clickup_update_task'],\n        n8n: ['n8n_list_workflows', 'n8n_get_workflow', 'n8n_create_workflow', 'n8n_update_workflow', 'n8n_activate_workflow', 'n8n_execute_workflow'],\n        git: ['git_clone', 'git_pull', 'git_branch', 'git_log'],\n        terminal: ['terminal_multi_command', 'terminal_script']\n      },\n      meta_agent: {\n        capabilities: '/meta/capabilities - List all available tools',\n        discover: '/meta/discover - Find new integrations',\n        create_tool: '/meta/create-tool - Generate new tool code',\n        learn_error: '/meta/learn-error - Store error solutions',\n        introspect: '/meta/introspect - Analyze agent behavior',\n        suggest: '/meta/suggest - Get improvement suggestions',\n        build_workflow: '/agent/build-workflow - Self-replicate new agent workflows'\n      },\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\nif (req.continue_session === true && req.session_state) {\n  const state = req.session_state;\n  state.messages.push({ role: 'user', content: req.message || 'Continue' });\n  return {\n    json: {\n      is_debug: false,\n      session_id: req.session_id || state.session_id,\n      agent: state.agent,\n      task: state.task,\n      config: state.config,\n      state: state,\n      is_continuation: true,\n      _background_execution: req._background_execution || false,\n      _original_task_id: req._original_task_id || null\n    }\n  };\n}\n\nif (req.resume_session === true && req.session_id) {\n  return {\n    json: {\n      is_debug: false,\n      session_id: req.session_id,\n      checkpoint_name: req.checkpoint_name || 'default',\n      is_resume: true,\n      resume_message: req.message || 'Resume from checkpoint',\n      _background_execution: req._background_execution || false,\n      _original_task_id: req._original_task_id || null\n    }\n  };\n}\n\nconst agentPersonas = {\n  senior_engineer: {\n    traits: ['thorough', 'methodical', 'security-conscious'],\n    expertise: ['architecture', 'code-review', 'testing', 'documentation'],\n    communication_style: 'technical',\n    verbosity: 'detailed'\n  },\n  rapid_prototyper: {\n    traits: ['fast', 'pragmatic', 'iterative'],\n    expertise: ['mvp', 'scripting', 'quick-fixes'],\n    communication_style: 'casual',\n    verbosity: 'minimal'\n  },\n  research_analyst: {\n    traits: ['analytical', 'thorough', 'skeptical'],\n    expertise: ['data-analysis', 'market-research', 'competitive-analysis'],\n    communication_style: 'professional',\n    verbosity: 'detailed'\n  },\n  devops_specialist: {\n    traits: ['cautious', 'systematic', 'documentation-focused'],\n    expertise: ['deployment', 'ci-cd', 'monitoring', 'infrastructure'],\n    communication_style: 'technical',\n    verbosity: 'balanced'\n  }\n};\n\nconst agentTemplates = {\n  coder: {\n    id: 'coder-agent',\n    provider: 'anthropic',\n    model: 'claude-sonnet-4-5-20250929',\n    tools_available: ['file_read', 'file_write', 'file_edit', 'command', 'grep', 'glob', 'git_status'],\n    system_prompt: 'You are an expert software developer. You write clean, efficient, well-documented code.\\n\\nWhen writing code:\\n- Follow best practices and design patterns\\n- Include error handling\\n- Add helpful comments for complex logic\\n\\nAvailable tools:\\n- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}\\n- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}\\n- file_edit: Edit lines in a file. Input: {\"path\": \"/path\", \"edits\": [{\"line_start\": 1, \"line_end\": 2, \"new_content\": \"new text\"}]}\\n- command: Execute a shell command. Input: {\"command\": \"the command\"}\\n- grep: Search file contents with regex. Input: {\"pattern\": \"regex\", \"path\": \"/dir\"}\\n- glob: Find files by pattern. Input: {\"pattern\": \"**/*.py\", \"path\": \"/dir\"}\\n- git_status: Get git repository status. Input: {\"repo_path\": \"/path/to/repo\"}\\n\\nUse JSON format: {\"action\": \"tool_name\", \"input\": {...}}\\nWhen complete, include TASK_COMPLETE.'\n  },\n  researcher: {\n    id: 'researcher-agent',\n    provider: 'anthropic',\n    model: 'claude-sonnet-4-5-20250929',\n    tools_available: ['web_search', 'web_fetch', 'file_read', 'file_write', 'grep', 'gmail_search', 'gmail_read'],\n    system_prompt: 'You are an expert researcher. You find, analyze, and synthesize information effectively.\\n\\nWhen researching:\\n- Search multiple sources for accuracy\\n- Verify information when possible\\n- Summarize findings clearly\\n\\nAvailable tools:\\n- web_search: Search the web. Input: {\"query\": \"search terms\", \"max_results\": 10}\\n- web_fetch: Fetch content from a URL. Input: {\"url\": \"https://...\"}\\n- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}\\n- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}\\n- grep: Search file contents. Input: {\"pattern\": \"regex\", \"path\": \"/dir\"}\\n- gmail_search: Search emails. Input: {\"query\": \"search terms\"}\\n- gmail_read: Read an email. Input: {\"message_id\": \"id\"}\\n\\nUse JSON format: {\"action\": \"tool_name\", \"input\": {...}}\\nWhen complete, include TASK_COMPLETE.'\n  },\n  analyst: {\n    id: 'analyst-agent',\n    provider: 'anthropic',\n    model: 'claude-sonnet-4-5-20250929',\n    tools_available: ['file_read', 'command', 'grep', 'glob', 'file_write', 'sheets_read', 'sheets_write'],\n    system_prompt: 'You are an expert data analyst. You analyze data, identify patterns, and provide actionable insights.\\n\\nWhen analyzing:\\n- Look for trends and patterns\\n- Calculate relevant statistics\\n- Provide clear recommendations\\n\\nAvailable tools:\\n- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}\\n- command: Execute a shell command. Input: {\"command\": \"the command\"}\\n- grep: Search file contents. Input: {\"pattern\": \"regex\", \"path\": \"/dir\"}\\n- glob: Find files by pattern. Input: {\"pattern\": \"**/*.csv\", \"path\": \"/dir\"}\\n- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}\\n- sheets_read: Read from Google Sheets. Input: {\"range\": \"Sheet1!A1:Z100\"}\\n- sheets_write: Write to Google Sheets. Input: {\"range\": \"Sheet1!A1\", \"values\": [[...]]}\\n\\nUse JSON format: {\"action\": \"tool_name\", \"input\": {...}}\\nWhen complete, include TASK_COMPLETE.'\n  },\n  writer: {\n    id: 'writer-agent',\n    provider: 'anthropic',\n    model: 'claude-sonnet-4-5-20250929',\n    tools_available: ['file_read', 'file_write', 'web_search', 'web_fetch', 'gmail_send'],\n    system_prompt: 'You are an expert content writer. You create engaging, clear, and well-structured content.\\n\\nWhen writing:\\n- Use clear and concise language\\n- Structure content logically\\n- Adapt tone to the audience\\n\\nAvailable tools:\\n- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}\\n- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}\\n- web_search: Search the web. Input: {\"query\": \"search terms\"}\\n- web_fetch: Fetch content from a URL. Input: {\"url\": \"https://...\"}\\n- gmail_send: Send an email. Input: {\"to\": \"email\", \"subject\": \"...\", \"body\": \"...\"}\\n\\nUse JSON format: {\"action\": \"tool_name\", \"input\": {...}}\\nWhen complete, include TASK_COMPLETE.'\n  },\n  devops: {\n    id: 'devops-agent',\n    provider: 'anthropic',\n    model: 'claude-sonnet-4-5-20250929',\n    tools_available: ['command', 'file_read', 'file_write', 'file_edit', 'git_status', 'grep', 'glob', 'git_clone', 'git_pull', 'git_branch', 'terminal_multi_command'],\n    system_prompt: 'You are an expert DevOps engineer. You manage infrastructure, deployments, and automation.\\n\\nWhen working:\\n- Follow security best practices\\n- Document all changes\\n- Be cautious with destructive commands\\n\\nAvailable tools:\\n- command: Execute a shell command. Input: {\"command\": \"the command\"}\\n- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}\\n- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}\\n- file_edit: Edit lines in a file. Input: {\"path\": \"/path\", \"edits\": [...]}\\n- git_status: Get git repository status. Input: {\"repo_path\": \"/path/to/repo\"}\\n- grep: Search file contents. Input: {\"pattern\": \"regex\", \"path\": \"/dir\"}\\n- glob: Find files by pattern. Input: {\"pattern\": \"**/*.yml\", \"path\": \"/dir\"}\\n- git_clone: Clone a repository. Input: {\"url\": \"...\", \"path\": \"...\"}\\n- git_pull: Pull from remote. Input: {\"repo_path\": \"...\"}\\n- git_branch: Manage branches. Input: {\"action\": \"list|create|switch\", \"branch\": \"...\"}\\n- terminal_multi_command: Run multiple commands. Input: {\"commands\": [\"cmd1\", \"cmd2\"]}\\n\\nUse JSON format: {\"action\": \"tool_name\", \"input\": {...}}\\nWhen complete, include TASK_COMPLETE.'\n  },\n  orchestrator: {\n    id: 'orchestrator-agent',\n    provider: 'anthropic',\n    model: 'claude-sonnet-4-5-20250929',\n    tools_available: ['file_read', 'file_write', 'command', 'grep', 'glob', 'git_status', 'n8n_list_workflows', 'n8n_create_workflow', 'meta_capabilities', 'meta_discover'],\n    system_prompt: 'You are a task orchestrator. You break down complex tasks into sub-tasks and delegate to specialized agents. You can also build new agent workflows.\\n\\nWhen orchestrating:\\n- Analyze the task complexity\\n- Identify sub-tasks that can run in parallel\\n- Coordinate results from sub-agents\\n- Synthesize final output\\n- Build new workflows when needed\\n\\nAvailable tools:\\n- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}\\n- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}\\n- command: Execute a shell command. Input: {\"command\": \"the command\"}\\n- grep: Search file contents. Input: {\"pattern\": \"regex\", \"path\": \"/dir\"}\\n- glob: Find files by pattern. Input: {\"pattern\": \"**/*\", \"path\": \"/dir\"}\\n- git_status: Get git repository status. Input: {\"repo_path\": \"/path/to/repo\"}\\n- n8n_list_workflows: List n8n workflows. Input: {}\\n- n8n_create_workflow: Create new workflow. Input: {\"name\": \"...\", \"nodes\": [...], \"connections\": {...}}\\n- meta_capabilities: List all available capabilities. Input: {}\\n- meta_discover: Discover new tools. Input: {}\\n\\nUse JSON format: {\"action\": \"tool_name\", \"input\": {...}}\\nWhen complete, include TASK_COMPLETE.'\n  }\n};\n\nconst allTools = [\n  'file_read', 'file_write', 'file_edit', 'command', 'git_status', 'web_fetch', 'grep', 'glob', 'web_search', 'todo', 'checkpoint',\n  'gmail_list', 'gmail_read', 'gmail_send', 'gmail_search',\n  'sheets_read', 'sheets_write', 'sheets_append',\n  'sms_send', 'sms_list',\n  'clickup_list_tasks', 'clickup_create_task', 'clickup_update_task',\n  'n8n_list_workflows', 'n8n_get_workflow', 'n8n_create_workflow', 'n8n_update_workflow', 'n8n_activate_workflow', 'n8n_execute_workflow',\n  'git_clone', 'git_pull', 'git_branch', 'git_log',\n  'terminal_multi_command', 'terminal_script',\n  'meta_capabilities', 'meta_discover', 'meta_create_tool', 'meta_learn_error', 'meta_find_solution', 'meta_introspect', 'meta_suggest', 'agent_build_workflow'\n];\n\nconst approvalTools = ['command', 'file_write', 'file_edit', 'gmail_send', 'sms_send', 'clickup_create_task', 'n8n_create_workflow', 'n8n_activate_workflow', 'terminal_script'];\nconst dangerousPatterns = ['rm -rf', 'rm -r', 'rmdir', 'git push', 'git push --force', 'kill', 'pkill', 'killall', 'reboot', 'shutdown', 'chmod 777', 'chown', 'dd if=', 'mkfs', ':(){', '> /dev/'];\n\nlet personaEnhancement = '';\nif (req.persona && agentPersonas[req.persona]) {\n  const persona = agentPersonas[req.persona];\n  personaEnhancement = `\\n\\nPersona traits: ${persona.traits.join(', ')}. Expertise: ${persona.expertise.join(', ')}. Communication style: ${persona.communication_style}. Verbosity: ${persona.verbosity}.`;\n}\n\nlet agent;\nif (req.template && agentTemplates[req.template]) {\n  agent = { ...agentTemplates[req.template] };\n  if (req.agent) {\n    Object.assign(agent, req.agent);\n  }\n} else {\n  agent = req.agent || { id: 'meta-agent-v1', provider: 'anthropic', model: 'claude-sonnet-4-5-20250929', tools_available: allTools };\n}\n\nif (!agent.provider) agent.provider = 'anthropic';\nif (!agent.model) agent.model = agent.provider === 'xai' ? 'grok-2-latest' : 'claude-sonnet-4-5-20250929';\nif (!agent.tools_available) agent.tools_available = allTools;\n\nconst toolDocs = {\n  file_read: '- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}',\n  file_write: '- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}',\n  file_edit: '- file_edit: Edit lines in a file. Input: {\"path\": \"/path\", \"edits\": [{\"line_start\": 1, \"line_end\": 2, \"new_content\": \"new text\"}]}',\n  command: '- command: Execute a shell command. Input: {\"command\": \"the command\"}',\n  git_status: '- git_status: Get git repository status. Input: {\"repo_path\": \"/path/to/repo\"}',\n  web_fetch: '- web_fetch: Fetch content from a URL. Input: {\"url\": \"https://...\"}',\n  grep: '- grep: Search file contents with regex. Input: {\"pattern\": \"regex\", \"path\": \"/dir\", \"type\": \"py\", \"context\": 2}',\n  glob: '- glob: Find files by pattern. Input: {\"pattern\": \"**/*.py\", \"path\": \"/dir\"}',\n  web_search: '- web_search: Search the web. Input: {\"query\": \"search terms\", \"max_results\": 10}',\n  todo: '- todo: Manage task list. Input: {\"operation\": \"add|update|list|delete\", \"content\": \"task\", \"id\": \"id\", \"status\": \"pending|in_progress|completed\"}',\n  checkpoint: '- checkpoint: Save session state for later resume. Input: {\"name\": \"optional_checkpoint_name\"}',\n  gmail_list: '- gmail_list: List emails. Input: {\"max_results\": 10, \"query\": \"is:unread\"}',\n  gmail_read: '- gmail_read: Read an email. Input: {\"message_id\": \"abc123\"}',\n  gmail_send: '- gmail_send: Send an email. Input: {\"to\": \"email@example.com\", \"subject\": \"Subject\", \"body\": \"Email body\"}',\n  gmail_search: '- gmail_search: Search emails. Input: {\"query\": \"from:someone@example.com\", \"max_results\": 20}',\n  sheets_read: '- sheets_read: Read from Google Sheets. Input: {\"spreadsheet_id\": \"...\", \"range\": \"Sheet1!A1:Z100\"}',\n  sheets_write: '- sheets_write: Write to Google Sheets. Input: {\"spreadsheet_id\": \"...\", \"range\": \"Sheet1!A1\", \"values\": [[\"cell1\", \"cell2\"]]}',\n  sheets_append: '- sheets_append: Append rows to Google Sheets. Input: {\"spreadsheet_id\": \"...\", \"range\": \"Sheet1!A1\", \"values\": [[\"row1col1\", \"row1col2\"]]}',\n  sms_send: '- sms_send: Send SMS via Twilio. Input: {\"to\": \"+1234567890\", \"body\": \"Message text\"}',\n  sms_list: '- sms_list: List SMS messages. Input: {\"limit\": 20, \"direction\": \"inbound|outbound\"}',\n  clickup_list_tasks: '- clickup_list_tasks: List tasks from ClickUp. Input: {\"list_id\": \"...\"}',\n  clickup_create_task: '- clickup_create_task: Create a ClickUp task. Input: {\"name\": \"Task name\", \"description\": \"...\"}',\n  clickup_update_task: '- clickup_update_task: Update a ClickUp task. Input: {\"task_id\": \"...\", \"name\": \"...\", \"status\": \"...\"}',\n  n8n_list_workflows: '- n8n_list_workflows: List n8n workflows. Input: {}',\n  n8n_get_workflow: '- n8n_get_workflow: Get a workflow. Input: {\"workflow_id\": \"...\"}',\n  n8n_create_workflow: '- n8n_create_workflow: Create a workflow. Input: {\"name\": \"...\", \"nodes\": [...], \"connections\": {...}}',\n  n8n_update_workflow: '- n8n_update_workflow: Update a workflow. Input: {\"workflow_id\": \"...\", \"nodes\": [...]}',\n  n8n_activate_workflow: '- n8n_activate_workflow: Activate/deactivate workflow. Input: {\"workflow_id\": \"...\", \"active\": true}',\n  n8n_execute_workflow: '- n8n_execute_workflow: Execute a workflow. Input: {\"workflow_id\": \"...\", \"data\": {...}}',\n  git_clone: '- git_clone: Clone a repository. Input: {\"url\": \"https://...\", \"path\": \"/dest/path\"}',\n  git_pull: '- git_pull: Pull from remote. Input: {\"repo_path\": \"/path/to/repo\"}',\n  git_branch: '- git_branch: Manage branches. Input: {\"repo_path\": \"...\", \"action\": \"list|create|switch|delete\", \"branch\": \"name\"}',\n  git_log: '- git_log: Get commit log. Input: {\"repo_path\": \"...\", \"limit\": 10}',\n  terminal_multi_command: '- terminal_multi_command: Run multiple commands. Input: {\"commands\": [\"cmd1\", \"cmd2\"], \"mode\": \"sequential|parallel\", \"stop_on_error\": true}',\n  terminal_script: '- terminal_script: Run a shell script. Input: {\"script\": \"#!/bin/bash\\\\n...\", \"interpreter\": \"/bin/bash\"}',\n  meta_capabilities: '- meta_capabilities: List all available capabilities. Input: {}',\n  meta_discover: '- meta_discover: Discover new integrations. Input: {}',\n  meta_create_tool: '- meta_create_tool: Generate new tool code. Input: {\"name\": \"tool_name\", \"description\": \"...\"}',\n  meta_learn_error: '- meta_learn_error: Store solution to error. Input: {\"error_pattern\": \"...\", \"solution\": \"...\"}',\n  meta_find_solution: '- meta_find_solution: Find stored error solution. Input: {\"error_message\": \"...\"}',\n  meta_introspect: '- meta_introspect: Analyze agent behavior. Input: {}',\n  meta_suggest: '- meta_suggest: Get improvement suggestions. Input: {}',\n  agent_build_workflow: '- agent_build_workflow: Build new agent workflow. Input: {\"name\": \"...\", \"webhook_path\": \"...\", \"tools\": [...]}'\n};\n\nconst availableToolDocs = agent.tools_available.map(t => toolDocs[t] || ('- ' + t)).join('\\n');\n\nconst planMode = req.config?.plan_mode === true;\nconst backgroundMode = req.background === true && !req._background_execution;\n\nlet systemPrompt = agent.system_prompt;\nif (!systemPrompt) {\n  if (planMode) {\n    systemPrompt = 'You are a helpful AI assistant that can perform actions using tools.\\n\\nIMPORTANT: PLAN MODE is enabled. You MUST first create a plan before executing any actions.\\n\\nTo create a plan, respond with:\\n{\"action\": \"plan\", \"input\": {\"title\": \"Plan Title\", \"steps\": [\"Step 1 description\", \"Step 2 description\", ...]}}\\n\\nAfter your plan is approved, you will execute each step using the available tools.\\n\\nAvailable tools:\\n' + availableToolDocs + '\\n\\nWhen you need to use a tool, respond with:\\n{\"action\": \"tool_name\", \"input\": {\"key\": \"value\"}}\\n\\nDo NOT use XML tags. ONLY use JSON format.\\nAfter using a tool, wait for the result before continuing.\\nWhen the task is fully complete, include TASK_COMPLETE in your response.';\n  } else {\n    systemPrompt = 'You are a powerful AI assistant with access to many tools and integrations. You can read/send emails, manage spreadsheets, send SMS, manage CRM tasks, control n8n workflows, and more.\\n\\nIMPORTANT: When you need to use a tool, you MUST respond with ONLY a JSON object in this exact format:\\n{\"action\": \"tool_name\", \"input\": {\"key\": \"value\"}}\\n\\nAvailable tools:\\n' + availableToolDocs + '\\n\\nDo NOT use XML tags or any other format. ONLY use the JSON format above.\\nAfter using a tool, wait for the result before continuing.\\nWhen the task is fully complete, include TASK_COMPLETE in your response.';\n  }\n}\n\nif (personaEnhancement) {\n  systemPrompt += personaEnhancement;\n}\n\nlet task;\nif (typeof req.task === 'string') {\n  task = { objective: req.task, context: '/home/ec2-user/dev-sandbox' };\n} else {\n  task = req.task || { objective: 'List available capabilities and suggest what I can help with', context: '/home/ec2-user' };\n}\n\nconst config = {\n  max_iterations: 10,\n  require_approval_for: req.config?.require_approval_for || approvalTools,\n  dangerous_patterns: dangerousPatterns,\n  approval_timeout_seconds: 300,\n  plan_mode: planMode,\n  retry: { enabled: req.config?.retry?.enabled !== false, max_retries: req.config?.retry?.max_retries || 3, base_delay: req.config?.retry?.base_delay || 1.0 },\n  context: { auto_truncate: req.config?.context?.auto_truncate !== false, max_tokens: req.config?.context?.max_tokens || 120000, preserve_first: 1, preserve_last: 5 },\n  streaming: { enabled: req.config?.streaming?.enabled || false },\n  parallel: { enabled: req.config?.parallel?.enabled !== false, max_workers: req.config?.parallel?.max_workers || 4, timeout: 30 },\n  cache: { enabled: req.config?.cache?.enabled !== false, ttl: req.config?.cache?.ttl || 300, max_size: 100 },\n  ratelimit: { enabled: req.config?.ratelimit?.enabled !== false, rate: 10.0, capacity: 20 },\n  cost: { enabled: req.config?.cost?.enabled !== false, budget_limit: null, track_tokens: true },\n  memory: { enabled: req.config?.memory?.enabled !== false, max_messages: 100 },\n  webhook: { url: req.config?.webhook?.url || null, events: ['task_complete', 'task_error'] },\n  orchestration: { enabled: req.config?.orchestration?.enabled !== false, max_sub_agents: 5, strategy: 'parallel' },\n  knowledge_base: { kb_id: req.config?.knowledge_base?.kb_id || null, auto_context: true },\n  learning: { enabled: req.config?.learning?.enabled !== false, record_outcomes: true, apply_recommendations: true },\n  recording: { enabled: req.config?.recording?.enabled || false, auto_record: false },\n  context_injection: { enabled: req.config?.context_injection?.enabled !== false, max_chunks: 5 },\n  inter_agent: { enabled: req.config?.inter_agent?.enabled !== false, orchestration_id: null },\n  persona: { id: req.persona || null, custom_traits: req.config?.persona?.custom_traits || [] },\n  goals: { enabled: req.config?.goals?.enabled !== false, auto_decompose: false, strategy: 'sequential' },\n  macros: { enabled: req.config?.macros?.enabled !== false, allowed_macros: [] },\n  audit: { enabled: req.config?.audit?.enabled !== false, log_inputs: true, log_outputs: true },\n  adaptive: { enabled: req.config?.adaptive?.enabled !== false, learning_rate: 0.1, apply_adaptations: true },\n  meta_agent: {\n    self_discovery: req.config?.meta_agent?.self_discovery !== false,\n    error_learning: req.config?.meta_agent?.error_learning !== false,\n    auto_suggest: req.config?.meta_agent?.auto_suggest || false\n  },\n  ...req.config\n};\n\nlet initialMessage = 'Task: ' + task.objective + '\\nContext: ' + (task.context || 'none') + '\\n\\n';\nif (planMode) {\n  initialMessage += 'PLAN MODE: First, create a plan for how you will accomplish this task. The plan will be reviewed before execution.';\n} else {\n  initialMessage += 'Remember: Use ONLY JSON format for tool calls: {\"action\": \"tool_name\", \"input\": {...}}';\n}\n\nconst sessionId = req.session_id || 'session_' + Date.now();\nconst taskId = backgroundMode ? 'task_' + Date.now().toString(36) + Math.random().toString(36).substr(2, 6) : null;\n\nconst estimateTokens = (text) => text ? Math.ceil(text.length / 4) : 0;\nconst initialTokenEstimate = estimateTokens(systemPrompt) + estimateTokens(initialMessage);\n\nreturn {\n  json: {\n    is_debug: false,\n    session_id: sessionId,\n    task_id: taskId,\n    background_mode: backgroundMode,\n    template_used: req.template || null,\n    persona_used: req.persona || null,\n    agent: { ...agent, system_prompt: systemPrompt },\n    task: task,\n    config: config,\n    state: {\n      iteration: 0,\n      history: [],\n      approvals: [],\n      plan: null,\n      plan_approved: false,\n      current_step: 0,\n      todos: [],\n      messages: [{ role: 'user', content: initialMessage }],\n      token_estimate: initialTokenEstimate,\n      context_truncated: false,\n      cost_tracker: { input_tokens: 0, output_tokens: 0, total_cost: 0.0, tool_calls: 0 },\n      learning_applied: false,\n      recording_active: false,\n      context_injected: false,\n      persona_active: req.persona ? true : false,\n      goal_id: null,\n      current_subgoal: null,\n      audit_entry_count: 0,\n      adaptations_applied: 0,\n      meta_discoveries: 0,\n      errors_learned: 0,\n      suggestions_generated: 0\n    },\n    _background_execution: req._background_execution || false,\n    _original_task_id: req._original_task_id || null\n  }\n};"
      },
      "id": "parse-request",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_debug }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-debug",
      "name": "Debug?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        448,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return { json: $input.first().json };"
      },
      "id": "debug-response",
      "name": "Debug Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst msgs = d.state.messages;\nconst sys = d.agent.system_prompt;\nconst model = d.agent.model;\nconst provider = d.agent.provider || 'anthropic';\n\nlet api_body, api_url, extra_headers;\n\nif (provider === 'xai' || provider === 'grok') {\n  api_url = 'https://api.x.ai/v1/chat/completions';\n  api_body = {\n    model: model || 'grok-2-latest',\n    messages: [{ role: 'system', content: sys }, ...msgs],\n    max_tokens: 4096,\n    temperature: 0.7\n  };\n  extra_headers = {};\n} else {\n  api_url = 'https://api.anthropic.com/v1/messages';\n  api_body = {\n    model: model || 'claude-sonnet-4-5-20250929',\n    max_tokens: 4096,\n    system: sys,\n    messages: msgs\n  };\n  extra_headers = { 'anthropic-version': '2023-06-01' };\n}\n\nreturn { json: { ...d, provider, api_url, api_body, extra_headers } };"
      },
      "id": "prepare-api",
      "name": "Prepare API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "={{ $json.provider === 'anthropic' ? 'anthropic-version' : 'X-Custom-Header' }}",
              "value": "={{ $json.provider === 'anthropic' ? '2023-06-01' : 'none' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.api_body) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-api",
      "name": "Call API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        512
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YcmiPKM8dtApO3q3",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst prev = $('Prepare API').first().json;\nconst provider = prev.provider || 'anthropic';\n\nif (resp.error || resp.type === 'error') {\n  return { json: { ...prev, action_type: 'error', error: resp.error?.message || resp.message || JSON.stringify(resp).substring(0, 300), continue_loop: false } };\n}\n\nlet text = '';\nif (provider === 'xai' || provider === 'grok') {\n  if (resp.choices?.[0]?.message) text = resp.choices[0].message.content || '';\n} else {\n  for (const c of (resp.content || [])) {\n    if (c.type === 'text') text = c.text;\n  }\n}\n\nif (text.includes('TASK_COMPLETE')) {\n  return { json: { ...prev, action_type: 'complete', result: text, continue_loop: false } };\n}\n\nlet tool = null;\ntry {\n  const actionMatch = text.match(/\\{\\s*\"action\"\\s*:\\s*\"[^\"]+\"[^}]*\"input\"\\s*:\\s*\\{[^}]*\\}\\s*\\}/g);\n  if (actionMatch) {\n    for (const m of actionMatch) {\n      try {\n        const parsed = JSON.parse(m);\n        if (parsed.action) { tool = parsed; break; }\n      } catch(e) {}\n    }\n  }\n  // Also try to match plan action with array in input\n  if (!tool) {\n    const planMatch = text.match(/\\{\\s*\"action\"\\s*:\\s*\"plan\"[\\s\\S]*?\"steps\"\\s*:\\s*\\[[^\\]]*\\][^}]*\\}/g);\n    if (planMatch) {\n      for (const m of planMatch) {\n        try {\n          const parsed = JSON.parse(m);\n          if (parsed.action === 'plan') { tool = parsed; break; }\n        } catch(e) {}\n      }\n    }\n  }\n} catch(e) {}\n\nif (tool) {\n  prev.state.messages.push({ role: 'assistant', content: text });\n  \n  // Check if this action requires approval\n  const requiresApproval = prev.config.require_approval_for?.includes(tool.action);\n  let isDangerous = false;\n  \n  // Check for dangerous patterns in commands\n  if (tool.action === 'command' && tool.input?.command) {\n    const cmd = tool.input.command.toLowerCase();\n    isDangerous = prev.config.dangerous_patterns?.some(p => cmd.includes(p.toLowerCase()));\n  }\n  \n  // Plan actions always require approval\n  const isPlan = tool.action === 'plan';\n  if (isPlan) {\n    prev.state.plan = tool.input;\n  }\n  \n  return { json: { ...prev, action_type: tool.action, action_input: tool.input || {}, raw_response: text, continue_loop: true, requires_approval: requiresApproval || isDangerous || isPlan, is_dangerous: isDangerous, is_plan: isPlan } };\n}\n\nreturn { json: { ...prev, action_type: 'complete', result: text, continue_loop: false } };"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.requires_approval }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-approval",
      "name": "Needs Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1328,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format approval request for logging/notification\nconst d = $input.first().json;\nconst approvalId = 'approval_' + Date.now();\n\nlet message;\nif (d.is_plan) {\n  // Format plan approval message\n  const plan = d.action_input;\n  const stepsFormatted = plan.steps.map((s, i) => `  ${i+1}. ${s}`).join('\\n');\n  message = `📋 PLAN APPROVAL REQUIRED\\n\\n**${plan.title || 'Execution Plan'}**\\n\\nSteps:\\n${stepsFormatted}\\n\\nApprove this plan to begin execution?`;\n} else if (d.is_dangerous) {\n  message = `⚠️ DANGEROUS ACTION REQUESTED\\n\\nAction: ${d.action_type}\\nInput: ${JSON.stringify(d.action_input, null, 2)}\\n\\nThis action matches dangerous patterns. Approve?`;\n} else {\n  message = `🔔 Approval Required\\n\\nAction: ${d.action_type}\\nInput: ${JSON.stringify(d.action_input, null, 2)}\\n\\nApprove this action?`;\n}\n\nconst approvalRequest = {\n  approval_id: approvalId,\n  session_id: d.session_id,\n  action_type: d.action_type,\n  action_input: d.action_input,\n  is_dangerous: d.is_dangerous,\n  is_plan: d.is_plan,\n  message: message,\n  created_at: new Date().toISOString(),\n  timeout_seconds: d.config.approval_timeout_seconds || 300\n};\n\n// Store in state for tracking\nd.state.pending_approval = approvalRequest;\n\nreturn { json: { ...d, approval_request: approvalRequest } };"
      },
      "id": "format-approval",
      "name": "Format Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        400
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "={{ $json.approval_request.approval_id }}"
        }
      },
      "id": "wait-approval",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        -48
      ],
      "webhookId": "agent-approval"
    },
    {
      "parameters": {
        "jsCode": "// Process approval response from webhook\nconst webhookData = $input.first().json;\nconst prevData = $('Format Approval').first().json;\n\n// Check if approved (webhook body should contain { approved: true/false })\nconst approved = webhookData.body?.approved === true || webhookData.approved === true;\nconst reason = webhookData.body?.reason || webhookData.reason || '';\nconst isPlan = prevData.is_plan;\n\nprevData.state.approvals.push({\n  approval_id: prevData.approval_request?.approval_id,\n  action_type: prevData.action_type,\n  is_plan: isPlan,\n  approved: approved,\n  reason: reason,\n  responded_at: new Date().toISOString()\n});\n\nif (approved) {\n  if (isPlan) {\n    // Plan approved - add plan to context and instruct agent to execute\n    // Set approval_granted FALSE so it routes to Prepare API (loop back)\n    prevData.state.plan_approved = true;\n    const plan = prevData.action_input;\n    const stepsFormatted = plan.steps.map((s, i) => `Step ${i+1}: ${s}`).join('\\n');\n    prevData.state.messages.push({ \n      role: 'user', \n      content: `✅ Plan approved! Now execute the following plan step by step:\\n\\n${stepsFormatted}\\n\\nStart with Step 1. After completing each step, proceed to the next. When all steps are complete, include TASK_COMPLETE.`\n    });\n    // Route to Prepare API to continue execution\n    return { json: { ...prevData, approval_granted: false, action_type: 'plan_approved', continue_loop: true } };\n  } else {\n    // Regular action approved - continue to tool execution\n    return { json: { ...prevData, approval_granted: true, continue_loop: true } };\n  }\n} else {\n  // Denied - add message to conversation and continue\n  if (isPlan) {\n    prevData.state.messages.push({ \n      role: 'user', \n      content: `❌ Plan rejected.${reason ? ' Reason: ' + reason : ''} Please revise your plan based on the feedback and create a new plan.`\n    });\n  } else {\n    prevData.state.messages.push({ \n      role: 'user', \n      content: `Tool call denied by human operator.${reason ? ' Reason: ' + reason : ''} Please try a different approach.`\n    });\n  }\n  return { json: { ...prevData, approval_granted: false, action_type: 'approval_denied', continue_loop: true } };\n}"
      },
      "id": "process-approval",
      "name": "Process Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.approval_granted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "approval-granted",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2208,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "file_read",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "file_read",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "file_write",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "file_write",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "file_edit",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "file_edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "command",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "command",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "git_status",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "git_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "web_fetch",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "web_fetch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "grep",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "grep",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "glob",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "glob",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "web_search",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "web_search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "todo",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "todo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "checkpoint",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "checkpoint",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "complete",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "error",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ],
          "fallbackOutput": "dynamic_route"
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "tool-router",
      "name": "Tool Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1552,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/files/read",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "file-read",
      "name": "File Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/files/write",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "file-write",
      "name": "File Write",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        224
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/files/edit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "file-edit",
      "name": "File Edit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        352
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/command/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "command-exec",
      "name": "Command",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        464
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/git/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "git-status",
      "name": "Git Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        592
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/web/fetch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "web-fetch",
      "name": "Web Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        704
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/search/grep",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "grep-search",
      "name": "Grep Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        832
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/files/glob",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "glob-find",
      "name": "Glob Find",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        944
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\n\nlet prev;\ntry {\n  prev = $('Parse Response').first().json;\n} catch(e) {\n  try {\n    prev = $('Process Approval').first().json;\n  } catch(e2) {\n    prev = $('Approved?').first().json;\n  }\n}\n\nlet obs = '';\nif (r.success) {\n  if (r.content !== undefined) {\n    obs = `File content:\\n${r.content}`;\n  } else if (r.stdout !== undefined) {\n    obs = `Command output:\\n${r.stdout}${r.stderr ? '\\nStderr: ' + r.stderr : ''}`;\n  } else if (r.branch !== undefined) {\n    obs = `Git status:\\nBranch: ${r.branch}\\nClean: ${r.clean}\\nStaged: ${JSON.stringify(r.staged)}\\nUnstaged: ${JSON.stringify(r.unstaged)}\\nUntracked: ${JSON.stringify(r.untracked)}`;\n  } else if (r.text !== undefined) {\n    obs = `Web content (${r.status_code}):\\n${r.text.substring(0, 5000)}`;\n  } else if (r.bytes_written !== undefined) {\n    obs = `File written: ${r.path} (${r.bytes_written} bytes)`;\n  } else if (r.lines_modified !== undefined) {\n    obs = `File edited: ${r.path} (${r.lines_modified} edits applied)`;\n  } else if (r.matches !== undefined) {\n    obs = `Search results (${r.match_count} matches):\\n${r.matches.slice(0, 20).map(m => `${m.file}:${m.line_number}: ${m.text}`).join('\\n')}`;\n  } else if (r.files !== undefined) {\n    obs = `Found ${r.count} files:\\n${r.files.slice(0, 30).map(f => f.relative_path || f.path).join('\\n')}`;\n  } else if (r.results !== undefined) {\n    // Web search results\n    obs = `Web search results (${r.count} found):\\n${r.results.slice(0, 10).map((s, i) => `${i+1}. ${s.title}\\n   ${s.url}\\n   ${s.snippet}`).join('\\n\\n')}`;\n  } else if (r.checkpoint !== undefined) {\n    obs = `Checkpoint saved: ${r.checkpoint} for session ${r.session_id}`;\n  } else if (r.todos !== undefined) {\n    obs = `Todo list (${r.todos.length} items):\\n${r.todos.map(t => `- [${t.status}] ${t.content}`).join('\\n')}`;\n  } else if (r.message) {\n    obs = `Success: ${r.message}`;\n  } else {\n    obs = `Result: ${JSON.stringify(r).substring(0, 2000)}`;\n  }\n} else {\n  // Handle structured error format\n  let errorMsg;\n  if (typeof r.error === 'object' && r.error !== null) {\n    // New structured error format\n    errorMsg = r.error.message || r.error_message || JSON.stringify(r.error);\n    if (r.error.suggestion) {\n      errorMsg += `\\nSuggestion: ${r.error.suggestion}`;\n    }\n  } else if (typeof r.error === 'string') {\n    errorMsg = r.error;\n  } else if (r.error_message) {\n    errorMsg = r.error_message;\n  } else {\n    errorMsg = JSON.stringify(r).substring(0, 500);\n  }\n  obs = `Error: ${errorMsg}`;\n}\n\nprev.state.messages.push({ role: 'user', content: `Tool result:\\n${obs}` });\nprev.state.iteration++;\nprev.state.history.push({ action: prev.action_type, success: r.success, iteration: prev.state.iteration });\n\nconst cont = prev.state.iteration < prev.config.max_iterations;\n\nreturn { json: { ...prev, last_observation: obs, continue_loop: cont } };"
      },
      "id": "handle-tool-result",
      "name": "Handle Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.continue_loop }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "continue-check",
      "name": "Continue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2208,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst isBackgroundExecution = d._background_execution === true;\nconst originalTaskId = d._original_task_id;\n\nconst response = {\n  session_id: d.session_id,\n  task_id: originalTaskId || d.task_id || null,\n  agent_id: d.agent.id,\n  provider: d.agent.provider,\n  status: d.action_type === 'error' ? 'failed' : 'completed',\n  iterations: d.state?.iteration || 0,\n  result: d.result || d.error || 'Done',\n  history: d.state?.history || [],\n  approvals: d.state?.approvals || [],\n  background_mode: d.background_mode || false,\n  is_background_execution: isBackgroundExecution\n};\n\n// If background mode, include session_state for easy continuation\nif (d.background_mode) {\n  response.session_state = {\n    session_id: d.session_id,\n    agent: d.agent,\n    task: d.task,\n    config: d.config,\n    state: d.state\n  };\n}\n\n// If this is a background execution, we need to update the task result\n// The actual HTTP call to update will be done by the next node\nif (isBackgroundExecution && originalTaskId) {\n  response._update_task = {\n    task_id: originalTaskId,\n    status: response.status,\n    result: response.result,\n    iterations: response.iterations\n  };\n}\n\nreturn { json: response };"
      },
      "id": "final-response",
      "name": "Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        1104
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/search/web",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "web-search",
      "name": "Web Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        1072
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://localhost:5010/todo/' + ($json.action_input?.operation || 'list') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({...($json.action_input || {}), session_id: $json.session_id}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "todo-ops",
      "name": "Todo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        1184
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/session/save",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: $json.session_id || $json.state?.session_id, session_state: { session_id: $json.session_id, agent: $json.agent, task: $json.task, config: $json.config, state: $json.state }, checkpoint_name: $json.action_input?.name || 'default' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "checkpoint-save",
      "name": "Checkpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        1312
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_resume }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-resume",
      "name": "Resume?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/session/load",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: $json.session_id, checkpoint_name: $json.checkpoint_name || 'default' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "load-checkpoint",
      "name": "Load Checkpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const checkpointData = $input.first().json;\nconst parseRequest = $('Resume?').first().json;\n\nif (!checkpointData.success) {\n  return {\n    json: {\n      is_debug: false,\n      action_type: 'error',\n      error: checkpointData.error?.message || 'Failed to load checkpoint',\n      continue_loop: false\n    }\n  };\n}\n\n// Restore state from checkpoint\nconst savedState = checkpointData.session_state;\nconst resumeMessage = parseRequest.resume_message || 'Resuming from checkpoint';\n\n// Add resume message to conversation\nsavedState.state.messages.push({ role: 'user', content: resumeMessage });\n\n// Increment iteration\nsavedState.state.iteration = (savedState.state.iteration || 0) + 1;\n\nreturn {\n  json: {\n    is_debug: false,\n    session_id: savedState.session_id,\n    agent: savedState.agent,\n    task: savedState.task,\n    config: savedState.config,\n    state: savedState.state,\n    is_continuation: true,\n    resumed_from_checkpoint: checkpointData.checkpoint\n  }\n};"
      },
      "id": "restore-state",
      "name": "Restore State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.background_mode }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json._background_execution }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-background",
      "name": "Background?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        352,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/task/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task_id: $json.task_id, session_id: $json.session_id, objective: $json.task?.objective || 'Background task' }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "create-task-bg",
      "name": "Create BG Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/agent/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ...JSON.parse(JSON.stringify($('Background?').first().json)), background: false, _background_execution: true, _original_task_id: $json.task_id }) }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "timeout": 5000
        }
      },
      "id": "trigger-background",
      "name": "Trigger Background",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const taskData = $('Create BG Task').first().json;\nconst parsed = $('Background?').first().json;\n\nreturn {\n  json: {\n    status: 'accepted',\n    message: 'Task submitted for background execution',\n    task_id: parsed.task_id,\n    session_id: parsed.session_id,\n    objective: parsed.task?.objective,\n    poll_url: '/task/status',\n    result_url: '/task/result'\n  }\n};"
      },
      "id": "bg-response",
      "name": "Background Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/task/update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._update_task ? JSON.stringify($json._update_task) : '{}' }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "update-bg-task",
      "name": "Update BG Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        1008
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json._update_task }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-bg-update",
      "name": "Update Task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1968,
        1056
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return the Final Response output\n// This node receives data from two paths:\n// 1. Update Task? false branch (when no task update needed)\n// 2. Update BG Task (after updating background task)\n\n// Get the Final Response data - it's always in the chain\nconst finalResp = $('Final Response').first().json;\n\n// Remove internal fields before returning\nconst response = { ...finalResp };\ndelete response._update_task;\n\nreturn { json: response };"
      },
      "id": "return-response",
      "name": "Return Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        1056
      ]
    },
    {
      "id": "dynamic-tool-router",
      "name": "Dynamic Tool Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        350
      ],
      "parameters": {
        "jsCode": "// Dynamic Tool Router - maps action_type to Bridge API endpoint\nconst input = $input.first().json;\nconst actionType = input.action_type;\nconst actionInput = input.action_input;\n\n// Tool category mappings - maps action_type to API endpoint\nconst toolRoutes = {\n  // Core file operations\n  file_read: { url: '/files/read', method: 'POST' },\n  file_write: { url: '/files/write', method: 'POST' },\n  file_edit: { url: '/files/edit', method: 'POST' },\n  \n  // Commands\n  command: { url: '/command', method: 'POST' },\n  \n  // Git operations\n  git_status: { url: '/git/status', method: 'POST' },\n  git_clone: { url: '/git/clone', method: 'POST' },\n  git_pull: { url: '/git/pull', method: 'POST' },\n  git_branch: { url: '/git/branch', method: 'POST' },\n  git_log: { url: '/git/log', method: 'POST' },\n  \n  // Web operations\n  web_fetch: { url: '/web/fetch', method: 'POST' },\n  web_search: { url: '/web/search', method: 'POST' },\n  \n  // Search operations\n  grep: { url: '/search/grep', method: 'POST' },\n  glob: { url: '/search/glob', method: 'POST' },\n  \n  // Task management\n  todo: { url: '/todo', method: 'POST' },\n  checkpoint: { url: '/session/save', method: 'POST' },\n  \n  // Gmail integration\n  gmail_list: { url: '/gmail/list', method: 'POST' },\n  gmail_read: { url: '/gmail/read', method: 'POST' },\n  gmail_send: { url: '/gmail/send', method: 'POST' },\n  gmail_search: { url: '/gmail/search', method: 'POST' },\n  \n  // Google Sheets integration\n  sheets_read: { url: '/sheets/read', method: 'POST' },\n  sheets_write: { url: '/sheets/write', method: 'POST' },\n  sheets_append: { url: '/sheets/append', method: 'POST' },\n  \n  // SMS/Twilio integration\n  sms_send: { url: '/sms/send', method: 'POST' },\n  sms_list: { url: '/sms/list', method: 'POST' },\n  \n  // ClickUp CRM integration\n  clickup_list_tasks: { url: '/clickup/list-tasks', method: 'POST' },\n  clickup_create_task: { url: '/clickup/create-task', method: 'POST' },\n  clickup_update_task: { url: '/clickup/update-task', method: 'POST' },\n  \n  // n8n workflow management\n  n8n_list_workflows: { url: '/n8n/list-workflows', method: 'POST' },\n  n8n_get_workflow: { url: '/n8n/get-workflow', method: 'POST' },\n  n8n_create_workflow: { url: '/n8n/create-workflow', method: 'POST' },\n  n8n_update_workflow: { url: '/n8n/update-workflow', method: 'POST' },\n  n8n_activate_workflow: { url: '/n8n/activate-workflow', method: 'POST' },\n  n8n_execute_workflow: { url: '/n8n/execute-workflow', method: 'POST' },\n  \n  // Terminal operations\n  terminal_multi_command: { url: '/terminal/multi-command', method: 'POST' },\n  terminal_script: { url: '/terminal/script', method: 'POST' },\n  \n  // Meta-agent operations\n  meta_capabilities: { url: '/meta/capabilities', method: 'POST' },\n  meta_discover: { url: '/meta/discover', method: 'POST' },\n  meta_create_tool: { url: '/meta/create-tool', method: 'POST' },\n  meta_learn_error: { url: '/meta/learn-error', method: 'POST' },\n  meta_find_solution: { url: '/meta/find-solution', method: 'POST' },\n  meta_introspect: { url: '/meta/introspect', method: 'POST' },\n  meta_suggest: { url: '/meta/suggest', method: 'POST' },\n  \n  // Agent operations\n  agent_build_workflow: { url: '/agent/build-workflow', method: 'POST' }\n};\n\n// Special action types that don't go to Bridge API\nconst specialActions = ['complete', 'error', 'plan'];\n\nif (specialActions.includes(actionType)) {\n  return {\n    json: {\n      ...input,\n      is_special_action: true,\n      skip_http_call: true,\n      route_type: actionType\n    }\n  };\n}\n\nconst route = toolRoutes[actionType];\n\nif (!route) {\n  // Unknown tool - try dynamic routing based on prefix\n  let inferredUrl = '/tools/' + actionType.replace(/_/g, '-');\n  return {\n    json: {\n      ...input,\n      api_url: 'http://localhost:5010' + inferredUrl,\n      api_method: 'POST',\n      api_body: actionInput,\n      is_special_action: false,\n      skip_http_call: false,\n      tool_found: false,\n      inferred_route: inferredUrl\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...input,\n    api_url: 'http://localhost:5010' + route.url,\n    api_method: route.method,\n    api_body: actionInput,\n    is_special_action: false,\n    skip_http_call: false,\n    tool_found: true\n  }\n};"
      }
    },
    {
      "id": "universal-tool-executor",
      "name": "Universal Tool Executor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        350
      ],
      "parameters": {
        "method": "={{ $json.api_method }}",
        "url": "={{ $json.api_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.api_body) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "check-special-action",
      "name": "Special Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        550
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_special_action }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "handle-special-action",
      "name": "Handle Special Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        650
      ],
      "parameters": {
        "jsCode": "// Handle special actions (complete, error, plan)\nconst input = $input.first().json;\nconst routeType = input.route_type;\n\nif (routeType === 'complete') {\n  return {\n    json: {\n      ...input,\n      tool_result: {\n        success: true,\n        status: 'task_complete',\n        message: 'Task completed successfully'\n      }\n    }\n  };\n}\n\nif (routeType === 'error') {\n  return {\n    json: {\n      ...input,\n      tool_result: {\n        success: false,\n        status: 'error',\n        error: input.action_input?.message || 'Unknown error'\n      }\n    }\n  };\n}\n\nif (routeType === 'plan') {\n  return {\n    json: {\n      ...input,\n      tool_result: {\n        success: true,\n        status: 'plan_created',\n        plan: input.action_input\n      }\n    }\n  };\n}\n\nreturn { json: { ...input, tool_result: { status: 'unknown_action' } } };"
      }
    },
    {
      "id": "merge-tool-results",
      "name": "Merge Tool Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2160,
        450
      ],
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1",
        "options": {}
      }
    },
    {
      "id": "format-tool-result",
      "name": "Format Tool Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        450
      ],
      "parameters": {
        "jsCode": "// Format tool result from either Universal Tool Executor or Handle Special Action\nconst input = $input.first().json;\n\n// Get the original data from Dynamic Tool Router\nconst originalData = $('Dynamic Tool Router').first().json;\n\nlet toolResult;\n\n// Check if this came from the special action path\nif (input.tool_result) {\n  toolResult = input.tool_result;\n} else {\n  // This came from the HTTP executor - the response is the tool result\n  toolResult = input;\n}\n\n// Format the result for the agent loop\nreturn {\n  json: {\n    session_id: originalData.session_id,\n    agent: originalData.agent,\n    task: originalData.task,\n    config: originalData.config,\n    state: originalData.state,\n    action_type: originalData.action_type,\n    action_input: originalData.action_input,\n    tool_result: toolResult,\n    tool_success: toolResult.success !== false && !toolResult.error,\n    _background_execution: originalData._background_execution,\n    _original_task_id: originalData._original_task_id\n  }\n};"
      }
    },
    {
      "id": "health-check",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        600
      ],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:5010/health",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "check-api-health",
      "name": "API Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        300,
        600
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status === 'healthy' || $json.status === 'ok' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "api-unavailable",
      "name": "API Unavailable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        700
      ],
      "parameters": {
        "jsCode": "return {\n  json: {\n    success: false,\n    error: 'Bridge API is not available',\n    error_type: 'SERVICE_UNAVAILABLE',\n    message: 'The Python Bridge API at localhost:5010 is not responding. Please ensure the service is running.',\n    suggestions: [\n      'SSH to EC2 and run: python3 /home/ec2-user/dev-sandbox/execution/agent_bridge_api.py &',\n      'Check if port 5010 is in use: netstat -tlnp | grep 5010',\n      'Check API logs for errors'\n    ],\n    timestamp: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "retry-with-backoff",
      "name": "Retry With Backoff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ],
      "parameters": {
        "jsCode": "// Exponential backoff retry logic\nconst input = $input.first().json;\nconst maxRetries = 3;\nconst baseDelay = 1000; // 1 second\n\n// Get current retry count from state\nlet retryCount = input.state?.retry_count || 0;\nconst lastError = input.tool_result?.error || input.error;\n\n// Check if error is retryable\nconst retryableErrors = ['ECONNRESET', 'ETIMEDOUT', 'ECONNREFUSED', 'rate limit', 'timeout', 'temporary'];\nconst isRetryable = retryableErrors.some(e => \n  (lastError?.toLowerCase() || '').includes(e.toLowerCase())\n);\n\nif (!isRetryable || retryCount >= maxRetries) {\n  // Not retryable or max retries reached\n  return {\n    json: {\n      ...input,\n      should_retry: false,\n      retry_exhausted: retryCount >= maxRetries,\n      final_error: lastError\n    }\n  };\n}\n\n// Calculate delay with exponential backoff\nconst delay = baseDelay * Math.pow(2, retryCount);\n\n// Update retry count in state\nif (!input.state) input.state = {};\ninput.state.retry_count = retryCount + 1;\n\nreturn {\n  json: {\n    ...input,\n    should_retry: true,\n    retry_count: retryCount + 1,\n    retry_delay_ms: delay,\n    retry_message: `Retrying in ${delay}ms (attempt ${retryCount + 1}/${maxRetries})`\n  }\n};"
      }
    },
    {
      "id": "execution-metrics",
      "name": "Track Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        600
      ],
      "parameters": {
        "jsCode": "// Track execution metrics\nconst input = $input.first().json;\nconst startTime = input.state?.start_time || Date.now();\nconst endTime = Date.now();\n\n// Calculate metrics\nconst metrics = {\n  execution_id: input.session_id,\n  total_duration_ms: endTime - startTime,\n  total_iterations: input.state?.iteration || 0,\n  tool_calls: input.state?.cost_tracker?.tool_calls || 0,\n  tokens_used: {\n    input: input.state?.cost_tracker?.input_tokens || 0,\n    output: input.state?.cost_tracker?.output_tokens || 0,\n    total: (input.state?.cost_tracker?.input_tokens || 0) + (input.state?.cost_tracker?.output_tokens || 0)\n  },\n  estimated_cost_usd: input.state?.cost_tracker?.total_cost || 0,\n  success: input.success !== false,\n  errors_encountered: input.state?.errors_learned || 0,\n  meta_discoveries: input.state?.meta_discoveries || 0,\n  template_used: input.template_used || 'custom',\n  persona_used: input.persona_used || 'none',\n  timestamp: new Date().toISOString()\n};\n\n// Log metrics to console (visible in n8n execution logs)\nconsole.log('EXECUTION_METRICS:', JSON.stringify(metrics));\n\nreturn {\n  json: {\n    ...input,\n    metrics\n  }\n};"
      }
    },
    {
      "id": "check-auth",
      "name": "Check Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        300
      ],
      "parameters": {
        "jsCode": "// API Key Authentication Check\nconst input = $input.first().json;\nconst headers = input.headers || {};\n\n// Get API key from environment or use default for development\nconst validApiKeys = [\n  process.env.AGENT_API_KEY,\n  'dev-key-12345',  // Development key\n  'marceau-agent-key-2026'  // Production key\n].filter(Boolean);\n\nconst providedKey = headers['x-api-key'] || headers['authorization']?.replace('Bearer ', '') || input.body?.api_key;\n\n// Skip auth for debug requests\nif (input.body?.debug === true) {\n  return { json: { ...input, auth_valid: true, auth_skipped: true } };\n}\n\n// Validate API key\nconst isValid = validApiKeys.includes(providedKey) || providedKey === undefined; // Allow no key for now\n\nreturn {\n  json: {\n    ...input,\n    auth_valid: isValid,\n    auth_key_provided: !!providedKey\n  }\n};"
      }
    },
    {
      "id": "auth-failed",
      "name": "Auth Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ],
      "parameters": {
        "jsCode": "return {\n  json: {\n    success: false,\n    error: 'UNAUTHORIZED',\n    message: 'Invalid or missing API key. Provide a valid key in the x-api-key header.',\n    timestamp: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "smart-cache",
      "name": "Smart Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        100
      ],
      "parameters": {
        "jsCode": "// Smart caching for tool results\nconst input = $input.first().json;\nconst actionType = input.action_type;\nconst actionInput = JSON.stringify(input.action_input);\n\n// Cache key based on tool + input\nconst cacheKey = `${actionType}:${actionInput}`.substring(0, 200);\n\n// Cacheable tools (read-only operations)\nconst cacheableTools = ['file_read', 'grep', 'glob', 'git_status', 'sheets_read', 'gmail_list', 'clickup_list_tasks', 'n8n_list_workflows', 'meta_capabilities'];\n\n// Check if this tool is cacheable\nconst isCacheable = cacheableTools.includes(actionType);\n\n// For now, pass through - actual caching would require external storage\n// This marks results as cacheable for potential future caching layer\nreturn {\n  json: {\n    ...input,\n    cache: {\n      key: cacheKey,\n      cacheable: isCacheable,\n      ttl_seconds: isCacheable ? 300 : 0  // 5 min TTL for cacheable tools\n    }\n  }\n};"
      }
    },
    {
      "id": "rate-limiter",
      "name": "Rate Limiter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        200
      ],
      "parameters": {
        "jsCode": "// Token bucket rate limiter\nconst input = $input.first().json;\nconst sessionId = input.session_id;\n\n// Rate limit config\nconst maxRequests = 20;  // Max requests per window\nconst windowMs = 60000;   // 1 minute window\n\n// Get or initialize rate limit state\nlet rateLimitState = input.state?.rate_limit || {\n  requests: 0,\n  window_start: Date.now()\n};\n\nconst now = Date.now();\nconst windowElapsed = now - rateLimitState.window_start;\n\n// Reset window if expired\nif (windowElapsed >= windowMs) {\n  rateLimitState = { requests: 0, window_start: now };\n}\n\n// Check if rate limited\nconst isRateLimited = rateLimitState.requests >= maxRequests;\n\nif (isRateLimited) {\n  const retryAfter = Math.ceil((windowMs - windowElapsed) / 1000);\n  return {\n    json: {\n      ...input,\n      rate_limited: true,\n      retry_after_seconds: retryAfter,\n      message: `Rate limit exceeded. Retry after ${retryAfter} seconds.`\n    }\n  };\n}\n\n// Increment request count\nrateLimitState.requests++;\n\n// Update state\nif (!input.state) input.state = {};\ninput.state.rate_limit = rateLimitState;\n\nreturn {\n  json: {\n    ...input,\n    rate_limited: false,\n    requests_remaining: maxRequests - rateLimitState.requests\n  }\n};"
      }
    },
    {
      "id": "error-reporter",
      "name": "Report to Error Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/error/handle",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow\": {\n    \"id\": \"1s52PkA1lY1lHfGP\",\n    \"name\": \"Universal-Agent-Orchestrator\"\n  },\n  \"execution\": {\n    \"id\": \"{{ $json.session_id }}\"\n  },\n  \"node\": {\n    \"name\": \"{{ $json.last_tool || 'Unknown' }}\",\n    \"type\": \"tool-execution\"\n  },\n  \"error\": {\n    \"message\": \"{{ $json.error || $json.final_error || 'Unknown error' }}\",\n    \"name\": \"{{ $json.error_type || 'ToolError' }}\"\n  },\n  \"retryCount\": {{ $json.state?.retry_count || 0 }}\n}",
        "options": {
          "timeout": 10000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "circuit-breaker",
      "name": "Circuit Breaker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        200
      ],
      "parameters": {
        "jsCode": "// Circuit Breaker Pattern - Prevents cascade failures\nconst input = $input.first().json;\nconst now = Date.now();\n\n// Circuit breaker state (would be persisted in production)\nconst circuitState = {\n  failures: $env.CIRCUIT_FAILURES || 0,\n  lastFailure: $env.CIRCUIT_LAST_FAILURE || 0,\n  state: $env.CIRCUIT_STATE || 'closed', // closed, open, half-open\n  threshold: 5,  // Open circuit after 5 failures\n  timeout: 30000, // 30 seconds before trying again\n  halfOpenRequests: 0,\n  maxHalfOpenRequests: 3\n};\n\n// Check if circuit should transition\nif (circuitState.state === 'open') {\n  if (now - circuitState.lastFailure > circuitState.timeout) {\n    circuitState.state = 'half-open';\n    circuitState.halfOpenRequests = 0;\n  } else {\n    return {\n      json: {\n        ...input,\n        circuit_breaker: {\n          state: 'open',\n          blocked: true,\n          retry_after_ms: circuitState.timeout - (now - circuitState.lastFailure),\n          message: 'Circuit breaker is OPEN - too many failures. Retry later.'\n        }\n      }\n    };\n  }\n}\n\nif (circuitState.state === 'half-open') {\n  if (circuitState.halfOpenRequests >= circuitState.maxHalfOpenRequests) {\n    return {\n      json: {\n        ...input,\n        circuit_breaker: {\n          state: 'half-open',\n          blocked: true,\n          message: 'Circuit breaker is testing - max half-open requests reached.'\n        }\n      }\n    };\n  }\n  circuitState.halfOpenRequests++;\n}\n\nreturn {\n  json: {\n    ...input,\n    circuit_breaker: {\n      state: circuitState.state,\n      blocked: false,\n      failures: circuitState.failures,\n      message: `Circuit ${circuitState.state} - request allowed`\n    }\n  }\n};"
      }
    },
    {
      "id": "request-validator",
      "name": "Request Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        350
      ],
      "parameters": {
        "jsCode": "// Request Validator - Validates incoming requests\nconst input = $input.first().json;\nconst body = input.body || input;\n\nconst errors = [];\nconst warnings = [];\n\n// Required field validation\nif (!body.task && !body.debug) {\n  errors.push('Missing required field: task');\n}\n\n// Task validation\nif (body.task) {\n  if (typeof body.task === 'string') {\n    if (body.task.length < 3) {\n      errors.push('Task description too short (min 3 chars)');\n    }\n    if (body.task.length > 10000) {\n      errors.push('Task description too long (max 10000 chars)');\n    }\n  } else if (typeof body.task === 'object') {\n    if (!body.task.objective) {\n      errors.push('Task object missing objective field');\n    }\n  }\n}\n\n// Config validation\nif (body.config) {\n  if (body.config.max_iterations && (body.config.max_iterations < 1 || body.config.max_iterations > 100)) {\n    errors.push('max_iterations must be between 1 and 100');\n  }\n  if (body.config.timeout && body.config.timeout > 600000) {\n    warnings.push('Timeout exceeds 10 minutes - may hit system limits');\n  }\n}\n\n// Template validation\nconst validTemplates = ['coder', 'researcher', 'analyst', 'writer', 'devops', 'orchestrator'];\nif (body.template && !validTemplates.includes(body.template)) {\n  errors.push(`Invalid template: ${body.template}. Valid: ${validTemplates.join(', ')}`);\n}\n\n// Persona validation\nconst validPersonas = ['senior_engineer', 'rapid_prototyper', 'research_analyst', 'devops_specialist'];\nif (body.persona && !validPersonas.includes(body.persona)) {\n  errors.push(`Invalid persona: ${body.persona}. Valid: ${validPersonas.join(', ')}`);\n}\n\n// Input sanitization - remove potential injection attempts\nconst sanitized = { ...body };\nif (sanitized.task && typeof sanitized.task === 'string') {\n  // Remove dangerous patterns\n  sanitized.task = sanitized.task\n    .replace(/\\$\\(.*?\\)/g, '[REMOVED_SUBSHELL]')\n    .replace(/`.*?`/g, '[REMOVED_BACKTICK]')\n    .replace(/\\|\\|/g, '[REMOVED_OR]')\n    .replace(/&&/g, '[REMOVED_AND]');\n}\n\nconst isValid = errors.length === 0;\n\nreturn {\n  json: {\n    ...input,\n    body: sanitized,\n    validation: {\n      valid: isValid,\n      errors: errors,\n      warnings: warnings,\n      sanitized: sanitized.task !== body.task\n    }\n  }\n};"
      }
    },
    {
      "id": "validation-check",
      "name": "Valid Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -220,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.validation.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "invalid-request",
      "name": "Invalid Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        650
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nreturn {\n  json: {\n    success: false,\n    error: 'VALIDATION_ERROR',\n    message: 'Request validation failed',\n    errors: input.validation.errors,\n    warnings: input.validation.warnings,\n    timestamp: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "priority-queue",
      "name": "Priority Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        800
      ],
      "parameters": {
        "jsCode": "// Priority Queue - Assigns and manages task priority\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// Priority levels\nconst PRIORITY = {\n  CRITICAL: 1,   // System emergencies, errors\n  HIGH: 2,       // User-flagged urgent tasks\n  NORMAL: 3,     // Standard requests\n  LOW: 4,        // Background tasks\n  BATCH: 5       // Bulk/batch operations\n};\n\n// Determine priority based on request characteristics\nlet priority = PRIORITY.NORMAL;\nlet priorityReason = 'default';\n\n// Check for explicit priority\nif (body.priority) {\n  if (typeof body.priority === 'number' && body.priority >= 1 && body.priority <= 5) {\n    priority = body.priority;\n    priorityReason = 'explicit';\n  } else if (typeof body.priority === 'string') {\n    priority = PRIORITY[body.priority.toUpperCase()] || PRIORITY.NORMAL;\n    priorityReason = 'explicit_string';\n  }\n}\n\n// Auto-detect priority from task content\nconst taskText = (typeof body.task === 'string' ? body.task : body.task?.objective || '').toLowerCase();\n\nif (taskText.includes('urgent') || taskText.includes('asap') || taskText.includes('emergency')) {\n  priority = Math.min(priority, PRIORITY.HIGH);\n  priorityReason = 'detected_urgent';\n}\n\nif (taskText.includes('critical') || taskText.includes('production') || taskText.includes('outage')) {\n  priority = PRIORITY.CRITICAL;\n  priorityReason = 'detected_critical';\n}\n\nif (body.background === true || taskText.includes('batch') || taskText.includes('bulk')) {\n  priority = Math.max(priority, PRIORITY.BATCH);\n  priorityReason = 'detected_batch';\n}\n\n// Calculate estimated wait time based on priority (mock)\nconst estimatedWaitMs = priority * 100; // Higher priority = shorter wait\n\nreturn {\n  json: {\n    ...input,\n    priority_queue: {\n      priority: priority,\n      priority_name: Object.keys(PRIORITY).find(k => PRIORITY[k] === priority),\n      reason: priorityReason,\n      estimated_wait_ms: estimatedWaitMs,\n      queued_at: new Date().toISOString()\n    }\n  }\n};"
      }
    },
    {
      "id": "deduplication",
      "name": "Request Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        950
      ],
      "parameters": {
        "jsCode": "// Request Deduplication - Prevents duplicate task processing\nconst input = $input.first().json;\nconst body = input.body || input;\nconst crypto = require('crypto');\n\n// Generate request fingerprint\nconst taskContent = typeof body.task === 'string' ? body.task : JSON.stringify(body.task);\nconst fingerprintData = [\n  taskContent,\n  body.template || '',\n  body.persona || '',\n  body.session_id || ''\n].join('|');\n\nconst fingerprint = crypto.createHash('md5').update(fingerprintData).digest('hex');\n\n// Check for recent duplicates (would use Redis/cache in production)\n// For now, we'll generate a unique request ID\nconst requestId = `req_${Date.now().toString(36)}_${fingerprint.substring(0, 8)}`;\n\n// Idempotency key from client\nconst idempotencyKey = body.idempotency_key || null;\n\nreturn {\n  json: {\n    ...input,\n    deduplication: {\n      fingerprint: fingerprint,\n      request_id: requestId,\n      idempotency_key: idempotencyKey,\n      is_duplicate: false, // Would check cache in production\n      first_seen: new Date().toISOString()\n    }\n  }\n};"
      }
    },
    {
      "id": "dead-letter-queue",
      "name": "Dead Letter Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/dlq/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"request_id\": \"{{ $json.deduplication?.request_id || 'unknown' }}\",\n  \"original_task\": {{ JSON.stringify($json.task) }},\n  \"error\": \"{{ $json.error_message || 'Unknown error' }}\",\n  \"retry_count\": {{ $json.retry_count || 0 }},\n  \"max_retries\": 3,\n  \"next_retry_at\": \"{{ new Date(Date.now() + 60000).toISOString() }}\",\n  \"created_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "timeout": 5000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "graceful-degradation",
      "name": "Graceful Degradation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        750
      ],
      "parameters": {
        "jsCode": "// Graceful Degradation - Fallback when services unavailable\nconst input = $input.first().json;\n\n// Check which services are available\nconst serviceStatus = {\n  bridge_api: input.circuit_breaker?.state === 'closed',\n  claude_api: true, // Assume available unless known otherwise\n  gmail: true,\n  sheets: true,\n  sms: true\n};\n\n// Determine degradation level\nlet degradationLevel = 'none';\nlet availableFeatures = [];\nlet unavailableFeatures = [];\n\nif (!serviceStatus.bridge_api) {\n  degradationLevel = 'partial';\n  unavailableFeatures.push('tool_execution', 'file_operations', 'command_execution');\n  availableFeatures.push('conversation', 'planning');\n}\n\n// Fallback mode configuration\nconst fallbackConfig = {\n  level: degradationLevel,\n  message: degradationLevel === 'none'\n    ? 'All services operational'\n    : `Operating in ${degradationLevel} degradation mode`,\n  available: availableFeatures,\n  unavailable: unavailableFeatures,\n  recommended_action: degradationLevel === 'none' ? null : 'Retry in 60 seconds'\n};\n\nreturn {\n  json: {\n    ...input,\n    degradation: fallbackConfig\n  }\n};"
      }
    },
    {
      "id": "batch-processor",
      "name": "Batch Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        400
      ],
      "parameters": {
        "jsCode": "// Batch Processor - Handle multiple tasks in single request\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// Check if this is a batch request\nconst isBatch = Array.isArray(body.tasks) && body.tasks.length > 0;\n\nif (!isBatch) {\n  // Single task - pass through\n  return {\n    json: {\n      ...input,\n      batch: {\n        is_batch: false,\n        task_count: 1,\n        current_index: 0\n      }\n    }\n  };\n}\n\n// Batch request - process each task\nconst tasks = body.tasks;\nconst batchId = `batch_${Date.now().toString(36)}`;\n\n// Return all tasks as separate items for parallel processing\nconst items = tasks.map((task, index) => ({\n  json: {\n    ...input,\n    body: {\n      ...body,\n      task: task,\n      tasks: undefined // Remove tasks array\n    },\n    batch: {\n      is_batch: true,\n      batch_id: batchId,\n      task_count: tasks.length,\n      current_index: index,\n      parallel: body.batch_parallel !== false\n    }\n  }\n}));\n\nreturn items;"
      }
    },
    {
      "id": "batch-aggregator",
      "name": "Batch Aggregator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        900
      ],
      "parameters": {
        "jsCode": "// Batch Results Aggregator - Combine results from batch processing\nconst items = $input.all();\n\n// Check if this was a batch request\nconst firstItem = items[0]?.json;\nif (!firstItem?.batch?.is_batch) {\n  // Single task - pass through\n  return items;\n}\n\n// Aggregate batch results\nconst batchId = firstItem.batch.batch_id;\nconst results = items.map((item, index) => ({\n  index: index,\n  success: item.json.success !== false,\n  result: item.json.result || item.json,\n  error: item.json.error || null\n}));\n\nconst successCount = results.filter(r => r.success).length;\nconst failureCount = results.filter(r => !r.success).length;\n\nreturn {\n  json: {\n    batch_id: batchId,\n    total_tasks: results.length,\n    successful: successCount,\n    failed: failureCount,\n    success_rate: (successCount / results.length * 100).toFixed(1) + '%',\n    results: results,\n    completed_at: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "timeout-handler",
      "name": "Timeout Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        450
      ],
      "parameters": {
        "jsCode": "// Timeout Handler - Manage request timeouts gracefully\nconst input = $input.first().json;\n\nconst config = input.config || {};\nconst startTime = input.deduplication?.first_seen || new Date().toISOString();\nconst elapsedMs = Date.now() - new Date(startTime).getTime();\n\nconst timeoutMs = config.timeout || 120000; // Default 2 minutes\nconst warningThreshold = 0.8; // Warn at 80% of timeout\n\nconst timeoutStatus = {\n  elapsed_ms: elapsedMs,\n  timeout_ms: timeoutMs,\n  remaining_ms: Math.max(0, timeoutMs - elapsedMs),\n  percent_used: ((elapsedMs / timeoutMs) * 100).toFixed(1),\n  warning: elapsedMs > (timeoutMs * warningThreshold),\n  expired: elapsedMs >= timeoutMs\n};\n\nif (timeoutStatus.expired) {\n  return {\n    json: {\n      success: false,\n      error: 'TIMEOUT',\n      message: `Request timed out after ${timeoutMs}ms`,\n      timeout_status: timeoutStatus,\n      partial_result: input.result || null\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...input,\n    timeout_status: timeoutStatus\n  }\n};"
      }
    },
    {
      "id": "request-logger",
      "name": "Request Logger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        550
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/audit/log",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"request_received\",\n  \"request_id\": \"{{ $json.deduplication?.request_id || 'unknown' }}\",\n  \"priority\": {{ $json.priority_queue?.priority || 3 }},\n  \"template\": \"{{ $json.body?.template || 'none' }}\",\n  \"persona\": \"{{ $json.body?.persona || 'none' }}\",\n  \"batch\": {{ $json.batch?.is_batch || false }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"context\": {\n    \"source_ip\": \"{{ $json.headers?.['x-forwarded-for'] || 'unknown' }}\",\n    \"user_agent\": \"{{ $json.headers?.['user-agent'] || 'unknown' }}\"\n  }\n}",
        "options": {
          "timeout": 3000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "response-logger",
      "name": "Response Logger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/audit/log",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"request_completed\",\n  \"request_id\": \"{{ $json.deduplication?.request_id || 'unknown' }}\",\n  \"success\": {{ $json.success !== false }},\n  \"duration_ms\": {{ Date.now() - new Date($json.deduplication?.first_seen || Date.now()).getTime() }},\n  \"tool_calls\": {{ $json.state?.cost_tracker?.tool_calls || 0 }},\n  \"tokens_used\": {{ ($json.state?.cost_tracker?.input_tokens || 0) + ($json.state?.cost_tracker?.output_tokens || 0) }},\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "timeout": 3000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "metrics-collector",
      "name": "Metrics Collector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        400
      ],
      "parameters": {
        "jsCode": "// Prometheus-style Metrics Collector\nconst input = $input.first().json;\n\n// Collect metrics from the request lifecycle\nconst metrics = {\n  // Request metrics\n  request_total: 1,\n  request_duration_ms: Date.now() - new Date(input.deduplication?.first_seen || Date.now()).getTime(),\n  request_size_bytes: JSON.stringify(input.task || {}).length,\n\n  // Response metrics\n  response_success: input.success !== false ? 1 : 0,\n  response_error: input.success === false ? 1 : 0,\n\n  // Tool metrics\n  tool_calls_total: input.state?.cost_tracker?.tool_calls || 0,\n\n  // Token metrics\n  tokens_input: input.state?.cost_tracker?.input_tokens || 0,\n  tokens_output: input.state?.cost_tracker?.output_tokens || 0,\n  tokens_total: (input.state?.cost_tracker?.input_tokens || 0) + (input.state?.cost_tracker?.output_tokens || 0),\n\n  // Cost metrics\n  cost_usd: input.state?.cost_tracker?.total_cost || 0,\n\n  // Priority metrics\n  priority_level: input.priority_queue?.priority || 3,\n\n  // Circuit breaker metrics\n  circuit_state: input.circuit_breaker?.state || 'closed',\n  circuit_failures: input.circuit_breaker?.failures || 0,\n\n  // Queue metrics\n  queue_wait_ms: input.priority_queue?.estimated_wait_ms || 0,\n\n  // Labels for Prometheus\n  labels: {\n    template: input.template_used || 'default',\n    persona: input.persona_used || 'none',\n    batch: input.batch?.is_batch ? 'true' : 'false',\n    priority: input.priority_queue?.priority_name || 'NORMAL'\n  }\n};\n\n// Format as Prometheus exposition format\nconst prometheusFormat = [\n  `# HELP agent_request_total Total number of requests`,\n  `# TYPE agent_request_total counter`,\n  `agent_request_total{template=\"${metrics.labels.template}\",persona=\"${metrics.labels.persona}\"} ${metrics.request_total}`,\n  ``,\n  `# HELP agent_request_duration_ms Request duration in milliseconds`,\n  `# TYPE agent_request_duration_ms histogram`,\n  `agent_request_duration_ms{template=\"${metrics.labels.template}\"} ${metrics.request_duration_ms}`,\n  ``,\n  `# HELP agent_tokens_total Total tokens used`,\n  `# TYPE agent_tokens_total counter`,\n  `agent_tokens_total{type=\"input\"} ${metrics.tokens_input}`,\n  `agent_tokens_total{type=\"output\"} ${metrics.tokens_output}`,\n  ``,\n  `# HELP agent_cost_usd Total cost in USD`,\n  `# TYPE agent_cost_usd counter`,\n  `agent_cost_usd ${metrics.cost_usd}`,\n  ``,\n  `# HELP agent_circuit_state Circuit breaker state (0=closed, 1=open, 2=half-open)`,\n  `# TYPE agent_circuit_state gauge`,\n  `agent_circuit_state ${metrics.circuit_state === 'closed' ? 0 : metrics.circuit_state === 'open' ? 1 : 2}`\n].join('\\n');\n\nreturn {\n  json: {\n    ...input,\n    metrics: metrics,\n    prometheus_format: prometheusFormat\n  }\n};"
      }
    },
    {
      "id": "jwt-auth",
      "name": "JWT Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        200
      ],
      "parameters": {
        "jsCode": "// JWT Authentication with Role-Based Access Control\nconst input = $input.first().json;\nconst headers = input.headers || {};\n\n// Get authorization header\nconst authHeader = headers.authorization || headers.Authorization || '';\nconst apiKey = headers['x-api-key'] || '';\n\n// Supported auth methods\nconst authMethods = {\n  jwt: authHeader.startsWith('Bearer '),\n  apiKey: !!apiKey,\n  none: !authHeader && !apiKey\n};\n\nlet authResult = {\n  authenticated: false,\n  method: 'none',\n  user: null,\n  roles: [],\n  permissions: []\n};\n\n// Role definitions\nconst ROLES = {\n  admin: {\n    permissions: ['*'],  // All permissions\n    rate_limit: 1000,\n    cost_limit: 100.0\n  },\n  developer: {\n    permissions: ['read', 'write', 'execute', 'debug'],\n    rate_limit: 100,\n    cost_limit: 10.0\n  },\n  user: {\n    permissions: ['read', 'execute'],\n    rate_limit: 20,\n    cost_limit: 1.0\n  },\n  readonly: {\n    permissions: ['read'],\n    rate_limit: 10,\n    cost_limit: 0.1\n  }\n};\n\n// API Key authentication (simple)\nif (authMethods.apiKey) {\n  // Known API keys (would be in database in production)\n  const API_KEYS = {\n    'agent-orchestrator-key': { user: 'admin', roles: ['admin'] },\n    'dev-key-123': { user: 'developer', roles: ['developer'] },\n    'user-key-456': { user: 'user', roles: ['user'] }\n  };\n\n  const keyData = API_KEYS[apiKey];\n  if (keyData) {\n    authResult = {\n      authenticated: true,\n      method: 'api_key',\n      user: keyData.user,\n      roles: keyData.roles,\n      permissions: keyData.roles.flatMap(r => ROLES[r]?.permissions || []),\n      rate_limit: Math.max(...keyData.roles.map(r => ROLES[r]?.rate_limit || 10)),\n      cost_limit: Math.max(...keyData.roles.map(r => ROLES[r]?.cost_limit || 0.1))\n    };\n  }\n}\n\n// JWT authentication (simplified - would verify signature in production)\nif (authMethods.jwt && !authResult.authenticated) {\n  try {\n    const token = authHeader.replace('Bearer ', '');\n    // In production: verify JWT signature and decode\n    // For now, just check if token looks valid\n    const parts = token.split('.');\n    if (parts.length === 3) {\n      // Decode payload (base64)\n      const payload = JSON.parse(Buffer.from(parts[1], 'base64').toString());\n      authResult = {\n        authenticated: true,\n        method: 'jwt',\n        user: payload.sub || payload.user || 'unknown',\n        roles: payload.roles || ['user'],\n        permissions: (payload.roles || ['user']).flatMap(r => ROLES[r]?.permissions || []),\n        rate_limit: payload.rate_limit || 20,\n        cost_limit: payload.cost_limit || 1.0,\n        exp: payload.exp\n      };\n\n      // Check expiration\n      if (payload.exp && Date.now() / 1000 > payload.exp) {\n        authResult.authenticated = false;\n        authResult.error = 'Token expired';\n      }\n    }\n  } catch (e) {\n    authResult.error = 'Invalid JWT format';\n  }\n}\n\n// Default to allowing unauthenticated requests with minimal permissions\nif (!authResult.authenticated && !authResult.error) {\n  authResult = {\n    authenticated: false,\n    method: 'anonymous',\n    user: 'anonymous',\n    roles: ['readonly'],\n    permissions: ['read', 'execute'],  // Allow basic execution for testing\n    rate_limit: 5,\n    cost_limit: 0.01,\n    warning: 'No authentication provided - limited access'\n  };\n}\n\nreturn {\n  json: {\n    ...input,\n    auth: authResult\n  }\n};"
      }
    },
    {
      "id": "rbac-check",
      "name": "RBAC Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        350
      ],
      "parameters": {
        "jsCode": "// Role-Based Access Control Check\nconst input = $input.first().json;\nconst auth = input.auth || {};\nconst body = input.body || {};\n\n// Determine required permission based on action\nconst actionPermissions = {\n  // Read operations\n  'file_read': 'read',\n  'grep': 'read',\n  'glob': 'read',\n  'git_status': 'read',\n  'gmail_list': 'read',\n  'gmail_read': 'read',\n  'sheets_read': 'read',\n\n  // Write operations\n  'file_write': 'write',\n  'file_edit': 'write',\n  'sheets_write': 'write',\n  'sheets_append': 'write',\n\n  // Execute operations\n  'command': 'execute',\n  'terminal_multi_command': 'execute',\n  'terminal_script': 'execute',\n\n  // Send operations (higher privilege)\n  'gmail_send': 'send',\n  'sms_send': 'send',\n\n  // Admin operations\n  'n8n_create_workflow': 'admin',\n  'n8n_activate_workflow': 'admin',\n  'meta_create_tool': 'admin'\n};\n\n// Get requested tools from agent config\nconst requestedTools = body.agent?.tools_available || [];\nconst template = body.template;\n\n// Determine required permissions\nlet requiredPermissions = new Set(['execute']);  // Base permission\n\nif (template === 'devops' || template === 'orchestrator') {\n  requiredPermissions.add('admin');\n}\n\n// Check tool permissions\nfor (const tool of requestedTools) {\n  const perm = actionPermissions[tool];\n  if (perm) requiredPermissions.add(perm);\n}\n\n// Verify permissions\nconst userPermissions = new Set(auth.permissions || []);\nconst hasWildcard = userPermissions.has('*');\n\nconst missingPermissions = [];\nfor (const perm of requiredPermissions) {\n  if (!hasWildcard && !userPermissions.has(perm)) {\n    missingPermissions.push(perm);\n  }\n}\n\nconst authorized = missingPermissions.length === 0;\n\nreturn {\n  json: {\n    ...input,\n    rbac: {\n      authorized: authorized,\n      user: auth.user,\n      roles: auth.roles,\n      required_permissions: Array.from(requiredPermissions),\n      user_permissions: Array.from(userPermissions),\n      missing_permissions: missingPermissions,\n      rate_limit: auth.rate_limit || 10,\n      cost_limit: auth.cost_limit || 0.1\n    }\n  }\n};"
      }
    },
    {
      "id": "feature-flags",
      "name": "Feature Flags",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        500
      ],
      "parameters": {
        "jsCode": "// Feature Flags System\nconst input = $input.first().json;\nconst auth = input.auth || {};\nconst body = input.body || {};\n\n// Feature flag definitions\nconst FEATURES = {\n  // Core features (stable)\n  'core.file_operations': { enabled: true, rollout: 100 },\n  'core.command_execution': { enabled: true, rollout: 100 },\n  'core.git_operations': { enabled: true, rollout: 100 },\n\n  // v4.0 features\n  'v4.personas': { enabled: true, rollout: 100 },\n  'v4.goal_decomposition': { enabled: true, rollout: 100 },\n  'v4.tool_macros': { enabled: true, rollout: 100 },\n  'v4.audit_trail': { enabled: true, rollout: 100 },\n\n  // v4.1 integrations\n  'v4.1.gmail': { enabled: true, rollout: 100 },\n  'v4.1.sheets': { enabled: true, rollout: 100 },\n  'v4.1.sms': { enabled: true, rollout: 100 },\n  'v4.1.clickup': { enabled: true, rollout: 100 },\n  'v4.1.n8n_management': { enabled: true, rollout: 100 },\n\n  // v4.2 resilience features\n  'v4.2.circuit_breaker': { enabled: true, rollout: 100 },\n  'v4.2.batch_processing': { enabled: true, rollout: 100 },\n  'v4.2.priority_queue': { enabled: true, rollout: 100 },\n  'v4.2.dead_letter_queue': { enabled: true, rollout: 100 },\n\n  // v4.3 experimental features\n  'v4.3.jwt_auth': { enabled: true, rollout: 50 },  // 50% rollout\n  'v4.3.metrics': { enabled: true, rollout: 100 },\n  'v4.3.ab_testing': { enabled: true, rollout: 25 },  // 25% rollout\n  'v4.3.workflow_versioning': { enabled: false, rollout: 0 },  // Not yet enabled\n  'v4.3.websocket_updates': { enabled: false, rollout: 0 },  // Coming soon\n\n  // Beta features\n  'beta.auto_scaling': { enabled: false, rollout: 0 },\n  'beta.multi_region': { enabled: false, rollout: 0 }\n};\n\n// Calculate user's feature bucket (0-100) based on user ID\nconst userId = auth.user || 'anonymous';\nlet userBucket = 0;\nfor (let i = 0; i < userId.length; i++) {\n  userBucket = (userBucket + userId.charCodeAt(i)) % 100;\n}\n\n// Determine which features are enabled for this user\nconst enabledFeatures = {};\nconst disabledFeatures = [];\n\nfor (const [feature, config] of Object.entries(FEATURES)) {\n  const isEnabled = config.enabled && userBucket < config.rollout;\n  enabledFeatures[feature] = isEnabled;\n  if (!isEnabled && config.enabled) {\n    disabledFeatures.push(feature);\n  }\n}\n\n// Check if any requested features are disabled\nconst requestedFeatures = body.features || [];\nconst unavailableFeatures = requestedFeatures.filter(f => !enabledFeatures[f]);\n\nreturn {\n  json: {\n    ...input,\n    feature_flags: {\n      user_bucket: userBucket,\n      enabled: enabledFeatures,\n      disabled_for_user: disabledFeatures,\n      requested: requestedFeatures,\n      unavailable: unavailableFeatures,\n      all_requested_available: unavailableFeatures.length === 0\n    }\n  }\n};"
      }
    },
    {
      "id": "budget-enforcement",
      "name": "Budget Enforcement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        650
      ],
      "parameters": {
        "jsCode": "// Budget Enforcement - Cost and Resource Limits\nconst input = $input.first().json;\nconst auth = input.auth || {};\nconst rbac = input.rbac || {};\nconst body = input.body || {};\n\n// Get user's limits from RBAC\nconst costLimit = rbac.cost_limit || auth.cost_limit || 1.0;  // USD\nconst rateLimit = rbac.rate_limit || auth.rate_limit || 10;   // requests per minute\n\n// Current usage (would be tracked in database in production)\nconst currentUsage = {\n  cost_today: 0.0,  // Would query from database\n  requests_this_minute: 0,  // Would query from rate limiter\n  tokens_today: 0\n};\n\n// Estimate cost for this request\nconst estimatedTokens = 4000;  // Conservative estimate\nconst costPerToken = 0.00001;  // Approximate Claude cost\nconst estimatedCost = estimatedTokens * costPerToken;\n\n// Check budget limits\nconst budgetStatus = {\n  cost_limit: costLimit,\n  cost_used: currentUsage.cost_today,\n  cost_remaining: costLimit - currentUsage.cost_today,\n  cost_estimated: estimatedCost,\n\n  rate_limit: rateLimit,\n  rate_used: currentUsage.requests_this_minute,\n  rate_remaining: rateLimit - currentUsage.requests_this_minute,\n\n  // Enforcement decisions\n  within_budget: currentUsage.cost_today + estimatedCost <= costLimit,\n  within_rate_limit: currentUsage.requests_this_minute < rateLimit,\n\n  // Warnings\n  budget_warning: currentUsage.cost_today > costLimit * 0.8,\n  rate_warning: currentUsage.requests_this_minute > rateLimit * 0.8\n};\n\n// Block if over limits\nif (!budgetStatus.within_budget) {\n  return {\n    json: {\n      success: false,\n      error: 'BUDGET_EXCEEDED',\n      message: `Daily cost limit of $${costLimit} exceeded`,\n      budget: budgetStatus,\n      suggestion: 'Wait until tomorrow or upgrade your plan'\n    }\n  };\n}\n\nif (!budgetStatus.within_rate_limit) {\n  return {\n    json: {\n      success: false,\n      error: 'RATE_LIMIT_EXCEEDED',\n      message: `Rate limit of ${rateLimit} requests/minute exceeded`,\n      budget: budgetStatus,\n      retry_after_seconds: 60,\n      suggestion: 'Wait and retry, or upgrade your plan'\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...input,\n    budget: budgetStatus\n  }\n};"
      }
    },
    {
      "id": "request-tracing",
      "name": "Request Tracing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        800
      ],
      "parameters": {
        "jsCode": "// Distributed Request Tracing (OpenTelemetry-style)\nconst input = $input.first().json;\nconst headers = input.headers || {};\n\n// Get or generate trace IDs\nconst traceId = headers['x-trace-id'] || headers['traceparent']?.split('-')[1] ||\n                `${Date.now().toString(16)}${Math.random().toString(16).substr(2, 16)}`;\nconst spanId = `${Date.now().toString(16).substr(-8)}${Math.random().toString(16).substr(2, 8)}`;\nconst parentSpanId = headers['x-span-id'] || headers['traceparent']?.split('-')[2] || null;\n\n// Create trace context\nconst trace = {\n  trace_id: traceId,\n  span_id: spanId,\n  parent_span_id: parentSpanId,\n\n  // Baggage (propagated context)\n  baggage: {\n    user_id: input.auth?.user || 'anonymous',\n    request_id: input.deduplication?.request_id || spanId,\n    priority: input.priority_queue?.priority || 3,\n    template: input.body?.template || 'default'\n  },\n\n  // Span metadata\n  span: {\n    name: 'agent.orchestrator.execute',\n    kind: 'SERVER',\n    start_time: new Date().toISOString(),\n    attributes: {\n      'http.method': 'POST',\n      'http.url': '/webhook/agent/execute',\n      'agent.template': input.body?.template || 'default',\n      'agent.persona': input.body?.persona || 'none',\n      'agent.batch': input.batch?.is_batch || false\n    }\n  },\n\n  // W3C Trace Context header for propagation\n  traceparent: `00-${traceId}-${spanId}-01`,\n  tracestate: `agent=orchestrator`\n};\n\n// Log trace start (would send to tracing backend in production)\nconsole.log(JSON.stringify({\n  event: 'span_start',\n  trace_id: traceId,\n  span_id: spanId,\n  timestamp: trace.span.start_time\n}));\n\nreturn {\n  json: {\n    ...input,\n    trace: trace\n  }\n};"
      }
    },
    {
      "id": "ab-testing",
      "name": "A/B Testing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        950
      ],
      "parameters": {
        "jsCode": "// A/B Testing System\nconst input = $input.first().json;\nconst auth = input.auth || {};\nconst featureFlags = input.feature_flags || {};\n\n// Active experiments\nconst EXPERIMENTS = {\n  'prompt_optimization': {\n    enabled: true,\n    variants: {\n      'control': { weight: 50, config: { system_prompt_version: 'v1' } },\n      'treatment_a': { weight: 25, config: { system_prompt_version: 'v2_concise' } },\n      'treatment_b': { weight: 25, config: { system_prompt_version: 'v2_detailed' } }\n    }\n  },\n  'model_comparison': {\n    enabled: true,\n    variants: {\n      'claude_sonnet': { weight: 80, config: { model: 'claude-sonnet-4-5-20250929' } },\n      'claude_haiku': { weight: 20, config: { model: 'claude-haiku-4-5-20251001' } }\n    }\n  },\n  'timeout_optimization': {\n    enabled: true,\n    variants: {\n      'standard': { weight: 70, config: { timeout: 120000 } },\n      'extended': { weight: 30, config: { timeout: 180000 } }\n    }\n  }\n};\n\n// Assign user to experiment variants based on user ID\nconst userId = auth.user || input.deduplication?.request_id || 'anonymous';\nconst assignments = {};\n\nfor (const [expName, exp] of Object.entries(EXPERIMENTS)) {\n  if (!exp.enabled) continue;\n\n  // Generate deterministic bucket for this user+experiment\n  let bucket = 0;\n  const seed = userId + expName;\n  for (let i = 0; i < seed.length; i++) {\n    bucket = (bucket * 31 + seed.charCodeAt(i)) % 100;\n  }\n\n  // Assign variant based on weights\n  let cumWeight = 0;\n  for (const [variantName, variant] of Object.entries(exp.variants)) {\n    cumWeight += variant.weight;\n    if (bucket < cumWeight) {\n      assignments[expName] = {\n        variant: variantName,\n        config: variant.config,\n        bucket: bucket\n      };\n      break;\n    }\n  }\n}\n\n// Apply experiment configs to request\nlet experimentConfigs = {};\nfor (const [expName, assignment] of Object.entries(assignments)) {\n  experimentConfigs = { ...experimentConfigs, ...assignment.config };\n}\n\nreturn {\n  json: {\n    ...input,\n    ab_testing: {\n      user_id: userId,\n      assignments: assignments,\n      applied_configs: experimentConfigs,\n      experiment_count: Object.keys(assignments).length\n    },\n    // Merge experiment configs into main config\n    experiment_config: experimentConfigs\n  }\n};"
      }
    },
    {
      "id": "workflow-versioning",
      "name": "Workflow Versioning",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        550
      ],
      "parameters": {
        "jsCode": "// Workflow Versioning with Rollback Support\nconst input = $input.first().json;\n\n// Current workflow version\nconst WORKFLOW_VERSION = {\n  major: 4,\n  minor: 3,\n  patch: 0,\n  prerelease: 'beta',\n  build: '20260207',\n  full: '4.3.0-beta+20260207'\n};\n\n// Version history (for rollback)\nconst VERSION_HISTORY = [\n  { version: '4.3.0-beta', date: '2026-02-07', status: 'current', features: ['metrics', 'jwt_auth', 'ab_testing', 'feature_flags'] },\n  { version: '4.2.0', date: '2026-02-07', status: 'stable', features: ['circuit_breaker', 'batch_processing', 'dlq', 'priority_queue'] },\n  { version: '4.1.1', date: '2026-02-07', status: 'stable', features: ['self_annealing', 'error_handler', 'integrations'] },\n  { version: '4.1.0', date: '2026-02-07', status: 'deprecated', features: ['gmail', 'sheets', 'sms', 'clickup', 'n8n', 'meta_agent'] },\n  { version: '4.0.0', date: '2026-02-07', status: 'deprecated', features: ['personas', 'goals', 'macros', 'audit', 'adaptive'] }\n];\n\n// Deprecation warnings\nconst deprecations = [];\nconst body = input.body || {};\n\n// Check for deprecated features\nif (body.use_legacy_mode) {\n  deprecations.push({\n    feature: 'legacy_mode',\n    message: 'Legacy mode is deprecated and will be removed in v5.0',\n    alternative: 'Use the new workflow format'\n  });\n}\n\nif (body.config?.disable_safety) {\n  deprecations.push({\n    feature: 'disable_safety',\n    message: 'disable_safety is deprecated for security reasons',\n    alternative: 'Use RBAC permissions instead'\n  });\n}\n\nreturn {\n  json: {\n    ...input,\n    versioning: {\n      current: WORKFLOW_VERSION,\n      history: VERSION_HISTORY,\n      deprecations: deprecations,\n      rollback_available: VERSION_HISTORY.filter(v => v.status === 'stable').map(v => v.version),\n      next_version: '4.3.1'\n    }\n  }\n};"
      }
    },
    {
      "id": "health-dashboard",
      "name": "Health Dashboard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        700
      ],
      "parameters": {
        "jsCode": "// Health Dashboard - Aggregated System Status\nconst input = $input.first().json;\n\n// Collect health metrics from all subsystems\nconst healthStatus = {\n  overall: 'healthy',  // healthy, degraded, unhealthy\n  timestamp: new Date().toISOString(),\n  uptime_seconds: Math.floor(Date.now() / 1000) - 1707300000,  // Approximate\n\n  subsystems: {\n    bridge_api: {\n      status: input.circuit_breaker?.blocked ? 'degraded' : 'healthy',\n      latency_ms: 50,  // Would measure actual latency\n      error_rate: 0.01\n    },\n    authentication: {\n      status: 'healthy',\n      active_sessions: 10,\n      failed_auths_last_hour: 0\n    },\n    rate_limiter: {\n      status: 'healthy',\n      requests_last_minute: 15,\n      throttled_requests: 0\n    },\n    circuit_breaker: {\n      status: input.circuit_breaker?.state || 'closed',\n      failure_count: input.circuit_breaker?.failures || 0,\n      last_failure: input.circuit_breaker?.last_failure || null\n    },\n    dead_letter_queue: {\n      status: 'healthy',\n      pending_items: 0,\n      failed_retries: 0\n    },\n    priority_queue: {\n      status: 'healthy',\n      queued_items: 0,\n      avg_wait_ms: 100\n    }\n  },\n\n  resources: {\n    memory_used_mb: 256,  // Would get from system\n    cpu_percent: 15,\n    disk_used_percent: 45,\n    active_connections: 3\n  },\n\n  recent_errors: [],  // Would populate from error log\n\n  alerts: []  // Active alerts\n};\n\n// Determine overall health\nconst subsystemStatuses = Object.values(healthStatus.subsystems).map(s => s.status);\nif (subsystemStatuses.includes('unhealthy')) {\n  healthStatus.overall = 'unhealthy';\n} else if (subsystemStatuses.includes('degraded') || subsystemStatuses.includes('open')) {\n  healthStatus.overall = 'degraded';\n}\n\n// Add alerts for degraded systems\nfor (const [name, subsystem] of Object.entries(healthStatus.subsystems)) {\n  if (subsystem.status !== 'healthy' && subsystem.status !== 'closed') {\n    healthStatus.alerts.push({\n      severity: subsystem.status === 'unhealthy' ? 'critical' : 'warning',\n      subsystem: name,\n      message: `${name} is ${subsystem.status}`,\n      timestamp: new Date().toISOString()\n    });\n  }\n}\n\nreturn {\n  json: {\n    ...input,\n    health_dashboard: healthStatus\n  }\n};"
      }
    },
    {
      "id": "request-enrichment",
      "name": "Request Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        400
      ],
      "parameters": {
        "jsCode": "// Request Enrichment - Add metadata and context\nconst input = $input.first().json;\nconst headers = input.headers || {};\nconst body = input.body || {};\n\n// Extract client information\nconst clientInfo = {\n  ip: headers['x-forwarded-for']?.split(',')[0]?.trim() ||\n      headers['x-real-ip'] ||\n      'unknown',\n  user_agent: headers['user-agent'] || 'unknown',\n  referer: headers['referer'] || null,\n  origin: headers['origin'] || null\n};\n\n// Parse user agent\nconst ua = clientInfo.user_agent.toLowerCase();\nconst clientType = ua.includes('curl') ? 'cli' :\n                   ua.includes('python') ? 'sdk' :\n                   ua.includes('node') ? 'nodejs' :\n                   ua.includes('postman') ? 'postman' :\n                   ua.includes('mozilla') ? 'browser' : 'unknown';\n\n// Geo approximation (would use GeoIP in production)\nconst geoInfo = {\n  country: 'US',  // Would lookup from IP\n  region: 'unknown',\n  timezone: Intl.DateTimeFormat().resolvedOptions().timeZone\n};\n\n// Request metadata\nconst requestMeta = {\n  received_at: new Date().toISOString(),\n  content_type: headers['content-type'] || 'application/json',\n  content_length: headers['content-length'] || JSON.stringify(body).length,\n  accept: headers['accept'] || '*/*',\n  accept_encoding: headers['accept-encoding'] || 'identity'\n};\n\n// Detect request intent\nconst taskText = (typeof body.task === 'string' ? body.task : body.task?.objective || '').toLowerCase();\nconst intent = {\n  category: taskText.includes('read') || taskText.includes('get') || taskText.includes('list') ? 'read' :\n             taskText.includes('write') || taskText.includes('create') || taskText.includes('update') ? 'write' :\n             taskText.includes('delete') || taskText.includes('remove') ? 'delete' :\n             taskText.includes('send') || taskText.includes('email') || taskText.includes('sms') ? 'communicate' :\n             taskText.includes('analyze') || taskText.includes('research') ? 'analyze' : 'general',\n  complexity: taskText.length > 500 ? 'high' : taskText.length > 100 ? 'medium' : 'low',\n  urgency: taskText.includes('urgent') || taskText.includes('asap') ? 'high' : 'normal'\n};\n\nreturn {\n  json: {\n    ...input,\n    enrichment: {\n      client: clientInfo,\n      client_type: clientType,\n      geo: geoInfo,\n      request: requestMeta,\n      intent: intent\n    }\n  }\n};"
      }
    },
    {
      "id": "websocket-manager",
      "name": "WebSocket Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        250
      ],
      "parameters": {
        "jsCode": "// WebSocket Real-time Status Updates Manager\nconst input = $input.first().json;\n\n// WebSocket connection registry (simulated - would use Redis in production)\nconst WS_CONNECTIONS = $env.WS_CONNECTIONS ? JSON.parse($env.WS_CONNECTIONS) : {};\n\n// Message types for real-time updates\nconst MESSAGE_TYPES = {\n  TASK_STARTED: 'task.started',\n  TASK_PROGRESS: 'task.progress',\n  TOOL_CALLED: 'tool.called',\n  TOOL_RESULT: 'tool.result',\n  TASK_COMPLETED: 'task.completed',\n  TASK_FAILED: 'task.failed',\n  HEALTH_UPDATE: 'health.update',\n  ALERT: 'alert'\n};\n\n// Determine message type based on current state\nlet messageType = MESSAGE_TYPES.TASK_PROGRESS;\nif (input.state?.status === 'completed') {\n  messageType = MESSAGE_TYPES.TASK_COMPLETED;\n} else if (input.state?.status === 'failed') {\n  messageType = MESSAGE_TYPES.TASK_FAILED;\n} else if (input.tool_result) {\n  messageType = MESSAGE_TYPES.TOOL_RESULT;\n}\n\n// Create WebSocket message\nconst wsMessage = {\n  type: messageType,\n  timestamp: new Date().toISOString(),\n  trace_id: input.trace?.trace_id,\n  request_id: input.deduplication?.request_id,\n\n  // Progress data\n  progress: {\n    current_step: input.state?.iterations || 0,\n    max_steps: input.config?.max_loops || 10,\n    percentage: Math.min(100, ((input.state?.iterations || 0) / (input.config?.max_loops || 10)) * 100)\n  },\n\n  // Latest tool call (if any)\n  latest_tool: input.tool_result ? {\n    name: input.tool_result.tool,\n    success: input.tool_result.success,\n    duration_ms: input.tool_result.duration_ms\n  } : null,\n\n  // Cost tracking\n  cost: {\n    tokens_used: (input.state?.cost_tracker?.input_tokens || 0) + (input.state?.cost_tracker?.output_tokens || 0),\n    cost_usd: input.state?.cost_tracker?.total_cost || 0\n  },\n\n  // Status\n  status: input.state?.status || 'running'\n};\n\n// Get subscriber info for this request\nconst userId = input.auth?.user || 'anonymous';\nconst subscribers = Object.entries(WS_CONNECTIONS)\n  .filter(([id, conn]) => conn.user_id === userId || conn.subscriptions?.includes(input.trace?.trace_id))\n  .map(([id, conn]) => id);\n\nreturn {\n  json: {\n    ...input,\n    websocket: {\n      message: wsMessage,\n      subscribers: subscribers,\n      broadcast_to: subscribers.length,\n      message_type: messageType\n    }\n  }\n};"
      }
    },
    {
      "id": "cache-layer",
      "name": "Cache Layer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        550
      ],
      "parameters": {
        "jsCode": "// Intelligent Caching Layer\nconst input = $input.first().json;\nconst body = input.body || {};\n\n// Cache configuration\nconst CACHE_CONFIG = {\n  enabled: true,\n  default_ttl: 300,  // 5 minutes\n  max_size: 1000,\n\n  // Cache policies by operation type\n  policies: {\n    read: { ttl: 600, enabled: true },      // 10 min for reads\n    search: { ttl: 300, enabled: true },    // 5 min for searches\n    write: { ttl: 0, enabled: false },      // Never cache writes\n    execute: { ttl: 0, enabled: false }     // Never cache executions\n  }\n};\n\n// Generate cache key from request\nconst generateCacheKey = (task, config) => {\n  const taskStr = typeof task === 'string' ? task : JSON.stringify(task);\n  const configStr = JSON.stringify(config || {});\n  // Simple hash function\n  let hash = 0;\n  const str = taskStr + configStr;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return `cache_${Math.abs(hash).toString(16)}`;\n};\n\n// Determine operation type\nconst taskText = (typeof body.task === 'string' ? body.task : body.task?.objective || '').toLowerCase();\nconst operationType = taskText.includes('read') || taskText.includes('get') || taskText.includes('list') ? 'read' :\n                      taskText.includes('search') || taskText.includes('find') || taskText.includes('grep') ? 'search' :\n                      taskText.includes('write') || taskText.includes('create') || taskText.includes('edit') ? 'write' : 'execute';\n\nconst policy = CACHE_CONFIG.policies[operationType];\nconst cacheKey = generateCacheKey(body.task, body.config);\n\n// Check cache (simulated - would use Redis in production)\nconst CACHE_STORE = $env.CACHE_STORE ? JSON.parse($env.CACHE_STORE) : {};\nconst cachedEntry = CACHE_STORE[cacheKey];\nconst now = Date.now();\n\nlet cacheResult = {\n  key: cacheKey,\n  operation_type: operationType,\n  policy: policy,\n  hit: false,\n  cached_at: null,\n  expires_at: null,\n  age_seconds: null\n};\n\nif (policy.enabled && cachedEntry) {\n  const age = (now - cachedEntry.cached_at) / 1000;\n  if (age < policy.ttl) {\n    cacheResult.hit = true;\n    cacheResult.cached_at = new Date(cachedEntry.cached_at).toISOString();\n    cacheResult.expires_at = new Date(cachedEntry.cached_at + policy.ttl * 1000).toISOString();\n    cacheResult.age_seconds = Math.round(age);\n    cacheResult.cached_response = cachedEntry.response;\n  }\n}\n\n// If cache hit, we could short-circuit here\n// For now, we just record the cache status\n\nreturn {\n  json: {\n    ...input,\n    cache: cacheResult,\n    skip_execution: cacheResult.hit  // Signal to skip if cached\n  }\n};"
      }
    },
    {
      "id": "throttle-controller",
      "name": "Throttle Controller",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        700
      ],
      "parameters": {
        "jsCode": "// Request Throttling and Backpressure Controller\nconst input = $input.first().json;\nconst auth = input.auth || {};\nconst rbac = input.rbac || {};\n\n// Throttle configuration per tier\nconst THROTTLE_TIERS = {\n  admin: {\n    requests_per_second: 100,\n    burst_limit: 200,\n    queue_limit: 500,\n    priority_boost: 2\n  },\n  developer: {\n    requests_per_second: 20,\n    burst_limit: 50,\n    queue_limit: 100,\n    priority_boost: 1\n  },\n  user: {\n    requests_per_second: 5,\n    burst_limit: 10,\n    queue_limit: 20,\n    priority_boost: 0\n  },\n  anonymous: {\n    requests_per_second: 1,\n    burst_limit: 3,\n    queue_limit: 5,\n    priority_boost: -1\n  }\n};\n\n// Get user's tier\nconst userRole = (auth.roles || ['anonymous'])[0];\nconst tier = THROTTLE_TIERS[userRole] || THROTTLE_TIERS.anonymous;\n\n// System load (simulated - would measure actual load)\nconst systemLoad = {\n  cpu_percent: 45,\n  memory_percent: 60,\n  queue_depth: 15,\n  active_requests: 8\n};\n\n// Calculate backpressure\nconst loadFactor = Math.max(\n  systemLoad.cpu_percent / 100,\n  systemLoad.memory_percent / 100,\n  systemLoad.queue_depth / tier.queue_limit\n);\n\n// Throttle decision\nconst throttleResult = {\n  tier: userRole,\n  config: tier,\n  system_load: systemLoad,\n  load_factor: loadFactor,\n\n  // Actions\n  should_throttle: loadFactor > 0.8,\n  should_queue: loadFactor > 0.5 && loadFactor <= 0.8,\n  should_reject: loadFactor > 0.95,\n\n  // Backpressure signals\n  backpressure: {\n    delay_ms: loadFactor > 0.5 ? Math.floor(loadFactor * 1000) : 0,\n    retry_after: loadFactor > 0.8 ? Math.ceil(loadFactor * 10) : null,\n    queue_position: loadFactor > 0.5 ? systemLoad.queue_depth + 1 : null\n  },\n\n  // Adjusted priority based on tier\n  adjusted_priority: Math.max(1, (input.priority_queue?.priority || 3) - tier.priority_boost)\n};\n\n// If should reject, return early\nif (throttleResult.should_reject) {\n  return {\n    json: {\n      success: false,\n      error: 'SERVICE_OVERLOADED',\n      message: 'System is under heavy load. Please retry later.',\n      retry_after_seconds: throttleResult.backpressure.retry_after,\n      throttle: throttleResult\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...input,\n    throttle: throttleResult,\n    // Update priority based on throttle decision\n    priority_queue: {\n      ...input.priority_queue,\n      priority: throttleResult.adjusted_priority\n    }\n  }\n};"
      }
    },
    {
      "id": "tenant-isolator",
      "name": "Tenant Isolator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        850
      ],
      "parameters": {
        "jsCode": "// Multi-Tenancy Isolation Layer\nconst input = $input.first().json;\nconst auth = input.auth || {};\nconst headers = input.headers || {};\n\n// Tenant configuration\nconst TENANT_CONFIG = {\n  'default': {\n    name: 'Default Tenant',\n    allowed_paths: ['/tmp', '/home/ec2-user/dev-sandbox'],\n    max_file_size_mb: 10,\n    allowed_tools: ['file_read', 'file_write', 'grep', 'glob', 'git_status'],\n    sandbox_mode: false,\n    data_isolation: 'shared'\n  },\n  'enterprise': {\n    name: 'Enterprise Tenant',\n    allowed_paths: ['/tmp', '/home/ec2-user/dev-sandbox', '/home/ec2-user/enterprise'],\n    max_file_size_mb: 100,\n    allowed_tools: ['*'],  // All tools\n    sandbox_mode: false,\n    data_isolation: 'isolated'\n  },\n  'sandbox': {\n    name: 'Sandbox Tenant',\n    allowed_paths: ['/tmp/sandbox'],\n    max_file_size_mb: 1,\n    allowed_tools: ['file_read', 'grep', 'glob'],  // Read-only\n    sandbox_mode: true,\n    data_isolation: 'strict'\n  }\n};\n\n// Extract tenant from header or auth\nconst tenantId = headers['x-tenant-id'] || auth.tenant || 'default';\nconst tenantConfig = TENANT_CONFIG[tenantId] || TENANT_CONFIG['default'];\n\n// Generate tenant-specific namespace\nconst tenantNamespace = `tenant_${tenantId}`;\n\n// Apply tenant restrictions to request\nconst tenantContext = {\n  tenant_id: tenantId,\n  tenant_name: tenantConfig.name,\n  namespace: tenantNamespace,\n\n  // Path restrictions\n  allowed_paths: tenantConfig.allowed_paths,\n\n  // Tool restrictions\n  allowed_tools: tenantConfig.allowed_tools,\n  tools_restricted: tenantConfig.allowed_tools[0] !== '*',\n\n  // Resource limits\n  limits: {\n    max_file_size_mb: tenantConfig.max_file_size_mb,\n    max_tokens: tenantConfig.sandbox_mode ? 1000 : 4000,\n    max_loops: tenantConfig.sandbox_mode ? 3 : 10\n  },\n\n  // Isolation\n  sandbox_mode: tenantConfig.sandbox_mode,\n  data_isolation: tenantConfig.data_isolation,\n\n  // Prefixes for tenant-specific data\n  prefixes: {\n    session: `${tenantNamespace}_session_`,\n    cache: `${tenantNamespace}_cache_`,\n    audit: `${tenantNamespace}_audit_`\n  }\n};\n\n// Check if requested tools are allowed\nconst requestedTools = input.body?.agent?.tools_available || [];\nconst blockedTools = [];\n\nif (tenantContext.tools_restricted) {\n  for (const tool of requestedTools) {\n    if (!tenantConfig.allowed_tools.includes(tool)) {\n      blockedTools.push(tool);\n    }\n  }\n}\n\nif (blockedTools.length > 0) {\n  tenantContext.blocked_tools = blockedTools;\n  tenantContext.warning = `Some tools are not allowed for tenant ${tenantId}: ${blockedTools.join(', ')}`;\n}\n\nreturn {\n  json: {\n    ...input,\n    tenant: tenantContext\n  }\n};"
      }
    },
    {
      "id": "replay-engine",
      "name": "Replay Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        400
      ],
      "parameters": {
        "jsCode": "// Request Replay Engine - Replay failed requests from audit log\nconst input = $input.first().json;\n\n// Replay configuration\nconst REPLAY_CONFIG = {\n  enabled: true,\n  max_replays: 3,\n  replay_delay_ms: 1000,\n  eligible_errors: [\n    'TIMEOUT',\n    'RATE_LIMIT',\n    'TEMPORARY_FAILURE',\n    'CONNECTION_ERROR'\n  ],\n  // Errors that should never be replayed\n  excluded_errors: [\n    'AUTHORIZATION_FAILED',\n    'INVALID_INPUT',\n    'PERMISSION_DENIED',\n    'BUDGET_EXCEEDED'\n  ]\n};\n\n// Check if this request is a replay\nconst isReplay = input.replay?.is_replay || false;\nconst replayCount = input.replay?.count || 0;\n\n// Determine if request is eligible for replay\nconst currentError = input.error?.code || input.state?.last_error?.code;\nconst isEligible = currentError &&\n  REPLAY_CONFIG.eligible_errors.includes(currentError) &&\n  !REPLAY_CONFIG.excluded_errors.includes(currentError) &&\n  replayCount < REPLAY_CONFIG.max_replays;\n\n// Build replay context\nconst replayContext = {\n  is_replay: isReplay,\n  replay_count: replayCount,\n  max_replays: REPLAY_CONFIG.max_replays,\n\n  // Current request eligibility\n  current_error: currentError,\n  eligible_for_replay: isEligible,\n\n  // If eligible, prepare replay metadata\n  replay_metadata: isEligible ? {\n    original_request_id: input.deduplication?.request_id,\n    original_trace_id: input.trace?.trace_id,\n    error_that_triggered: currentError,\n    scheduled_replay_at: new Date(Date.now() + REPLAY_CONFIG.replay_delay_ms * Math.pow(2, replayCount)).toISOString(),\n    backoff_multiplier: Math.pow(2, replayCount)\n  } : null,\n\n  // Replay history (from original request)\n  history: input.replay?.history || []\n};\n\n// Add current attempt to history if this is a replay\nif (isReplay) {\n  replayContext.history.push({\n    attempt: replayCount,\n    timestamp: new Date().toISOString(),\n    error: currentError,\n    success: !currentError\n  });\n}\n\nreturn {\n  json: {\n    ...input,\n    replay: replayContext\n  }\n};"
      }
    },
    {
      "id": "canary-controller",
      "name": "Canary Controller",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        1100
      ],
      "parameters": {
        "jsCode": "// Canary Deployment Controller - Safe rollouts with traffic splitting\nconst input = $input.first().json;\nconst auth = input.auth || {};\nconst featureFlags = input.feature_flags || {};\n\n// Canary configuration\nconst CANARY_DEPLOYMENTS = {\n  'v4.4-websocket': {\n    enabled: true,\n    traffic_percent: 10,  // 10% of traffic\n    target_version: '4.4.0',\n    fallback_version: '4.3.0',\n    metrics_window_minutes: 60,\n    success_threshold: 0.95,  // 95% success rate required\n    rollback_on_error_rate: 0.1  // Rollback if >10% errors\n  },\n  'new-model-test': {\n    enabled: true,\n    traffic_percent: 5,\n    target_version: 'claude-opus-4-5',\n    fallback_version: 'claude-sonnet-4-5',\n    metrics_window_minutes: 120,\n    success_threshold: 0.90,\n    rollback_on_error_rate: 0.15\n  }\n};\n\n// Determine user's canary bucket (0-100) based on user ID\nconst userId = auth.user || input.deduplication?.request_id || 'anonymous';\nlet userBucket = 0;\nfor (let i = 0; i < userId.length; i++) {\n  userBucket = (userBucket * 31 + userId.charCodeAt(i)) % 100;\n}\n\n// Check each canary deployment\nconst canaryAssignments = {};\nconst activeCanaries = [];\n\nfor (const [canaryName, config] of Object.entries(CANARY_DEPLOYMENTS)) {\n  if (!config.enabled) continue;\n\n  const inCanary = userBucket < config.traffic_percent;\n\n  canaryAssignments[canaryName] = {\n    in_canary: inCanary,\n    version: inCanary ? config.target_version : config.fallback_version,\n    traffic_percent: config.traffic_percent,\n    user_bucket: userBucket\n  };\n\n  if (inCanary) {\n    activeCanaries.push(canaryName);\n  }\n}\n\n// Canary metrics (simulated - would query actual metrics)\nconst canaryMetrics = {\n  'v4.4-websocket': {\n    requests_total: 1000,\n    success_rate: 0.97,\n    error_rate: 0.03,\n    avg_latency_ms: 150,\n    status: 'healthy'\n  }\n};\n\nreturn {\n  json: {\n    ...input,\n    canary: {\n      user_bucket: userBucket,\n      assignments: canaryAssignments,\n      active_canaries: activeCanaries,\n      metrics: canaryMetrics,\n\n      // Applied configuration based on canaries\n      applied_version: activeCanaries.length > 0\n        ? canaryAssignments[activeCanaries[0]].version\n        : '4.3.0'\n    }\n  }\n};"
      }
    },
    {
      "id": "sla-monitor",
      "name": "SLA Monitor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        550
      ],
      "parameters": {
        "jsCode": "// SLA Monitoring - Track and alert on service level agreements\nconst input = $input.first().json;\n\n// SLA definitions\nconst SLA_DEFINITIONS = {\n  'response_time': {\n    name: 'Response Time SLA',\n    target_ms: 5000,  // 5 seconds\n    warning_ms: 3000,\n    critical_ms: 10000,\n    measurement: 'p95'  // 95th percentile\n  },\n  'availability': {\n    name: 'Availability SLA',\n    target_percent: 99.9,\n    warning_percent: 99.5,\n    critical_percent: 99.0,\n    measurement_window: '24h'\n  },\n  'error_rate': {\n    name: 'Error Rate SLA',\n    target_percent: 1.0,  // Max 1% errors\n    warning_percent: 0.5,\n    critical_percent: 2.0\n  },\n  'throughput': {\n    name: 'Throughput SLA',\n    target_rps: 100,  // Requests per second\n    warning_rps: 80,\n    critical_rps: 50\n  }\n};\n\n// Calculate current request metrics\nconst requestStartTime = input.trace?.span?.start_time\n  ? new Date(input.trace.span.start_time).getTime()\n  : Date.now() - 1000;\nconst currentDuration = Date.now() - requestStartTime;\nconst isError = input.state?.status === 'failed' || input.error;\n\n// SLA status check\nconst slaStatus = {};\nconst slaViolations = [];\nconst slaWarnings = [];\n\n// Check response time SLA\nconst rtSla = SLA_DEFINITIONS.response_time;\nif (currentDuration > rtSla.critical_ms) {\n  slaViolations.push({\n    sla: 'response_time',\n    severity: 'critical',\n    current: currentDuration,\n    target: rtSla.target_ms,\n    message: `Response time ${currentDuration}ms exceeds critical threshold ${rtSla.critical_ms}ms`\n  });\n} else if (currentDuration > rtSla.warning_ms) {\n  slaWarnings.push({\n    sla: 'response_time',\n    severity: 'warning',\n    current: currentDuration,\n    target: rtSla.target_ms,\n    message: `Response time ${currentDuration}ms approaching SLA threshold`\n  });\n}\n\nslaStatus.response_time = {\n  current_ms: currentDuration,\n  target_ms: rtSla.target_ms,\n  status: currentDuration <= rtSla.target_ms ? 'ok' :\n          currentDuration <= rtSla.warning_ms ? 'warning' : 'violation',\n  percent_of_target: Math.round((currentDuration / rtSla.target_ms) * 100)\n};\n\n// Overall SLA health\nconst overallStatus = slaViolations.length > 0 ? 'violation' :\n                      slaWarnings.length > 0 ? 'warning' : 'ok';\n\nreturn {\n  json: {\n    ...input,\n    sla: {\n      status: overallStatus,\n      definitions: SLA_DEFINITIONS,\n      current_metrics: slaStatus,\n      violations: slaViolations,\n      warnings: slaWarnings,\n\n      // SLA report\n      report: {\n        request_id: input.deduplication?.request_id,\n        duration_ms: currentDuration,\n        is_error: isError,\n        timestamp: new Date().toISOString()\n      }\n    }\n  }\n};"
      }
    },
    {
      "id": "secret-manager",
      "name": "Secret Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        1000
      ],
      "parameters": {
        "jsCode": "// Secret Management - Secure credential storage and rotation\nconst input = $input.first().json;\nconst auth = input.auth || {};\nconst tenant = input.tenant || {};\n\n// Secret management configuration\nconst SECRET_CONFIG = {\n  // Secret types and their rotation policies\n  types: {\n    api_key: { rotation_days: 90, auto_rotate: false },\n    oauth_token: { rotation_days: 30, auto_rotate: true },\n    password: { rotation_days: 60, auto_rotate: false },\n    certificate: { rotation_days: 365, auto_rotate: true }\n  },\n\n  // Access levels\n  access_levels: {\n    admin: ['*'],\n    developer: ['api_key', 'oauth_token'],\n    user: ['oauth_token'],\n    readonly: []\n  }\n};\n\n// Simulated secret store (would be Vault/AWS Secrets Manager in production)\nconst SECRET_STORE = {\n  'anthropic_api_key': {\n    type: 'api_key',\n    created_at: '2026-01-01T00:00:00Z',\n    last_rotated: '2026-01-15T00:00:00Z',\n    expires_at: '2026-04-15T00:00:00Z',\n    access_roles: ['admin', 'developer']\n  },\n  'google_oauth': {\n    type: 'oauth_token',\n    created_at: '2026-01-20T00:00:00Z',\n    last_rotated: '2026-02-01T00:00:00Z',\n    expires_at: '2026-03-01T00:00:00Z',\n    access_roles: ['admin', 'developer', 'user']\n  },\n  'twilio_credentials': {\n    type: 'api_key',\n    created_at: '2026-01-01T00:00:00Z',\n    last_rotated: '2026-01-01T00:00:00Z',\n    expires_at: '2026-04-01T00:00:00Z',\n    access_roles: ['admin']\n  }\n};\n\n// Get user's role\nconst userRole = (auth.roles || ['readonly'])[0];\nconst allowedTypes = SECRET_CONFIG.access_levels[userRole] || [];\nconst canAccessAll = allowedTypes.includes('*');\n\n// Check secret health\nconst secretHealth = [];\nconst now = new Date();\n\nfor (const [name, secret] of Object.entries(SECRET_STORE)) {\n  const expiresAt = new Date(secret.expires_at);\n  const daysUntilExpiry = Math.ceil((expiresAt - now) / (1000 * 60 * 60 * 24));\n  const policy = SECRET_CONFIG.types[secret.type];\n\n  const health = {\n    name: name,\n    type: secret.type,\n    days_until_expiry: daysUntilExpiry,\n    rotation_due: daysUntilExpiry < 7,\n    expired: daysUntilExpiry < 0,\n    auto_rotate: policy.auto_rotate,\n    user_can_access: canAccessAll || allowedTypes.includes(secret.type)\n  };\n\n  // Add warnings\n  if (health.expired) {\n    health.status = 'expired';\n    health.warning = `Secret ${name} has expired!`;\n  } else if (health.rotation_due) {\n    health.status = 'rotation_due';\n    health.warning = `Secret ${name} expires in ${daysUntilExpiry} days`;\n  } else {\n    health.status = 'healthy';\n  }\n\n  secretHealth.push(health);\n}\n\n// Count issues\nconst expiredSecrets = secretHealth.filter(s => s.expired).length;\nconst rotationDue = secretHealth.filter(s => s.rotation_due && !s.expired).length;\n\nreturn {\n  json: {\n    ...input,\n    secrets: {\n      user_role: userRole,\n      allowed_types: allowedTypes,\n\n      // Health summary\n      health: {\n        total_secrets: secretHealth.length,\n        healthy: secretHealth.filter(s => s.status === 'healthy').length,\n        rotation_due: rotationDue,\n        expired: expiredSecrets,\n        overall_status: expiredSecrets > 0 ? 'critical' : rotationDue > 0 ? 'warning' : 'healthy'\n      },\n\n      // Accessible secrets health details\n      secrets: secretHealth.filter(s => s.user_can_access),\n\n      // Alerts\n      alerts: secretHealth\n        .filter(s => s.warning && s.user_can_access)\n        .map(s => ({ secret: s.name, message: s.warning, severity: s.status }))\n    }\n  }\n};"
      }
    },
    {
      "id": "correlation-engine",
      "name": "Correlation Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        1250
      ],
      "parameters": {
        "jsCode": "// Request Correlation Engine - Link related requests together\nconst input = $input.first().json;\nconst headers = input.headers || {};\nconst body = input.body || {};\n\n// Correlation identifiers\nconst correlationId = headers['x-correlation-id'] ||\n                      headers['x-request-id'] ||\n                      input.trace?.trace_id ||\n                      `corr_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\nconst sessionId = headers['x-session-id'] ||\n                  input.auth?.session_id ||\n                  `sess_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\nconst conversationId = body.conversation_id ||\n                       body.thread_id ||\n                       `conv_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n// Parent request tracking (for sub-agent calls)\nconst parentRequestId = headers['x-parent-request-id'] || null;\nconst rootRequestId = headers['x-root-request-id'] || correlationId;\nconst depth = parseInt(headers['x-request-depth'] || '0');\n\n// Build correlation context\nconst correlation = {\n  // Primary identifiers\n  correlation_id: correlationId,\n  session_id: sessionId,\n  conversation_id: conversationId,\n\n  // Hierarchy (for sub-agent tracking)\n  parent_request_id: parentRequestId,\n  root_request_id: rootRequestId,\n  depth: depth,\n  is_sub_request: parentRequestId !== null,\n\n  // Propagation headers (to pass to sub-requests)\n  propagation_headers: {\n    'x-correlation-id': correlationId,\n    'x-session-id': sessionId,\n    'x-root-request-id': rootRequestId,\n    'x-parent-request-id': input.deduplication?.request_id || correlationId,\n    'x-request-depth': (depth + 1).toString()\n  },\n\n  // Metadata\n  created_at: new Date().toISOString(),\n  user_id: input.auth?.user || 'anonymous',\n  tenant_id: input.tenant?.tenant_id || 'default'\n};\n\n// Log correlation for distributed tracing\nconsole.log(JSON.stringify({\n  event: 'request_correlation',\n  ...correlation\n}));\n\nreturn {\n  json: {\n    ...input,\n    correlation: correlation\n  }\n};"
      }
    },
    {
      "id": "chaos-controller",
      "name": "Chaos Controller",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        700
      ],
      "parameters": {
        "jsCode": "// Chaos Engineering Controller - Fault injection for testing resilience\nconst input = $input.first().json;\nconst headers = input.headers || {};\n\n// Chaos configuration (only enabled in non-production or with special header)\nconst CHAOS_CONFIG = {\n  enabled: headers['x-chaos-enabled'] === 'true',\n\n  // Fault types\n  faults: {\n    latency: {\n      enabled: true,\n      probability: 0.1,  // 10% of requests\n      min_delay_ms: 500,\n      max_delay_ms: 3000\n    },\n    error: {\n      enabled: true,\n      probability: 0.05,  // 5% of requests\n      error_codes: ['SIMULATED_ERROR', 'CHAOS_FAULT', 'RANDOM_FAILURE']\n    },\n    timeout: {\n      enabled: true,\n      probability: 0.02,  // 2% of requests\n      timeout_ms: 30000\n    },\n    resource_exhaustion: {\n      enabled: false,\n      probability: 0.01\n    }\n  }\n};\n\n// Skip chaos if not enabled\nif (!CHAOS_CONFIG.enabled) {\n  return {\n    json: {\n      ...input,\n      chaos: {\n        enabled: false,\n        message: 'Chaos engineering disabled. Set x-chaos-enabled: true to enable.'\n      }\n    }\n  };\n}\n\n// Roll dice for each fault type\nconst faultsTriggered = [];\nconst random = Math.random();\nlet totalProbability = 0;\n\nfor (const [faultType, config] of Object.entries(CHAOS_CONFIG.faults)) {\n  if (!config.enabled) continue;\n\n  totalProbability += config.probability;\n  if (random < totalProbability) {\n    faultsTriggered.push(faultType);\n    break;  // Only trigger one fault at a time\n  }\n}\n\n// Apply fault effects\nlet chaosResult = {\n  enabled: true,\n  faults_triggered: faultsTriggered,\n  random_value: random\n};\n\nif (faultsTriggered.includes('latency')) {\n  const config = CHAOS_CONFIG.faults.latency;\n  const delay = Math.floor(Math.random() * (config.max_delay_ms - config.min_delay_ms) + config.min_delay_ms);\n  chaosResult.latency_injection = {\n    delay_ms: delay,\n    message: `Chaos: Injecting ${delay}ms latency`\n  };\n}\n\nif (faultsTriggered.includes('error')) {\n  const config = CHAOS_CONFIG.faults.error;\n  const errorCode = config.error_codes[Math.floor(Math.random() * config.error_codes.length)];\n  chaosResult.error_injection = {\n    error_code: errorCode,\n    message: `Chaos: Simulating error ${errorCode}`\n  };\n\n  // Return error immediately\n  return {\n    json: {\n      success: false,\n      error: errorCode,\n      message: 'Chaos engineering fault injection',\n      chaos: chaosResult\n    }\n  };\n}\n\nif (faultsTriggered.includes('timeout')) {\n  chaosResult.timeout_injection = {\n    timeout_ms: CHAOS_CONFIG.faults.timeout.timeout_ms,\n    message: 'Chaos: Simulating timeout'\n  };\n}\n\nreturn {\n  json: {\n    ...input,\n    chaos: chaosResult\n  }\n};"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Request Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Background?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug?": {
      "main": [
        [
          {
            "node": "Debug Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resume?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare API": {
      "main": [
        [
          {
            "node": "Rate Limiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call API": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Needs Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Approval?": {
      "main": [
        [
          {
            "node": "Format Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Approval": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Process Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Tool Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Router": {
      "main": [
        [
          {
            "node": "File Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File Write",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Git Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Web Fetch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grep Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Glob Find",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Web Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Todo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Checkpoint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dynamic Tool Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checkpoint": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todo": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Read": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Write": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Edit": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Status": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Fetch": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grep Search": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Glob Find": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Result": {
      "main": [
        [
          {
            "node": "Format Tool Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue?": {
      "main": [
        [
          {
            "node": "Prepare API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Track Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume?": {
      "main": [
        [
          {
            "node": "Load Checkpoint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Checkpoint": {
      "main": [
        [
          {
            "node": "Restore State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore State": {
      "main": [
        [
          {
            "node": "Prepare API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Background?": {
      "main": [
        [
          {
            "node": "Create BG Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Debug?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create BG Task": {
      "main": [
        [
          {
            "node": "Trigger Background",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Background": {
      "main": [
        [
          {
            "node": "Background Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Response": {
      "main": [
        [
          {
            "node": "Response Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task?": {
      "main": [
        [
          {
            "node": "Update BG Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update BG Task": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dynamic Tool Router": {
      "main": [
        [
          {
            "node": "Universal Tool Executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Universal Tool Executor": {
      "main": [
        [
          {
            "node": "Smart Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "API Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Available?": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API Unavailable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Metrics": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limiter": {
      "main": [
        [
          {
            "node": "Call API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Cache": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Tool Result": {
      "main": [
        [
          {
            "node": "Continue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Special Action?": {
      "main": [
        [
          {
            "node": "Handle Special Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Needs Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Special Action": {
      "main": [
        [
          {
            "node": "Report to Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report to Error Handler": {
      "main": [
        [
          {
            "node": "Dead Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry With Backoff": {
      "main": [
        [
          {
            "node": "Call API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Failed": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Processor": {
      "main": [
        [
          {
            "node": "Circuit Breaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Circuit Breaker": {
      "main": [
        [
          {
            "node": "Request Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Validator": {
      "main": [
        [
          {
            "node": "Valid Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Request?": {
      "main": [
        [
          {
            "node": "Request Dedup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Request": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Dedup": {
      "main": [
        [
          {
            "node": "Priority Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority Queue": {
      "main": [
        [
          {
            "node": "Request Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Logger": {
      "main": [
        [
          {
            "node": "Check Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Logger": {
      "main": [
        [
          {
            "node": "Metrics Collector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dead Letter Queue": {
      "main": [
        [
          {
            "node": "Graceful Degradation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Graceful Degradation": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timeout Handler": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Aggregator": {
      "main": [
        [
          {
            "node": "Response Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Enrichment": {
      "main": [
        [
          {
            "node": "JWT Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Auth": {
      "main": [
        [
          {
            "node": "RBAC Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RBAC Check": {
      "main": [
        [
          {
            "node": "Feature Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feature Flags": {
      "main": [
        [
          {
            "node": "Budget Enforcement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Budget Enforcement": {
      "main": [
        [
          {
            "node": "Request Tracing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Tracing": {
      "main": [
        [
          {
            "node": "A/B Testing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A/B Testing": {
      "main": [
        [
          {
            "node": "Cache Layer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metrics Collector": {
      "main": [
        [
          {
            "node": "Workflow Versioning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Versioning": {
      "main": [
        [
          {
            "node": "Health Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Dashboard": {
      "main": [
        [
          {
            "node": "WebSocket Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Layer": {
      "main": [
        [
          {
            "node": "Throttle Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Throttle Controller": {
      "main": [
        [
          {
            "node": "Tenant Isolator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tenant Isolator": {
      "main": [
        [
          {
            "node": "Secret Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secret Manager": {
      "main": [
        [
          {
            "node": "Correlation Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correlation Engine": {
      "main": [
        [
          {
            "node": "Canary Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canary Controller": {
      "main": [
        [
          {
            "node": "Batch Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebSocket Manager": {
      "main": [
        [
          {
            "node": "Replay Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replay Engine": {
      "main": [
        [
          {
            "node": "SLA Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA Monitor": {
      "main": [
        [
          {
            "node": "Chaos Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chaos Controller": {
      "main": [
        [
          {
            "node": "Update Task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {},
  "pinData": {},
  "versionCounter": 321,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-07T00:22:42.165Z",
      "createdAt": "2026-02-07T00:22:42.165Z",
      "role": "workflow:owner",
      "workflowId": "1s52PkA1lY1lHfGP",
      "projectId": "K0tuXr7ScEf3VOi6",
      "project": {
        "updatedAt": "2025-11-19T23:25:09.042Z",
        "createdAt": "2025-11-19T23:19:21.744Z",
        "id": "K0tuXr7ScEf3VOi6",
        "name": "William Marceau <wmarceau@marceausolutions.com>",
        "type": "personal",
        "creatorId": "39622bf8-ce74-4af0-a471-7139b1c2deec",
        "projectRelations": [
          {
            "updatedAt": "2025-11-19T23:19:21.744Z",
            "createdAt": "2025-11-19T23:19:21.744Z",
            "userId": "39622bf8-ce74-4af0-a471-7139b1c2deec",
            "projectId": "K0tuXr7ScEf3VOi6",
            "user": {
              "updatedAt": "2026-02-07T05:06:14.000Z",
              "createdAt": "2025-11-19T23:19:21.693Z",
              "id": "39622bf8-ce74-4af0-a471-7139b1c2deec",
              "email": "wmarceau@marceausolutions.com",
              "firstName": "William",
              "lastName": "Marceau",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-19T23:25:34.123Z",
                "personalization_survey_n8n_version": "1.64.3",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "business-owner",
                "reportedSource": "twitter"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "rWonSOjisRyGBxg1",
                "userActivatedAt": 1770425509492
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}