projects/shared/n8n-workflows/agent-orchestrator-v40.json
{
  "updatedAt": "2026-02-07T05:09:33.450Z",
  "createdAt": "2026-02-07T00:22:42.152Z",
  "id": "1s52PkA1lY1lHfGP",
  "name": "Universal-Agent-Orchestrator",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent/execute",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "webhookId": "agent-execute"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst req = input.body || input;\n\nif (req.debug === true) {\n  return {\n    json: {\n      is_debug: true,\n      status: 'debug',\n      message: 'Agent orchestrator v4.0 is working!',\n      features: [\n        'multi-provider', 'hitl-approval', 'plan-mode', 'todo-tracking',\n        'session-checkpoint', 'background-tasks', 'async-execution',\n        'task-persistence', 'retry-logic', 'context-management', 'streaming-responses',\n        'parallel-tool-execution', 'tool-result-caching', 'smart-rate-limiting', 'cost-token-tracking',\n        'conversation-memory', 'tool-pipelines', 'webhook-notifications', 'agent-templates',\n        'multi-agent-orchestration', 'knowledge-base-rag', 'scheduled-tasks', 'tool-plugins',\n        'agent-learning', 'workflow-recording', 'smart-context-injection', 'inter-agent-communication',\n        'agent-personas', 'goal-decomposition', 'tool-macros', 'audit-trail', 'adaptive-behavior',\n        'grep', 'glob', 'web_search', 'git_status', 'web_fetch', 'file_write', 'file_edit'\n      ],\n      version: '4.0.0',\n      agent_templates: ['coder', 'researcher', 'analyst', 'writer', 'devops', 'orchestrator'],\n      agent_personas: ['senior_engineer', 'rapid_prototyper', 'research_analyst', 'devops_specialist'],\n      builtin_pipelines: ['find_and_read', 'search_and_extract', 'backup_file'],\n      builtin_macros: ['backup_and_edit', 'git_safe_commit', 'find_replace_all', 'analyze_codebase'],\n      v40_features: {\n        personas: 'Rich personality definitions with traits, expertise, communication style',\n        goals: 'Goal decomposition into sub-goals with dependency graphs',\n        macros: 'Reusable multi-tool sequences that execute as single commands',\n        audit: 'Complete action logging for debugging and compliance',\n        adaptive: 'Auto-adjust agent behavior based on learning patterns'\n      },\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\n// Check for session continuation\nif (req.continue_session === true && req.session_state) {\n  const state = req.session_state;\n  state.messages.push({ role: 'user', content: req.message || 'Continue' });\n  return {\n    json: {\n      is_debug: false,\n      session_id: req.session_id || state.session_id,\n      agent: state.agent,\n      task: state.task,\n      config: state.config,\n      state: state,\n      is_continuation: true,\n      _background_execution: req._background_execution || false,\n      _original_task_id: req._original_task_id || null\n    }\n  };\n}\n\n// Check for session resume from checkpoint\nif (req.resume_session === true && req.session_id) {\n  return {\n    json: {\n      is_debug: false,\n      session_id: req.session_id,\n      checkpoint_name: req.checkpoint_name || 'default',\n      is_resume: true,\n      resume_message: req.message || 'Resume from checkpoint',\n      _background_execution: req._background_execution || false,\n      _original_task_id: req._original_task_id || null\n    }\n  };\n}\n\n// v4.0: Agent personas (built-in)\nconst agentPersonas = {\n  senior_engineer: {\n    traits: ['thorough', 'methodical', 'security-conscious'],\n    expertise: ['architecture', 'code-review', 'testing', 'documentation'],\n    communication_style: 'technical',\n    verbosity: 'detailed'\n  },\n  rapid_prototyper: {\n    traits: ['fast', 'pragmatic', 'iterative'],\n    expertise: ['mvp', 'scripting', 'quick-fixes'],\n    communication_style: 'casual',\n    verbosity: 'minimal'\n  },\n  research_analyst: {\n    traits: ['analytical', 'thorough', 'skeptical'],\n    expertise: ['data-analysis', 'market-research', 'competitive-analysis'],\n    communication_style: 'professional',\n    verbosity: 'detailed'\n  },\n  devops_specialist: {\n    traits: ['cautious', 'systematic', 'documentation-focused'],\n    expertise: ['deployment', 'ci-cd', 'monitoring', 'infrastructure'],\n    communication_style: 'technical',\n    verbosity: 'balanced'\n  }\n};\n\n// v3.7: Agent templates\nconst agentTemplates = {\n  coder: {\n    id: 'coder-agent',\n    provider: 'anthropic',\n    model: 'claude-sonnet-4-5-20250929',\n    tools_available: ['file_read', 'file_write', 'file_edit', 'command', 'grep', 'glob', 'git_status'],\n    system_prompt: 'You are an expert software developer. You write clean, efficient, well-documented code.\\n\\nWhen writing code:\\n- Follow best practices and design patterns\\n- Include error handling\\n- Add helpful comments for complex logic\\n\\nAvailable tools:\\n- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}\\n- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}\\n- file_edit: Edit lines in a file. Input: {\"path\": \"/path\", \"edits\": [{\"line_start\": 1, \"line_end\": 2, \"new_content\": \"new text\"}]}\\n- command: Execute a shell command. Input: {\"command\": \"the command\"}\\n- grep: Search file contents with regex. Input: {\"pattern\": \"regex\", \"path\": \"/dir\"}\\n- glob: Find files by pattern. Input: {\"pattern\": \"**/*.py\", \"path\": \"/dir\"}\\n- git_status: Get git repository status. Input: {\"repo_path\": \"/path/to/repo\"}\\n\\nUse JSON format: {\"action\": \"tool_name\", \"input\": {...}}\\nWhen complete, include TASK_COMPLETE.'\n  },\n  researcher: {\n    id: 'researcher-agent',\n    provider: 'anthropic',\n    model: 'claude-sonnet-4-5-20250929',\n    tools_available: ['web_search', 'web_fetch', 'file_read', 'file_write', 'grep'],\n    system_prompt: 'You are an expert researcher. You find, analyze, and synthesize information effectively.\\n\\nWhen researching:\\n- Search multiple sources for accuracy\\n- Verify information when possible\\n- Summarize findings clearly\\n\\nAvailable tools:\\n- web_search: Search the web. Input: {\"query\": \"search terms\", \"max_results\": 10}\\n- web_fetch: Fetch content from a URL. Input: {\"url\": \"https://...\"}\\n- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}\\n- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}\\n- grep: Search file contents. Input: {\"pattern\": \"regex\", \"path\": \"/dir\"}\\n\\nUse JSON format: {\"action\": \"tool_name\", \"input\": {...}}\\nWhen complete, include TASK_COMPLETE.'\n  },\n  analyst: {\n    id: 'analyst-agent',\n    provider: 'anthropic',\n    model: 'claude-sonnet-4-5-20250929',\n    tools_available: ['file_read', 'command', 'grep', 'glob', 'file_write'],\n    system_prompt: 'You are an expert data analyst. You analyze data, identify patterns, and provide actionable insights.\\n\\nWhen analyzing:\\n- Look for trends and patterns\\n- Calculate relevant statistics\\n- Provide clear recommendations\\n\\nAvailable tools:\\n- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}\\n- command: Execute a shell command. Input: {\"command\": \"the command\"}\\n- grep: Search file contents. Input: {\"pattern\": \"regex\", \"path\": \"/dir\"}\\n- glob: Find files by pattern. Input: {\"pattern\": \"**/*.csv\", \"path\": \"/dir\"}\\n- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}\\n\\nUse JSON format: {\"action\": \"tool_name\", \"input\": {...}}\\nWhen complete, include TASK_COMPLETE.'\n  },\n  writer: {\n    id: 'writer-agent',\n    provider: 'anthropic',\n    model: 'claude-sonnet-4-5-20250929',\n    tools_available: ['file_read', 'file_write', 'web_search', 'web_fetch'],\n    system_prompt: 'You are an expert content writer. You create engaging, clear, and well-structured content.\\n\\nWhen writing:\\n- Use clear and concise language\\n- Structure content logically\\n- Adapt tone to the audience\\n\\nAvailable tools:\\n- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}\\n- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}\\n- web_search: Search the web. Input: {\"query\": \"search terms\"}\\n- web_fetch: Fetch content from a URL. Input: {\"url\": \"https://...\"}\\n\\nUse JSON format: {\"action\": \"tool_name\", \"input\": {...}}\\nWhen complete, include TASK_COMPLETE.'\n  },\n  devops: {\n    id: 'devops-agent',\n    provider: 'anthropic',\n    model: 'claude-sonnet-4-5-20250929',\n    tools_available: ['command', 'file_read', 'file_write', 'file_edit', 'git_status', 'grep', 'glob'],\n    system_prompt: 'You are an expert DevOps engineer. You manage infrastructure, deployments, and automation.\\n\\nWhen working:\\n- Follow security best practices\\n- Document all changes\\n- Be cautious with destructive commands\\n\\nAvailable tools:\\n- command: Execute a shell command. Input: {\"command\": \"the command\"}\\n- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}\\n- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}\\n- file_edit: Edit lines in a file. Input: {\"path\": \"/path\", \"edits\": [...]}\\n- git_status: Get git repository status. Input: {\"repo_path\": \"/path/to/repo\"}\\n- grep: Search file contents. Input: {\"pattern\": \"regex\", \"path\": \"/dir\"}\\n- glob: Find files by pattern. Input: {\"pattern\": \"**/*.yml\", \"path\": \"/dir\"}\\n\\nUse JSON format: {\"action\": \"tool_name\", \"input\": {...}}\\nWhen complete, include TASK_COMPLETE.'\n  },\n  orchestrator: {\n    id: 'orchestrator-agent',\n    provider: 'anthropic',\n    model: 'claude-sonnet-4-5-20250929',\n    tools_available: ['file_read', 'file_write', 'command', 'grep', 'glob', 'git_status'],\n    system_prompt: 'You are a task orchestrator. You break down complex tasks into sub-tasks and delegate to specialized agents.\\n\\nWhen orchestrating:\\n- Analyze the task complexity\\n- Identify sub-tasks that can run in parallel\\n- Coordinate results from sub-agents\\n- Synthesize final output\\n\\nAvailable tools:\\n- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}\\n- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}\\n- command: Execute a shell command. Input: {\"command\": \"the command\"}\\n- grep: Search file contents. Input: {\"pattern\": \"regex\", \"path\": \"/dir\"}\\n- glob: Find files by pattern. Input: {\"pattern\": \"**/*\", \"path\": \"/dir\"}\\n- git_status: Get git repository status. Input: {\"repo_path\": \"/path/to/repo\"}\\n\\nUse JSON format: {\"action\": \"tool_name\", \"input\": {...}}\\nWhen complete, include TASK_COMPLETE.'\n  }\n};\n\nconst allTools = ['file_read', 'file_write', 'file_edit', 'command', 'git_status', 'web_fetch', 'grep', 'glob', 'web_search', 'todo', 'checkpoint'];\nconst approvalTools = ['command', 'file_write', 'file_edit'];\nconst dangerousPatterns = ['rm -rf', 'rm -r', 'rmdir', 'git push', 'git push --force', 'kill', 'pkill', 'killall', 'reboot', 'shutdown', 'chmod 777', 'chown', 'dd if=', 'mkfs', ':(){', '> /dev/'];\n\n// v4.0: Apply agent persona if specified\nlet personaEnhancement = '';\nif (req.persona && agentPersonas[req.persona]) {\n  const persona = agentPersonas[req.persona];\n  personaEnhancement = `\\n\\nPersona traits: ${persona.traits.join(', ')}. Expertise: ${persona.expertise.join(', ')}. Communication style: ${persona.communication_style}. Verbosity: ${persona.verbosity}.`;\n}\n\n// v3.7/v4.0: Apply agent template if specified\nlet agent;\nif (req.template && agentTemplates[req.template]) {\n  agent = { ...agentTemplates[req.template] };\n  // Allow overrides\n  if (req.agent) {\n    Object.assign(agent, req.agent);\n  }\n} else {\n  agent = req.agent || { id: 'claude-code-v1', provider: 'anthropic', model: 'claude-sonnet-4-5-20250929', tools_available: allTools };\n}\n\nif (!agent.provider) agent.provider = 'anthropic';\nif (!agent.model) agent.model = agent.provider === 'xai' ? 'grok-2-latest' : 'claude-sonnet-4-5-20250929';\nif (!agent.tools_available) agent.tools_available = allTools;\n\nconst toolDocs = {\n  file_read: '- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}',\n  file_write: '- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}',\n  file_edit: '- file_edit: Edit lines in a file. Input: {\"path\": \"/path\", \"edits\": [{\"line_start\": 1, \"line_end\": 2, \"new_content\": \"new text\"}]}',\n  command: '- command: Execute a shell command. Input: {\"command\": \"the command\"}',\n  git_status: '- git_status: Get git repository status. Input: {\"repo_path\": \"/path/to/repo\"}',\n  web_fetch: '- web_fetch: Fetch content from a URL. Input: {\"url\": \"https://...\"}',\n  grep: '- grep: Search file contents with regex. Input: {\"pattern\": \"regex\", \"path\": \"/dir\", \"type\": \"py\", \"context\": 2}',\n  glob: '- glob: Find files by pattern. Input: {\"pattern\": \"**/*.py\", \"path\": \"/dir\"}',\n  web_search: '- web_search: Search the web. Input: {\"query\": \"search terms\", \"max_results\": 10}',\n  todo: '- todo: Manage task list. Input: {\"operation\": \"add|update|list|delete\", \"content\": \"task\", \"id\": \"id\", \"status\": \"pending|in_progress|completed\"}',\n  checkpoint: '- checkpoint: Save session state for later resume. Input: {\"name\": \"optional_checkpoint_name\"}'\n};\n\nconst availableToolDocs = agent.tools_available.map(t => toolDocs[t] || ('- ' + t)).join('\\n');\n\nconst planMode = req.config?.plan_mode === true;\nconst backgroundMode = req.background === true && !req._background_execution;\n\n// Use agent's system_prompt if provided, otherwise build default\nlet systemPrompt = agent.system_prompt;\nif (!systemPrompt) {\n  if (planMode) {\n    systemPrompt = 'You are a helpful AI assistant that can perform actions using tools.\\n\\nIMPORTANT: PLAN MODE is enabled. You MUST first create a plan before executing any actions.\\n\\nTo create a plan, respond with:\\n{\"action\": \"plan\", \"input\": {\"title\": \"Plan Title\", \"steps\": [\"Step 1 description\", \"Step 2 description\", ...]}}\\n\\nAfter your plan is approved, you will execute each step using the available tools.\\n\\nAvailable tools:\\n' + availableToolDocs + '\\n\\nWhen you need to use a tool, respond with:\\n{\"action\": \"tool_name\", \"input\": {\"key\": \"value\"}}\\n\\nDo NOT use XML tags. ONLY use JSON format.\\nAfter using a tool, wait for the result before continuing.\\nWhen the task is fully complete, include TASK_COMPLETE in your response.';\n  } else {\n    systemPrompt = 'You are a helpful AI assistant that can perform actions using tools.\\n\\nIMPORTANT: When you need to use a tool, you MUST respond with ONLY a JSON object in this exact format:\\n{\"action\": \"tool_name\", \"input\": {\"key\": \"value\"}}\\n\\nAvailable tools:\\n' + availableToolDocs + '\\n\\nDo NOT use XML tags or any other format. ONLY use the JSON format above.\\nAfter using a tool, wait for the result before continuing.\\nWhen the task is fully complete, include TASK_COMPLETE in your response.';\n  }\n}\n\n// v4.0: Add persona enhancement to system prompt\nif (personaEnhancement) {\n  systemPrompt += personaEnhancement;\n}\n\nlet task;\nif (typeof req.task === 'string') {\n  task = { objective: req.task, context: '/home/ec2-user/dev-sandbox' };\n} else {\n  task = req.task || { objective: 'Read /home/ec2-user/.bashrc and summarize what aliases are defined', context: '/home/ec2-user' };\n}\n\n// v4.0: Enhanced config with all features\nconst config = {\n  max_iterations: 10,\n  require_approval_for: req.config?.require_approval_for || approvalTools,\n  dangerous_patterns: dangerousPatterns,\n  approval_timeout_seconds: 300,\n  plan_mode: planMode,\n  retry: {\n    enabled: req.config?.retry?.enabled !== false,\n    max_retries: req.config?.retry?.max_retries || 3,\n    base_delay: req.config?.retry?.base_delay || 1.0\n  },\n  context: {\n    auto_truncate: req.config?.context?.auto_truncate !== false,\n    max_tokens: req.config?.context?.max_tokens || 120000,\n    preserve_first: req.config?.context?.preserve_first || 1,\n    preserve_last: req.config?.context?.preserve_last || 5\n  },\n  streaming: {\n    enabled: req.config?.streaming?.enabled || false\n  },\n  parallel: {\n    enabled: req.config?.parallel?.enabled !== false,\n    max_workers: req.config?.parallel?.max_workers || 4,\n    timeout: req.config?.parallel?.timeout || 30\n  },\n  cache: {\n    enabled: req.config?.cache?.enabled !== false,\n    ttl: req.config?.cache?.ttl || 300,\n    max_size: req.config?.cache?.max_size || 100\n  },\n  ratelimit: {\n    enabled: req.config?.ratelimit?.enabled !== false,\n    rate: req.config?.ratelimit?.rate || 10.0,\n    capacity: req.config?.ratelimit?.capacity || 20\n  },\n  cost: {\n    enabled: req.config?.cost?.enabled !== false,\n    budget_limit: req.config?.cost?.budget_limit || null,\n    track_tokens: req.config?.cost?.track_tokens !== false\n  },\n  // v3.7: Memory config\n  memory: {\n    enabled: req.config?.memory?.enabled !== false,\n    max_messages: req.config?.memory?.max_messages || 100\n  },\n  // v3.7: Webhook config\n  webhook: {\n    url: req.config?.webhook?.url || null,\n    events: req.config?.webhook?.events || ['task_complete', 'task_error']\n  },\n  // v3.8: Orchestration config\n  orchestration: {\n    enabled: req.config?.orchestration?.enabled !== false,\n    max_sub_agents: req.config?.orchestration?.max_sub_agents || 5,\n    strategy: req.config?.orchestration?.strategy || 'parallel'\n  },\n  // v3.8: Knowledge base config\n  knowledge_base: {\n    kb_id: req.config?.knowledge_base?.kb_id || null,\n    auto_context: req.config?.knowledge_base?.auto_context !== false\n  },\n  // v3.9: Learning config\n  learning: {\n    enabled: req.config?.learning?.enabled !== false,\n    record_outcomes: req.config?.learning?.record_outcomes !== false,\n    apply_recommendations: req.config?.learning?.apply_recommendations !== false\n  },\n  // v3.9: Recording config\n  recording: {\n    enabled: req.config?.recording?.enabled || false,\n    auto_record: req.config?.recording?.auto_record || false\n  },\n  // v3.9: Context injection config\n  context_injection: {\n    enabled: req.config?.context_injection?.enabled !== false,\n    max_chunks: req.config?.context_injection?.max_chunks || 5\n  },\n  // v3.9: Inter-agent config\n  inter_agent: {\n    enabled: req.config?.inter_agent?.enabled !== false,\n    orchestration_id: req.config?.inter_agent?.orchestration_id || null\n  },\n  // v4.0: Persona config\n  persona: {\n    id: req.persona || null,\n    custom_traits: req.config?.persona?.custom_traits || []\n  },\n  // v4.0: Goal decomposition config\n  goals: {\n    enabled: req.config?.goals?.enabled !== false,\n    auto_decompose: req.config?.goals?.auto_decompose || false,\n    strategy: req.config?.goals?.strategy || 'sequential'\n  },\n  // v4.0: Macro config\n  macros: {\n    enabled: req.config?.macros?.enabled !== false,\n    allowed_macros: req.config?.macros?.allowed_macros || []\n  },\n  // v4.0: Audit config\n  audit: {\n    enabled: req.config?.audit?.enabled !== false,\n    log_inputs: req.config?.audit?.log_inputs !== false,\n    log_outputs: req.config?.audit?.log_outputs !== false\n  },\n  // v4.0: Adaptive behavior config\n  adaptive: {\n    enabled: req.config?.adaptive?.enabled !== false,\n    learning_rate: req.config?.adaptive?.learning_rate || 0.1,\n    apply_adaptations: req.config?.adaptive?.apply_adaptations !== false\n  },\n  ...req.config\n};\n\nlet initialMessage = 'Task: ' + task.objective + '\\nContext: ' + (task.context || 'none') + '\\n\\n';\nif (planMode) {\n  initialMessage += 'PLAN MODE: First, create a plan for how you will accomplish this task. The plan will be reviewed before execution.';\n} else {\n  initialMessage += 'Remember: Use ONLY JSON format for tool calls: {\"action\": \"tool_name\", \"input\": {...}}';\n}\n\nconst sessionId = req.session_id || 'session_' + Date.now();\nconst taskId = backgroundMode ? 'task_' + Date.now().toString(36) + Math.random().toString(36).substr(2, 6) : null;\n\nconst estimateTokens = (text) => text ? Math.ceil(text.length / 4) : 0;\nconst initialTokenEstimate = estimateTokens(systemPrompt) + estimateTokens(initialMessage);\n\nreturn {\n  json: {\n    is_debug: false,\n    session_id: sessionId,\n    task_id: taskId,\n    background_mode: backgroundMode,\n    template_used: req.template || null,\n    persona_used: req.persona || null,\n    agent: { ...agent, system_prompt: systemPrompt },\n    task: task,\n    config: config,\n    state: {\n      iteration: 0,\n      history: [],\n      approvals: [],\n      plan: null,\n      plan_approved: false,\n      current_step: 0,\n      todos: [],\n      messages: [{ role: 'user', content: initialMessage }],\n      token_estimate: initialTokenEstimate,\n      context_truncated: false,\n      cost_tracker: {\n        input_tokens: 0,\n        output_tokens: 0,\n        total_cost: 0.0,\n        tool_calls: 0\n      },\n      // v3.9 state\n      learning_applied: false,\n      recording_active: false,\n      context_injected: false,\n      // v4.0 state\n      persona_active: req.persona ? true : false,\n      goal_id: null,\n      current_subgoal: null,\n      audit_entry_count: 0,\n      adaptations_applied: 0\n    },\n    _background_execution: req._background_execution || false,\n    _original_task_id: req._original_task_id || null\n  }\n};"
      },
      "id": "parse-request",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_debug }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-debug",
      "name": "Debug?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        448,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return { json: $input.first().json };"
      },
      "id": "debug-response",
      "name": "Debug Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst msgs = d.state.messages;\nconst sys = d.agent.system_prompt;\nconst model = d.agent.model;\nconst provider = d.agent.provider || 'anthropic';\n\nlet api_body, api_url, extra_headers;\n\nif (provider === 'xai' || provider === 'grok') {\n  api_url = 'https://api.x.ai/v1/chat/completions';\n  api_body = {\n    model: model || 'grok-2-latest',\n    messages: [{ role: 'system', content: sys }, ...msgs],\n    max_tokens: 4096,\n    temperature: 0.7\n  };\n  extra_headers = {};\n} else {\n  api_url = 'https://api.anthropic.com/v1/messages';\n  api_body = {\n    model: model || 'claude-sonnet-4-5-20250929',\n    max_tokens: 4096,\n    system: sys,\n    messages: msgs\n  };\n  extra_headers = { 'anthropic-version': '2023-06-01' };\n}\n\nreturn { json: { ...d, provider, api_url, api_body, extra_headers } };"
      },
      "id": "prepare-api",
      "name": "Prepare API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "={{ $json.provider === 'anthropic' ? 'anthropic-version' : 'X-Custom-Header' }}",
              "value": "={{ $json.provider === 'anthropic' ? '2023-06-01' : 'none' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.api_body) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-api",
      "name": "Call API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        512
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YcmiPKM8dtApO3q3",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst prev = $('Prepare API').first().json;\nconst provider = prev.provider || 'anthropic';\n\nif (resp.error || resp.type === 'error') {\n  return { json: { ...prev, action_type: 'error', error: resp.error?.message || resp.message || JSON.stringify(resp).substring(0, 300), continue_loop: false } };\n}\n\nlet text = '';\nif (provider === 'xai' || provider === 'grok') {\n  if (resp.choices?.[0]?.message) text = resp.choices[0].message.content || '';\n} else {\n  for (const c of (resp.content || [])) {\n    if (c.type === 'text') text = c.text;\n  }\n}\n\nif (text.includes('TASK_COMPLETE')) {\n  return { json: { ...prev, action_type: 'complete', result: text, continue_loop: false } };\n}\n\nlet tool = null;\ntry {\n  const actionMatch = text.match(/\\{\\s*\"action\"\\s*:\\s*\"[^\"]+\"[^}]*\"input\"\\s*:\\s*\\{[^}]*\\}\\s*\\}/g);\n  if (actionMatch) {\n    for (const m of actionMatch) {\n      try {\n        const parsed = JSON.parse(m);\n        if (parsed.action) { tool = parsed; break; }\n      } catch(e) {}\n    }\n  }\n  // Also try to match plan action with array in input\n  if (!tool) {\n    const planMatch = text.match(/\\{\\s*\"action\"\\s*:\\s*\"plan\"[\\s\\S]*?\"steps\"\\s*:\\s*\\[[^\\]]*\\][^}]*\\}/g);\n    if (planMatch) {\n      for (const m of planMatch) {\n        try {\n          const parsed = JSON.parse(m);\n          if (parsed.action === 'plan') { tool = parsed; break; }\n        } catch(e) {}\n      }\n    }\n  }\n} catch(e) {}\n\nif (tool) {\n  prev.state.messages.push({ role: 'assistant', content: text });\n  \n  // Check if this action requires approval\n  const requiresApproval = prev.config.require_approval_for?.includes(tool.action);\n  let isDangerous = false;\n  \n  // Check for dangerous patterns in commands\n  if (tool.action === 'command' && tool.input?.command) {\n    const cmd = tool.input.command.toLowerCase();\n    isDangerous = prev.config.dangerous_patterns?.some(p => cmd.includes(p.toLowerCase()));\n  }\n  \n  // Plan actions always require approval\n  const isPlan = tool.action === 'plan';\n  if (isPlan) {\n    prev.state.plan = tool.input;\n  }\n  \n  return { json: { ...prev, action_type: tool.action, action_input: tool.input || {}, raw_response: text, continue_loop: true, requires_approval: requiresApproval || isDangerous || isPlan, is_dangerous: isDangerous, is_plan: isPlan } };\n}\n\nreturn { json: { ...prev, action_type: 'complete', result: text, continue_loop: false } };"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.requires_approval }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-approval",
      "name": "Needs Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1328,
        512
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format approval request for logging/notification\nconst d = $input.first().json;\nconst approvalId = 'approval_' + Date.now();\n\nlet message;\nif (d.is_plan) {\n  // Format plan approval message\n  const plan = d.action_input;\n  const stepsFormatted = plan.steps.map((s, i) => `  ${i+1}. ${s}`).join('\\n');\n  message = `📋 PLAN APPROVAL REQUIRED\\n\\n**${plan.title || 'Execution Plan'}**\\n\\nSteps:\\n${stepsFormatted}\\n\\nApprove this plan to begin execution?`;\n} else if (d.is_dangerous) {\n  message = `⚠️ DANGEROUS ACTION REQUESTED\\n\\nAction: ${d.action_type}\\nInput: ${JSON.stringify(d.action_input, null, 2)}\\n\\nThis action matches dangerous patterns. Approve?`;\n} else {\n  message = `🔔 Approval Required\\n\\nAction: ${d.action_type}\\nInput: ${JSON.stringify(d.action_input, null, 2)}\\n\\nApprove this action?`;\n}\n\nconst approvalRequest = {\n  approval_id: approvalId,\n  session_id: d.session_id,\n  action_type: d.action_type,\n  action_input: d.action_input,\n  is_dangerous: d.is_dangerous,\n  is_plan: d.is_plan,\n  message: message,\n  created_at: new Date().toISOString(),\n  timeout_seconds: d.config.approval_timeout_seconds || 300\n};\n\n// Store in state for tracking\nd.state.pending_approval = approvalRequest;\n\nreturn { json: { ...d, approval_request: approvalRequest } };"
      },
      "id": "format-approval",
      "name": "Format Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        400
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "={{ $json.approval_request.approval_id }}"
        }
      },
      "id": "wait-approval",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        -48
      ],
      "webhookId": "agent-approval"
    },
    {
      "parameters": {
        "jsCode": "// Process approval response from webhook\nconst webhookData = $input.first().json;\nconst prevData = $('Format Approval').first().json;\n\n// Check if approved (webhook body should contain { approved: true/false })\nconst approved = webhookData.body?.approved === true || webhookData.approved === true;\nconst reason = webhookData.body?.reason || webhookData.reason || '';\nconst isPlan = prevData.is_plan;\n\nprevData.state.approvals.push({\n  approval_id: prevData.approval_request?.approval_id,\n  action_type: prevData.action_type,\n  is_plan: isPlan,\n  approved: approved,\n  reason: reason,\n  responded_at: new Date().toISOString()\n});\n\nif (approved) {\n  if (isPlan) {\n    // Plan approved - add plan to context and instruct agent to execute\n    // Set approval_granted FALSE so it routes to Prepare API (loop back)\n    prevData.state.plan_approved = true;\n    const plan = prevData.action_input;\n    const stepsFormatted = plan.steps.map((s, i) => `Step ${i+1}: ${s}`).join('\\n');\n    prevData.state.messages.push({ \n      role: 'user', \n      content: `✅ Plan approved! Now execute the following plan step by step:\\n\\n${stepsFormatted}\\n\\nStart with Step 1. After completing each step, proceed to the next. When all steps are complete, include TASK_COMPLETE.`\n    });\n    // Route to Prepare API to continue execution\n    return { json: { ...prevData, approval_granted: false, action_type: 'plan_approved', continue_loop: true } };\n  } else {\n    // Regular action approved - continue to tool execution\n    return { json: { ...prevData, approval_granted: true, continue_loop: true } };\n  }\n} else {\n  // Denied - add message to conversation and continue\n  if (isPlan) {\n    prevData.state.messages.push({ \n      role: 'user', \n      content: `❌ Plan rejected.${reason ? ' Reason: ' + reason : ''} Please revise your plan based on the feedback and create a new plan.`\n    });\n  } else {\n    prevData.state.messages.push({ \n      role: 'user', \n      content: `Tool call denied by human operator.${reason ? ' Reason: ' + reason : ''} Please try a different approach.`\n    });\n  }\n  return { json: { ...prevData, approval_granted: false, action_type: 'approval_denied', continue_loop: true } };\n}"
      },
      "id": "process-approval",
      "name": "Process Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.approval_granted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "approval-granted",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2208,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "file_read",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "file_write",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "file_edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "command",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "git_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "web_fetch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "grep",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "glob",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "web_search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "todo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "checkpoint",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "tool-router",
      "name": "Tool Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1552,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/files/read",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "file-read",
      "name": "File Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/files/write",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "file-write",
      "name": "File Write",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        224
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/files/edit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "file-edit",
      "name": "File Edit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        352
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/command/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "command-exec",
      "name": "Command",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        464
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/git/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "git-status",
      "name": "Git Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        592
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/web/fetch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "web-fetch",
      "name": "Web Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        704
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/search/grep",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "grep-search",
      "name": "Grep Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        832
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/files/glob",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "glob-find",
      "name": "Glob Find",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        944
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\n\nlet prev;\ntry {\n  prev = $('Parse Response').first().json;\n} catch(e) {\n  try {\n    prev = $('Process Approval').first().json;\n  } catch(e2) {\n    prev = $('Approved?').first().json;\n  }\n}\n\nlet obs = '';\nif (r.success) {\n  if (r.content !== undefined) {\n    obs = `File content:\\n${r.content}`;\n  } else if (r.stdout !== undefined) {\n    obs = `Command output:\\n${r.stdout}${r.stderr ? '\\nStderr: ' + r.stderr : ''}`;\n  } else if (r.branch !== undefined) {\n    obs = `Git status:\\nBranch: ${r.branch}\\nClean: ${r.clean}\\nStaged: ${JSON.stringify(r.staged)}\\nUnstaged: ${JSON.stringify(r.unstaged)}\\nUntracked: ${JSON.stringify(r.untracked)}`;\n  } else if (r.text !== undefined) {\n    obs = `Web content (${r.status_code}):\\n${r.text.substring(0, 5000)}`;\n  } else if (r.bytes_written !== undefined) {\n    obs = `File written: ${r.path} (${r.bytes_written} bytes)`;\n  } else if (r.lines_modified !== undefined) {\n    obs = `File edited: ${r.path} (${r.lines_modified} edits applied)`;\n  } else if (r.matches !== undefined) {\n    obs = `Search results (${r.match_count} matches):\\n${r.matches.slice(0, 20).map(m => `${m.file}:${m.line_number}: ${m.text}`).join('\\n')}`;\n  } else if (r.files !== undefined) {\n    obs = `Found ${r.count} files:\\n${r.files.slice(0, 30).map(f => f.relative_path || f.path).join('\\n')}`;\n  } else if (r.results !== undefined) {\n    // Web search results\n    obs = `Web search results (${r.count} found):\\n${r.results.slice(0, 10).map((s, i) => `${i+1}. ${s.title}\\n   ${s.url}\\n   ${s.snippet}`).join('\\n\\n')}`;\n  } else if (r.checkpoint !== undefined) {\n    obs = `Checkpoint saved: ${r.checkpoint} for session ${r.session_id}`;\n  } else if (r.todos !== undefined) {\n    obs = `Todo list (${r.todos.length} items):\\n${r.todos.map(t => `- [${t.status}] ${t.content}`).join('\\n')}`;\n  } else if (r.message) {\n    obs = `Success: ${r.message}`;\n  } else {\n    obs = `Result: ${JSON.stringify(r).substring(0, 2000)}`;\n  }\n} else {\n  // Handle structured error format\n  let errorMsg;\n  if (typeof r.error === 'object' && r.error !== null) {\n    // New structured error format\n    errorMsg = r.error.message || r.error_message || JSON.stringify(r.error);\n    if (r.error.suggestion) {\n      errorMsg += `\\nSuggestion: ${r.error.suggestion}`;\n    }\n  } else if (typeof r.error === 'string') {\n    errorMsg = r.error;\n  } else if (r.error_message) {\n    errorMsg = r.error_message;\n  } else {\n    errorMsg = JSON.stringify(r).substring(0, 500);\n  }\n  obs = `Error: ${errorMsg}`;\n}\n\nprev.state.messages.push({ role: 'user', content: `Tool result:\\n${obs}` });\nprev.state.iteration++;\nprev.state.history.push({ action: prev.action_type, success: r.success, iteration: prev.state.iteration });\n\nconst cont = prev.state.iteration < prev.config.max_iterations;\n\nreturn { json: { ...prev, last_observation: obs, continue_loop: cont } };"
      },
      "id": "handle-tool-result",
      "name": "Handle Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.continue_loop }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "continue-check",
      "name": "Continue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2208,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst isBackgroundExecution = d._background_execution === true;\nconst originalTaskId = d._original_task_id;\n\nconst response = {\n  session_id: d.session_id,\n  task_id: originalTaskId || d.task_id || null,\n  agent_id: d.agent.id,\n  provider: d.agent.provider,\n  status: d.action_type === 'error' ? 'failed' : 'completed',\n  iterations: d.state?.iteration || 0,\n  result: d.result || d.error || 'Done',\n  history: d.state?.history || [],\n  approvals: d.state?.approvals || [],\n  background_mode: d.background_mode || false,\n  is_background_execution: isBackgroundExecution\n};\n\n// If background mode, include session_state for easy continuation\nif (d.background_mode) {\n  response.session_state = {\n    session_id: d.session_id,\n    agent: d.agent,\n    task: d.task,\n    config: d.config,\n    state: d.state\n  };\n}\n\n// If this is a background execution, we need to update the task result\n// The actual HTTP call to update will be done by the next node\nif (isBackgroundExecution && originalTaskId) {\n  response._update_task = {\n    task_id: originalTaskId,\n    status: response.status,\n    result: response.result,\n    iterations: response.iterations\n  };\n}\n\nreturn { json: response };"
      },
      "id": "final-response",
      "name": "Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        1104
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/search/web",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "web-search",
      "name": "Web Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        1072
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://localhost:5010/todo/' + ($json.action_input?.operation || 'list') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({...($json.action_input || {}), session_id: $json.session_id}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "todo-ops",
      "name": "Todo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        1184
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/session/save",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: $json.session_id || $json.state?.session_id, session_state: { session_id: $json.session_id, agent: $json.agent, task: $json.task, config: $json.config, state: $json.state }, checkpoint_name: $json.action_input?.name || 'default' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "checkpoint-save",
      "name": "Checkpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        1312
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_resume }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-resume",
      "name": "Resume?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/session/load",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: $json.session_id, checkpoint_name: $json.checkpoint_name || 'default' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "load-checkpoint",
      "name": "Load Checkpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "const checkpointData = $input.first().json;\nconst parseRequest = $('Resume?').first().json;\n\nif (!checkpointData.success) {\n  return {\n    json: {\n      is_debug: false,\n      action_type: 'error',\n      error: checkpointData.error?.message || 'Failed to load checkpoint',\n      continue_loop: false\n    }\n  };\n}\n\n// Restore state from checkpoint\nconst savedState = checkpointData.session_state;\nconst resumeMessage = parseRequest.resume_message || 'Resuming from checkpoint';\n\n// Add resume message to conversation\nsavedState.state.messages.push({ role: 'user', content: resumeMessage });\n\n// Increment iteration\nsavedState.state.iteration = (savedState.state.iteration || 0) + 1;\n\nreturn {\n  json: {\n    is_debug: false,\n    session_id: savedState.session_id,\n    agent: savedState.agent,\n    task: savedState.task,\n    config: savedState.config,\n    state: savedState.state,\n    is_continuation: true,\n    resumed_from_checkpoint: checkpointData.checkpoint\n  }\n};"
      },
      "id": "restore-state",
      "name": "Restore State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.background_mode }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json._background_execution }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-background",
      "name": "Background?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        352,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/task/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task_id: $json.task_id, session_id: $json.session_id, objective: $json.task?.objective || 'Background task' }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "create-task-bg",
      "name": "Create BG Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/agent/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ...JSON.parse(JSON.stringify($('Background?').first().json)), background: false, _background_execution: true, _original_task_id: $json.task_id }) }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "timeout": 5000
        }
      },
      "id": "trigger-background",
      "name": "Trigger Background",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const taskData = $('Create BG Task').first().json;\nconst parsed = $('Background?').first().json;\n\nreturn {\n  json: {\n    status: 'accepted',\n    message: 'Task submitted for background execution',\n    task_id: parsed.task_id,\n    session_id: parsed.session_id,\n    objective: parsed.task?.objective,\n    poll_url: '/task/status',\n    result_url: '/task/result'\n  }\n};"
      },
      "id": "bg-response",
      "name": "Background Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/task/update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._update_task ? JSON.stringify($json._update_task) : '{}' }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "update-bg-task",
      "name": "Update BG Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        1008
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json._update_task }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-bg-update",
      "name": "Update Task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1968,
        1056
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return the Final Response output\n// This node receives data from two paths:\n// 1. Update Task? false branch (when no task update needed)\n// 2. Update BG Task (after updating background task)\n\n// Get the Final Response data - it's always in the chain\nconst finalResp = $('Final Response').first().json;\n\n// Remove internal fields before returning\nconst response = { ...finalResp };\ndelete response._update_task;\n\nreturn { json: response };"
      },
      "id": "return-response",
      "name": "Return Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        1056
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Background?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug?": {
      "main": [
        [
          {
            "node": "Debug Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resume?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare API": {
      "main": [
        [
          {
            "node": "Call API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call API": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Needs Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Approval?": {
      "main": [
        [
          {
            "node": "Format Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Approval": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Process Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Tool Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Router": {
      "main": [
        [
          {
            "node": "File Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File Write",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Git Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Web Fetch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grep Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Glob Find",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Web Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Todo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Checkpoint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checkpoint": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todo": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Read": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Write": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Edit": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Status": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Fetch": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grep Search": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Glob Find": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Result": {
      "main": [
        [
          {
            "node": "Continue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue?": {
      "main": [
        [
          {
            "node": "Prepare API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume?": {
      "main": [
        [
          {
            "node": "Load Checkpoint",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Checkpoint": {
      "main": [
        [
          {
            "node": "Restore State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore State": {
      "main": [
        [
          {
            "node": "Prepare API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Background?": {
      "main": [
        [
          {
            "node": "Create BG Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Debug?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create BG Task": {
      "main": [
        [
          {
            "node": "Trigger Background",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Background": {
      "main": [
        [
          {
            "node": "Background Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Response": {
      "main": [
        [
          {
            "node": "Update Task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task?": {
      "main": [
        [
          {
            "node": "Update BG Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update BG Task": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {},
  "pinData": {},
  "versionCounter": 294,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-07T00:22:42.165Z",
      "createdAt": "2026-02-07T00:22:42.165Z",
      "role": "workflow:owner",
      "workflowId": "1s52PkA1lY1lHfGP",
      "projectId": "K0tuXr7ScEf3VOi6",
      "project": {
        "updatedAt": "2025-11-19T23:25:09.042Z",
        "createdAt": "2025-11-19T23:19:21.744Z",
        "id": "K0tuXr7ScEf3VOi6",
        "name": "William Marceau <wmarceau@marceausolutions.com>",
        "type": "personal",
        "creatorId": "39622bf8-ce74-4af0-a471-7139b1c2deec",
        "projectRelations": [
          {
            "updatedAt": "2025-11-19T23:19:21.744Z",
            "createdAt": "2025-11-19T23:19:21.744Z",
            "userId": "39622bf8-ce74-4af0-a471-7139b1c2deec",
            "projectId": "K0tuXr7ScEf3VOi6",
            "user": {
              "updatedAt": "2026-02-07T05:06:14.000Z",
              "createdAt": "2025-11-19T23:19:21.693Z",
              "id": "39622bf8-ce74-4af0-a471-7139b1c2deec",
              "email": "wmarceau@marceausolutions.com",
              "firstName": "William",
              "lastName": "Marceau",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-19T23:25:34.123Z",
                "personalization_survey_n8n_version": "1.64.3",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "business-owner",
                "reportedSource": "twitter"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "rWonSOjisRyGBxg1",
                "userActivatedAt": 1770425509492
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}