projects/shared/n8n-workflows/boabfit-abandonment-followup.json
{"updatedAt":"2026-04-01T17:08:35.361Z","createdAt":"2026-04-01T17:08:35.361Z","id":"6dv7d5WgvJsMMtdL","name":"BOABFIT - Abandonment Follow-up","description":null,"active":true,"isArchived":false,"nodes":[{"id":"trigger-hourly","name":"Every Hour","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5 * * * *"}]}}},{"id":"check-abandoners","name":"Find Abandoners","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[460,300],"parameters":{"command":"python3 /home/ec2-user/data/boabfit/abandon_checker.py 2>/tmp/boabfit_abandon_err.log","authentication":"privateKey","host":"localhost","port":22,"username":"ec2-user"},"credentials":{"sshPrivateKey":{"id":"n8nSSHLocalhost01","name":"EC2 Localhost SSH"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"id":"parse-abandoners","name":"Parse Abandoners","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"parameters":{"jsCode":"const stdout = ($input.first().json.stdout || '').trim();\nif (!stdout || stdout === '[]') return [];\nlet people;\ntry { people = JSON.parse(stdout); } catch(e) { return []; }\nif (!Array.isArray(people) || people.length === 0) return [];\nreturn people.map(p => ({ json: p }));"}},{"id":"has-abandoners","name":"Has Abandoners?","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}}},{"id":"email-lead","name":"Email Lead","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1120,180],"parameters":{"sendTo":"={{ $json.email }}","subject":"Still thinking about it? 🍑","emailType":"text","message":"=Hey {{ $json.name }}!\n\nYou started signing up for the 6-Week Barbie Body program but didn't finish — we noticed!\n\nWe saved your spot. Julia and the whole BOABFIT community are ready for you.\n\nCome back and complete your signup here:\n{{ $json.form_link }}\n\nQuestions? Just reply to this email — we'd love to hear from you.\n\nSee you on the other side!\n\nJulia & the BOABFIT Team\ninfo@boabfit.com","options":{"senderName":"Julia | BOABFIT","replyTo":"info@boabfit.com"}},"credentials":{"gmailOAuth2":{"id":"RDSGnGU14i2HbC3G","name":"Gmail account 2"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"id":"notify-julia","name":"Notify Julia - Abandoned Lead","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1120,420],"parameters":{"sendTo":"info@boabfit.com","subject":"=Abandoned Lead Follow-Up Sent: {{ $json.name }} ({{ $json.email }})","emailType":"text","message":"=Hi Julia,\n\nA follow-up email was automatically sent to an abandoned lead:\n\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nPhone: {{ $json.phone || 'not provided' }}\nAbandoned at: {{ $json.abandoned_at }}\n\nThey started the signup form but didn't finish. The follow-up email directed them back to the signup form.\n\nIf you want to personally reach out, their info is above.\n\n— BOABFIT Automation","options":{"senderName":"BOABFIT Automation","replyTo":"info@boabfit.com"}},"credentials":{"gmailOAuth2":{"id":"RDSGnGU14i2HbC3G","name":"Gmail account 2"}},"continueOnFail":true,"onError":"continueRegularOutput"}],"connections":{"Every Hour":{"main":[[{"node":"Find Abandoners","type":"main","index":0}]]},"Find Abandoners":{"main":[[{"node":"Parse Abandoners","type":"main","index":0}]]},"Parse Abandoners":{"main":[[{"node":"Has Abandoners?","type":"main","index":0}]]},"Has Abandoners?":{"main":[[{"node":"Email Lead","type":"main","index":0},{"node":"Notify Julia - Abandoned Lead","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","errorWorkflow":"Ob7kiVvCnmDHAfNW","timezone":"America/New_York","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every Hour":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"01814027-5d01-447a-abd8-22cba68639e7","activeVersionId":"01814027-5d01-447a-abd8-22cba68639e7","versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2026-04-01T17:08:35.364Z","createdAt":"2026-04-01T17:08:35.364Z","role":"workflow:owner","workflowId":"6dv7d5WgvJsMMtdL","projectId":"K0tuXr7ScEf3VOi6","project":{"updatedAt":"2026-04-01T13:37:28.827Z","createdAt":"2025-11-19T23:19:21.744Z","id":"K0tuXr7ScEf3VOi6","name":"William Marceau <wmarceau@marceausolutions.com>","type":"personal","icon":null,"description":null,"creatorId":"39622bf8-ce74-4af0-a471-7139b1c2deec","projectRelations":[{"updatedAt":"2025-11-19T23:19:21.744Z","createdAt":"2025-11-19T23:19:21.744Z","userId":"39622bf8-ce74-4af0-a471-7139b1c2deec","projectId":"K0tuXr7ScEf3VOi6","user":{"updatedAt":"2026-04-01T13:37:28.816Z","createdAt":"2025-11-19T23:19:21.693Z","id":"39622bf8-ce74-4af0-a471-7139b1c2deec","email":"wmarceau@marceausolutions.com","firstName":"William","lastName":"Marceau","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-19T23:25:34.123Z","personalization_survey_n8n_version":"1.64.3","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"twitter"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rWonSOjisRyGBxg1","userActivatedAt":1770425509492,"npsSurvey":{"responded":true,"lastShownAt":1774291506234}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-01","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-01T17:08:35.370Z","createdAt":"2026-04-01T17:08:35.370Z","versionId":"01814027-5d01-447a-abd8-22cba68639e7","workflowId":"6dv7d5WgvJsMMtdL","nodes":[{"id":"trigger-hourly","name":"Every Hour","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 5 * * * *"}]}}},{"id":"check-abandoners","name":"Find Abandoners","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[460,300],"parameters":{"command":"python3 /home/ec2-user/data/boabfit/abandon_checker.py 2>/tmp/boabfit_abandon_err.log","authentication":"privateKey","host":"localhost","port":22,"username":"ec2-user"},"credentials":{"sshPrivateKey":{"id":"n8nSSHLocalhost01","name":"EC2 Localhost SSH"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"id":"parse-abandoners","name":"Parse Abandoners","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"parameters":{"jsCode":"const stdout = ($input.first().json.stdout || '').trim();\nif (!stdout || stdout === '[]') return [];\nlet people;\ntry { people = JSON.parse(stdout); } catch(e) { return []; }\nif (!Array.isArray(people) || people.length === 0) return [];\nreturn people.map(p => ({ json: p }));"}},{"id":"has-abandoners","name":"Has Abandoners?","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}}},{"id":"email-lead","name":"Email Lead","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1120,180],"parameters":{"sendTo":"={{ $json.email }}","subject":"Still thinking about it? 🍑","emailType":"text","message":"=Hey {{ $json.name }}!\n\nYou started signing up for the 6-Week Barbie Body program but didn't finish — we noticed!\n\nWe saved your spot. Julia and the whole BOABFIT community are ready for you.\n\nCome back and complete your signup here:\n{{ $json.form_link }}\n\nQuestions? Just reply to this email — we'd love to hear from you.\n\nSee you on the other side!\n\nJulia & the BOABFIT Team\ninfo@boabfit.com","options":{"senderName":"Julia | BOABFIT","replyTo":"info@boabfit.com"}},"credentials":{"gmailOAuth2":{"id":"RDSGnGU14i2HbC3G","name":"Gmail account 2"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"id":"notify-julia","name":"Notify Julia - Abandoned Lead","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1120,420],"parameters":{"sendTo":"info@boabfit.com","subject":"=Abandoned Lead Follow-Up Sent: {{ $json.name }} ({{ $json.email }})","emailType":"text","message":"=Hi Julia,\n\nA follow-up email was automatically sent to an abandoned lead:\n\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nPhone: {{ $json.phone || 'not provided' }}\nAbandoned at: {{ $json.abandoned_at }}\n\nThey started the signup form but didn't finish. The follow-up email directed them back to the signup form.\n\nIf you want to personally reach out, their info is above.\n\n— BOABFIT Automation","options":{"senderName":"BOABFIT Automation","replyTo":"info@boabfit.com"}},"credentials":{"gmailOAuth2":{"id":"RDSGnGU14i2HbC3G","name":"Gmail account 2"}},"continueOnFail":true,"onError":"continueRegularOutput"}],"connections":{"Every Hour":{"main":[[{"node":"Find Abandoners","type":"main","index":0}]]},"Find Abandoners":{"main":[[{"node":"Parse Abandoners","type":"main","index":0}]]},"Parse Abandoners":{"main":[[{"node":"Has Abandoners?","type":"main","index":0}]]},"Has Abandoners?":{"main":[[{"node":"Email Lead","type":"main","index":0},{"node":"Notify Julia - Abandoned Lead","type":"main","index":0}],[]]}},"authors":"William Marceau","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-01T17:08:42.040Z","id":601,"workflowId":"6dv7d5WgvJsMMtdL","versionId":"01814027-5d01-447a-abd8-22cba68639e7","event":"activated","userId":"39622bf8-ce74-4af0-a471-7139b1c2deec"},{"createdAt":"2026-04-01T17:12:56.214Z","id":604,"workflowId":"6dv7d5WgvJsMMtdL","versionId":"01814027-5d01-447a-abd8-22cba68639e7","event":"activated","userId":"39622bf8-ce74-4af0-a471-7139b1c2deec"}]}}