projects/shared/n8n-workflows/universal-agent-orchestrator-backup-feb6.json
{
  "updatedAt": "2026-02-07T01:16:02.370Z",
  "createdAt": "2026-02-07T00:22:42.152Z",
  "id": "1s52PkA1lY1lHfGP",
  "name": "Universal-Agent-Orchestrator",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent/execute",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "webhookId": "agent-execute"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst req = input.body || input;\n\n// Debug mode - early return\nif (req.debug === true) {\n  return {\n    json: {\n      is_debug: true,\n      status: 'debug',\n      message: 'Agent orchestrator v2 is working!',\n      features: ['multi-provider', 'git_status', 'web_fetch', 'file_write', 'file_edit'],\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\n// Default tools list\nconst allTools = ['file_read', 'file_write', 'file_edit', 'command', 'git_status', 'web_fetch'];\n\n// Build full request with defaults\nconst agent = req.agent || {\n  id: 'claude-code-v1',\n  provider: 'anthropic',\n  model: 'claude-sonnet-4-5-20250929',\n  tools_available: allTools\n};\n\n// Ensure provider is set\nif (!agent.provider) agent.provider = 'anthropic';\nif (!agent.model) {\n  agent.model = agent.provider === 'xai' ? 'grok-2-latest' : 'claude-sonnet-4-5-20250929';\n}\nif (!agent.tools_available) agent.tools_available = allTools;\n\n// Build system prompt dynamically based on available tools\nconst toolDocs = {\n  file_read: '- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}',\n  file_write: '- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}',\n  file_edit: '- file_edit: Edit lines in a file. Input: {\"path\": \"/path\", \"edits\": [{\"line_start\": 1, \"line_end\": 2, \"new_content\": \"new text\"}]}',\n  command: '- command: Execute a shell command. Input: {\"command\": \"the command\"}',\n  git_status: '- git_status: Get git repository status. Input: {\"repo_path\": \"/path/to/repo\"}',\n  web_fetch: '- web_fetch: Fetch content from a URL. Input: {\"url\": \"https://...\"}'\n};\n\nconst availableToolDocs = agent.tools_available.map(t => toolDocs[t] || `- ${t}`).join('\\n');\n\nconst systemPrompt = agent.system_prompt || `You are a helpful AI assistant that can perform actions using tools.\n\nIMPORTANT: When you need to use a tool, you MUST respond with ONLY a JSON object in this exact format:\n{\"action\": \"tool_name\", \"input\": {\"key\": \"value\"}}\n\nAvailable tools:\n${availableToolDocs}\n\nDo NOT use XML tags or any other format. ONLY use the JSON format above.\nAfter using a tool, wait for the result before continuing.\nWhen the task is fully complete, include TASK_COMPLETE in your response.`;\n\nconst task = req.task || {\n  objective: 'Read /home/ec2-user/.bashrc and summarize what aliases are defined',\n  context: '/home/ec2-user'\n};\n\nconst config = { max_iterations: 10, ...req.config };\n\nreturn {\n  json: {\n    is_debug: false,\n    session_id: 'session_' + Date.now(),\n    agent: { ...agent, system_prompt: systemPrompt },\n    task: task,\n    config: config,\n    state: {\n      iteration: 0,\n      history: [],\n      messages: [{\n        role: 'user',\n        content: `Task: ${task.objective}\\nContext: ${task.context || 'none'}\\n\\nRemember: Use ONLY JSON format for tool calls: {\"action\": \"tool_name\", \"input\": {...}}`\n      }]\n    }\n  }\n};"
      },
      "id": "parse-request",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_debug }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-debug",
      "name": "Debug?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return { json: $input.first().json };"
      },
      "id": "debug-response",
      "name": "Debug Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $input.first().json;\nconst msgs = d.state.messages;\nconst sys = d.agent.system_prompt;\nconst model = d.agent.model;\nconst provider = d.agent.provider || 'anthropic';\n\n// Build API body and headers based on provider\nlet api_body, api_url, extra_headers;\n\nif (provider === 'xai' || provider === 'grok') {\n  // Grok/xAI uses OpenAI-compatible format\n  api_url = 'https://api.x.ai/v1/chat/completions';\n  api_body = {\n    model: model || 'grok-2-latest',\n    messages: [\n      { role: 'system', content: sys },\n      ...msgs\n    ],\n    max_tokens: 4096,\n    temperature: 0.7\n  };\n  extra_headers = {};\n} else {\n  // Anthropic (default)\n  api_url = 'https://api.anthropic.com/v1/messages';\n  api_body = {\n    model: model || 'claude-sonnet-4-5-20250929',\n    max_tokens: 4096,\n    system: sys,\n    messages: msgs\n  };\n  extra_headers = { 'anthropic-version': '2023-06-01' };\n}\n\nreturn {\n  json: {\n    ...d,\n    provider: provider,\n    api_url: api_url,\n    api_body: api_body,\n    extra_headers: extra_headers\n  }\n};"
      },
      "id": "prepare-api",
      "name": "Prepare API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}",
        "authentication": "genericCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "={{ $json.provider === 'anthropic' ? 'anthropic-version' : 'X-Custom-Header' }}",
              "value": "={{ $json.provider === 'anthropic' ? '2023-06-01' : 'none' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.api_body) }}",
        "options": {
          "timeout": 120000
        },
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "call-api",
      "name": "Call API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        500
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YcmiPKM8dtApO3q3",
          "name": "Anthropic API Key"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const resp = $input.first().json;\nconst prev = $('Prepare API').first().json;\nconst provider = prev.provider || 'anthropic';\n\n// Handle API errors\nif (resp.error || resp.type === 'error') {\n  return {\n    json: {\n      ...prev,\n      action_type: 'error',\n      error: resp.error?.message || resp.message || JSON.stringify(resp).substring(0, 300),\n      continue_loop: false\n    }\n  };\n}\n\n// Extract text based on provider\nlet text = '';\nif (provider === 'xai' || provider === 'grok') {\n  // OpenAI format\n  if (resp.choices && resp.choices[0] && resp.choices[0].message) {\n    text = resp.choices[0].message.content || '';\n  }\n} else {\n  // Anthropic format\n  for (const c of (resp.content || [])) {\n    if (c.type === 'text') text = c.text;\n  }\n}\n\n// Check for completion\nif (text.includes('TASK_COMPLETE')) {\n  return {\n    json: {\n      ...prev,\n      action_type: 'complete',\n      result: text,\n      continue_loop: false\n    }\n  };\n}\n\n// Try to parse tool call - look for JSON with action field\nlet tool = null;\ntry {\n  const actionMatch = text.match(/\\{\\s*\"action\"\\s*:\\s*\"[^\"]+\"\\s*,\\s*\"input\"\\s*:\\s*\\{[^}]+\\}\\s*\\}/g);\n  if (actionMatch) {\n    for (const m of actionMatch) {\n      try {\n        const parsed = JSON.parse(m);\n        if (parsed.action) { tool = parsed; break; }\n      } catch(e) {}\n    }\n  }\n  \n  // Fallback: simpler regex\n  if (!tool) {\n    const simpleMatch = text.match(/\\{\"action\":\\s*\"([^\"]+)\",\\s*\"input\":\\s*(\\{[^}]+\\})\\}/g);\n    if (simpleMatch) {\n      for (const m of simpleMatch) {\n        try {\n          const parsed = JSON.parse(m);\n          if (parsed.action) { tool = parsed; break; }\n        } catch(e) {}\n      }\n    }\n  }\n} catch(e) {}\n\nif (tool) {\n  prev.state.messages.push({ role: 'assistant', content: text });\n  return {\n    json: {\n      ...prev,\n      action_type: tool.action,\n      action_input: tool.input || {},\n      raw_response: text,\n      continue_loop: true\n    }\n  };\n}\n\n// No tool call - treat as completion\nreturn {\n  json: {\n    ...prev,\n    action_type: 'complete',\n    result: text,\n    continue_loop: false\n  }\n};"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        500
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "file_read",
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "file_read",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "file_write",
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "file_write",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "file_edit",
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "file_edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "command",
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "command",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "git_status",
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "git_status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "web_fetch",
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "web_fetch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "done",
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "done",
              "conditions": {
                "options": {
                  "caseSensitive": true
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action_type }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "tool-router",
      "name": "Tool Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1320,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/files/read",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "file-read",
      "name": "File Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/files/write",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "file-write",
      "name": "File Write",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        220
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/files/edit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "file-edit",
      "name": "File Edit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        340
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/command/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "command-exec",
      "name": "Command",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        460
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/git/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "git-status",
      "name": "Git Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        580
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/web/fetch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.action_input) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "web-fetch",
      "name": "Web Fetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        700
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const r = $input.first().json;\nconst prev = $('Parse Response').first().json;\n\nlet obs = '';\nif (r.success) {\n  if (r.content !== undefined) {\n    obs = `File content:\\n${r.content}`;\n  } else if (r.stdout !== undefined) {\n    obs = `Command output:\\n${r.stdout}${r.stderr ? '\\nStderr: ' + r.stderr : ''}`;\n  } else if (r.branch !== undefined) {\n    // git_status result\n    obs = `Git status:\\nBranch: ${r.branch}\\nClean: ${r.clean}\\nStaged: ${JSON.stringify(r.staged)}\\nUnstaged: ${JSON.stringify(r.unstaged)}\\nUntracked: ${JSON.stringify(r.untracked)}`;\n  } else if (r.text !== undefined) {\n    // web_fetch result\n    obs = `Web content (${r.status_code}):\\n${r.text.substring(0, 5000)}`;\n  } else if (r.bytes_written !== undefined) {\n    obs = `File written: ${r.path} (${r.bytes_written} bytes)`;\n  } else if (r.lines_modified !== undefined) {\n    obs = `File edited: ${r.path} (${r.lines_modified} edits applied)`;\n  } else {\n    obs = `Result: ${JSON.stringify(r).substring(0, 2000)}`;\n  }\n} else {\n  obs = `Error: ${r.error || 'Unknown error'}`;\n}\n\nprev.state.messages.push({ role: 'user', content: `Tool result:\\n${obs}` });\nprev.state.iteration++;\nprev.state.history.push({ action: prev.action_type, success: r.success, iteration: prev.state.iteration });\n\nconst cont = prev.state.iteration < prev.config.max_iterations;\n\nreturn { json: { ...prev, last_observation: obs, continue_loop: cont } };"
      },
      "id": "handle-tool-result",
      "name": "Handle Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.continue_loop }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "continue-check",
      "name": "Continue?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1980,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const d = $input.first().json;\nreturn {\n  json: {\n    session_id: d.session_id,\n    agent_id: d.agent.id,\n    provider: d.agent.provider,\n    status: d.action_type === 'error' ? 'failed' : 'completed',\n    iterations: d.state?.iteration || 0,\n    result: d.result || d.error || 'Done',\n    history: d.state?.history || []\n  }\n};"
      },
      "id": "final-response",
      "name": "Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        900
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Debug?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug?": {
      "main": [
        [
          {
            "node": "Debug Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare API": {
      "main": [
        [
          {
            "node": "Call API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call API": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Tool Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Router": {
      "main": [
        [
          {
            "node": "File Read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File Write",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Git Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Web Fetch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Read": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Write": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Edit": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Status": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Fetch": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Result": {
      "main": [
        [
          {
            "node": "Continue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue?": {
      "main": [
        [
          {
            "node": "Prepare API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {},
  "activeVersionId": "b3f4c818-d4b5-49b2-99a3-5a5583b4b68f",
  "versionCounter": 114,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-07T00:22:42.165Z",
      "createdAt": "2026-02-07T00:22:42.165Z",
      "role": "workflow:owner",
      "workflowId": "1s52PkA1lY1lHfGP",
      "projectId": "K0tuXr7ScEf3VOi6",
      "project": {
        "updatedAt": "2025-11-19T23:25:09.042Z",
        "createdAt": "2025-11-19T23:19:21.744Z",
        "id": "K0tuXr7ScEf3VOi6",
        "name": "William Marceau <wmarceau@marceausolutions.com>",
        "type": "personal",
        "creatorId": "39622bf8-ce74-4af0-a471-7139b1c2deec",
        "projectRelations": [
          {
            "updatedAt": "2025-11-19T23:19:21.744Z",
            "createdAt": "2025-11-19T23:19:21.744Z",
            "userId": "39622bf8-ce74-4af0-a471-7139b1c2deec",
            "projectId": "K0tuXr7ScEf3VOi6",
            "user": {
              "updatedAt": "2026-02-07T00:51:50.805Z",
              "createdAt": "2025-11-19T23:19:21.693Z",
              "id": "39622bf8-ce74-4af0-a471-7139b1c2deec",
              "email": "wmarceau@marceausolutions.com",
              "firstName": "William",
              "lastName": "Marceau",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-19T23:25:34.123Z",
                "personalization_survey_n8n_version": "1.64.3",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "business-owner",
                "reportedSource": "twitter"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "rWonSOjisRyGBxg1",
                "userActivatedAt": 1770425509492
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-07T01:16:02.371Z",
    "createdAt": "2026-02-07T01:16:02.371Z",
    "versionId": "b3f4c818-d4b5-49b2-99a3-5a5583b4b68f",
    "workflowId": "1s52PkA1lY1lHfGP",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "agent/execute",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          400
        ],
        "webhookId": "agent-execute"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const input = $input.first().json;\nconst req = input.body || input;\n\n// Debug mode - early return\nif (req.debug === true) {\n  return {\n    json: {\n      is_debug: true,\n      status: 'debug',\n      message: 'Agent orchestrator v2 is working!',\n      features: ['multi-provider', 'git_status', 'web_fetch', 'file_write', 'file_edit'],\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\n// Default tools list\nconst allTools = ['file_read', 'file_write', 'file_edit', 'command', 'git_status', 'web_fetch'];\n\n// Build full request with defaults\nconst agent = req.agent || {\n  id: 'claude-code-v1',\n  provider: 'anthropic',\n  model: 'claude-sonnet-4-5-20250929',\n  tools_available: allTools\n};\n\n// Ensure provider is set\nif (!agent.provider) agent.provider = 'anthropic';\nif (!agent.model) {\n  agent.model = agent.provider === 'xai' ? 'grok-2-latest' : 'claude-sonnet-4-5-20250929';\n}\nif (!agent.tools_available) agent.tools_available = allTools;\n\n// Build system prompt dynamically based on available tools\nconst toolDocs = {\n  file_read: '- file_read: Read a file. Input: {\"path\": \"/absolute/path\"}',\n  file_write: '- file_write: Write/create a file. Input: {\"path\": \"/path\", \"content\": \"text\"}',\n  file_edit: '- file_edit: Edit lines in a file. Input: {\"path\": \"/path\", \"edits\": [{\"line_start\": 1, \"line_end\": 2, \"new_content\": \"new text\"}]}',\n  command: '- command: Execute a shell command. Input: {\"command\": \"the command\"}',\n  git_status: '- git_status: Get git repository status. Input: {\"repo_path\": \"/path/to/repo\"}',\n  web_fetch: '- web_fetch: Fetch content from a URL. Input: {\"url\": \"https://...\"}'\n};\n\nconst availableToolDocs = agent.tools_available.map(t => toolDocs[t] || `- ${t}`).join('\\n');\n\nconst systemPrompt = agent.system_prompt || `You are a helpful AI assistant that can perform actions using tools.\n\nIMPORTANT: When you need to use a tool, you MUST respond with ONLY a JSON object in this exact format:\n{\"action\": \"tool_name\", \"input\": {\"key\": \"value\"}}\n\nAvailable tools:\n${availableToolDocs}\n\nDo NOT use XML tags or any other format. ONLY use the JSON format above.\nAfter using a tool, wait for the result before continuing.\nWhen the task is fully complete, include TASK_COMPLETE in your response.`;\n\nconst task = req.task || {\n  objective: 'Read /home/ec2-user/.bashrc and summarize what aliases are defined',\n  context: '/home/ec2-user'\n};\n\nconst config = { max_iterations: 10, ...req.config };\n\nreturn {\n  json: {\n    is_debug: false,\n    session_id: 'session_' + Date.now(),\n    agent: { ...agent, system_prompt: systemPrompt },\n    task: task,\n    config: config,\n    state: {\n      iteration: 0,\n      history: [],\n      messages: [{\n        role: 'user',\n        content: `Task: ${task.objective}\\nContext: ${task.context || 'none'}\\n\\nRemember: Use ONLY JSON format for tool calls: {\"action\": \"tool_name\", \"input\": {...}}`\n      }]\n    }\n  }\n};"
        },
        "id": "parse-request",
        "name": "Parse Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "leftValue": "={{ $json.is_debug }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "check-debug",
        "name": "Debug?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          440,
          400
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "return { json: $input.first().json };"
        },
        "id": "debug-response",
        "name": "Debug Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          300
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const d = $input.first().json;\nconst msgs = d.state.messages;\nconst sys = d.agent.system_prompt;\nconst model = d.agent.model;\nconst provider = d.agent.provider || 'anthropic';\n\n// Build API body and headers based on provider\nlet api_body, api_url, extra_headers;\n\nif (provider === 'xai' || provider === 'grok') {\n  // Grok/xAI uses OpenAI-compatible format\n  api_url = 'https://api.x.ai/v1/chat/completions';\n  api_body = {\n    model: model || 'grok-2-latest',\n    messages: [\n      { role: 'system', content: sys },\n      ...msgs\n    ],\n    max_tokens: 4096,\n    temperature: 0.7\n  };\n  extra_headers = {};\n} else {\n  // Anthropic (default)\n  api_url = 'https://api.anthropic.com/v1/messages';\n  api_body = {\n    model: model || 'claude-sonnet-4-5-20250929',\n    max_tokens: 4096,\n    system: sys,\n    messages: msgs\n  };\n  extra_headers = { 'anthropic-version': '2023-06-01' };\n}\n\nreturn {\n  json: {\n    ...d,\n    provider: provider,\n    api_url: api_url,\n    api_body: api_body,\n    extra_headers: extra_headers\n  }\n};"
        },
        "id": "prepare-api",
        "name": "Prepare API",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          500
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.api_url }}",
          "authentication": "genericCredentialType",
          "nodeCredentialType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "={{ $json.provider === 'anthropic' ? 'anthropic-version' : 'X-Custom-Header' }}",
                "value": "={{ $json.provider === 'anthropic' ? '2023-06-01' : 'none' }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.api_body) }}",
          "options": {
            "timeout": 120000
          },
          "genericAuthType": "httpHeaderAuth"
        },
        "id": "call-api",
        "name": "Call API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          500
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "YcmiPKM8dtApO3q3",
            "name": "Anthropic API Key"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const resp = $input.first().json;\nconst prev = $('Prepare API').first().json;\nconst provider = prev.provider || 'anthropic';\n\n// Handle API errors\nif (resp.error || resp.type === 'error') {\n  return {\n    json: {\n      ...prev,\n      action_type: 'error',\n      error: resp.error?.message || resp.message || JSON.stringify(resp).substring(0, 300),\n      continue_loop: false\n    }\n  };\n}\n\n// Extract text based on provider\nlet text = '';\nif (provider === 'xai' || provider === 'grok') {\n  // OpenAI format\n  if (resp.choices && resp.choices[0] && resp.choices[0].message) {\n    text = resp.choices[0].message.content || '';\n  }\n} else {\n  // Anthropic format\n  for (const c of (resp.content || [])) {\n    if (c.type === 'text') text = c.text;\n  }\n}\n\n// Check for completion\nif (text.includes('TASK_COMPLETE')) {\n  return {\n    json: {\n      ...prev,\n      action_type: 'complete',\n      result: text,\n      continue_loop: false\n    }\n  };\n}\n\n// Try to parse tool call - look for JSON with action field\nlet tool = null;\ntry {\n  const actionMatch = text.match(/\\{\\s*\"action\"\\s*:\\s*\"[^\"]+\"\\s*,\\s*\"input\"\\s*:\\s*\\{[^}]+\\}\\s*\\}/g);\n  if (actionMatch) {\n    for (const m of actionMatch) {\n      try {\n        const parsed = JSON.parse(m);\n        if (parsed.action) { tool = parsed; break; }\n      } catch(e) {}\n    }\n  }\n  \n  // Fallback: simpler regex\n  if (!tool) {\n    const simpleMatch = text.match(/\\{\"action\":\\s*\"([^\"]+)\",\\s*\"input\":\\s*(\\{[^}]+\\})\\}/g);\n    if (simpleMatch) {\n      for (const m of simpleMatch) {\n        try {\n          const parsed = JSON.parse(m);\n          if (parsed.action) { tool = parsed; break; }\n        } catch(e) {}\n      }\n    }\n  }\n} catch(e) {}\n\nif (tool) {\n  prev.state.messages.push({ role: 'assistant', content: text });\n  return {\n    json: {\n      ...prev,\n      action_type: tool.action,\n      action_input: tool.input || {},\n      raw_response: text,\n      continue_loop: true\n    }\n  };\n}\n\n// No tool call - treat as completion\nreturn {\n  json: {\n    ...prev,\n    action_type: 'complete',\n    result: text,\n    continue_loop: false\n  }\n};"
        },
        "id": "parse-response",
        "name": "Parse Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          500
        ]
      },
      {
        "parameters": {
          "mode": "rules",
          "rules": {
            "values": [
              {
                "outputKey": "file_read",
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action_type }}",
                      "rightValue": "file_read",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "outputKey": "file_write",
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action_type }}",
                      "rightValue": "file_write",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "outputKey": "file_edit",
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action_type }}",
                      "rightValue": "file_edit",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "outputKey": "command",
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action_type }}",
                      "rightValue": "command",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "outputKey": "git_status",
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action_type }}",
                      "rightValue": "git_status",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "outputKey": "web_fetch",
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action_type }}",
                      "rightValue": "web_fetch",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "outputKey": "done",
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action_type }}",
                      "rightValue": "complete",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "outputKey": "done",
                "conditions": {
                  "options": {
                    "caseSensitive": true
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action_type }}",
                      "rightValue": "error",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "tool-router",
        "name": "Tool Router",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1320,
          500
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5010/files/read",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.action_input) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "file-read",
        "name": "File Read",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1540,
          100
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5010/files/write",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.action_input) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "file-write",
        "name": "File Write",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1540,
          220
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5010/files/edit",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.action_input) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "file-edit",
        "name": "File Edit",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1540,
          340
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5010/command/execute",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.action_input) }}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "command-exec",
        "name": "Command",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1540,
          460
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5010/git/status",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.action_input) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "git-status",
        "name": "Git Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1540,
          580
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://localhost:5010/web/fetch",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.action_input) }}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "web-fetch",
        "name": "Web Fetch",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1540,
          700
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const r = $input.first().json;\nconst prev = $('Parse Response').first().json;\n\nlet obs = '';\nif (r.success) {\n  if (r.content !== undefined) {\n    obs = `File content:\\n${r.content}`;\n  } else if (r.stdout !== undefined) {\n    obs = `Command output:\\n${r.stdout}${r.stderr ? '\\nStderr: ' + r.stderr : ''}`;\n  } else if (r.branch !== undefined) {\n    // git_status result\n    obs = `Git status:\\nBranch: ${r.branch}\\nClean: ${r.clean}\\nStaged: ${JSON.stringify(r.staged)}\\nUnstaged: ${JSON.stringify(r.unstaged)}\\nUntracked: ${JSON.stringify(r.untracked)}`;\n  } else if (r.text !== undefined) {\n    // web_fetch result\n    obs = `Web content (${r.status_code}):\\n${r.text.substring(0, 5000)}`;\n  } else if (r.bytes_written !== undefined) {\n    obs = `File written: ${r.path} (${r.bytes_written} bytes)`;\n  } else if (r.lines_modified !== undefined) {\n    obs = `File edited: ${r.path} (${r.lines_modified} edits applied)`;\n  } else {\n    obs = `Result: ${JSON.stringify(r).substring(0, 2000)}`;\n  }\n} else {\n  obs = `Error: ${r.error || 'Unknown error'}`;\n}\n\nprev.state.messages.push({ role: 'user', content: `Tool result:\\n${obs}` });\nprev.state.iteration++;\nprev.state.history.push({ action: prev.action_type, success: r.success, iteration: prev.state.iteration });\n\nconst cont = prev.state.iteration < prev.config.max_iterations;\n\nreturn { json: { ...prev, last_observation: obs, continue_loop: cont } };"
        },
        "id": "handle-tool-result",
        "name": "Handle Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1760,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "leftValue": "={{ $json.continue_loop }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "continue-check",
        "name": "Continue?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1980,
          400
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const d = $input.first().json;\nreturn {\n  json: {\n    session_id: d.session_id,\n    agent_id: d.agent.id,\n    provider: d.agent.provider,\n    status: d.action_type === 'error' ? 'failed' : 'completed',\n    iterations: d.state?.iteration || 0,\n    result: d.result || d.error || 'Done',\n    history: d.state?.history || []\n  }\n};"
        },
        "id": "final-response",
        "name": "Final Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1540,
          900
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Parse Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Request": {
        "main": [
          [
            {
              "node": "Debug?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Debug?": {
        "main": [
          [
            {
              "node": "Debug Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare API": {
        "main": [
          [
            {
              "node": "Call API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call API": {
        "main": [
          [
            {
              "node": "Parse Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Response": {
        "main": [
          [
            {
              "node": "Tool Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tool Router": {
        "main": [
          [
            {
              "node": "File Read",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File Write",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File Edit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Command",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Git Status",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Web Fetch",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Final Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Read": {
        "main": [
          [
            {
              "node": "Handle Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Write": {
        "main": [
          [
            {
              "node": "Handle Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Edit": {
        "main": [
          [
            {
              "node": "Handle Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Command": {
        "main": [
          [
            {
              "node": "Handle Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Git Status": {
        "main": [
          [
            {
              "node": "Handle Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Web Fetch": {
        "main": [
          [
            {
              "node": "Handle Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle Result": {
        "main": [
          [
            {
              "node": "Continue?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Continue?": {
        "main": [
          [
            {
              "node": "Prepare API",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Final Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "William Marceau",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-07T01:16:02.439Z",
        "id": 45,
        "workflowId": "1s52PkA1lY1lHfGP",
        "versionId": "b3f4c818-d4b5-49b2-99a3-5a5583b4b68f",
        "event": "activated",
        "userId": "39622bf8-ce74-4af0-a471-7139b1c2deec"
      }
    ]
  }
}