projects/shared/n8n-workflows/x-batch-image-generator.json
{
  "name": "X-Batch-Image-Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {"interval": [{"field": "cronExpression", "expression": "0 6 * * *"}]}
      },
      "id": "daily-trigger",
      "name": "Daily 6 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "documentId": {"__rl": true, "mode": "id", "value": "1frkdH8tqlNtnLXGAUiPioYQuU8e_g7Gev-C_Rhxb20o"},
        "sheetName": {"__rl": true, "mode": "name", "value": "X_Post_Queue"},
        "options": {}
      },
      "id": "get-posts",
      "name": "Get All Posts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 300],
      "credentials": {"googleSheetsOAuth2Api": {"id": "mywn8S0xjRx9YM9K", "name": "Google Sheets account 4"}}
    },
    {
      "parameters": {
        "conditions": {
          "options": {"version": 2, "caseSensitive": true},
          "combinator": "and",
          "conditions": [
            {"id": "pending", "leftValue": "={{ $json.Status }}", "rightValue": "PENDING", "operator": {"type": "string", "operation": "equals"}},
            {"id": "no-media", "leftValue": "={{ $json.Media_URL }}", "rightValue": "", "operator": {"type": "string", "operation": "equals"}}
          ]
        },
        "options": {}
      },
      "id": "filter-needs-image",
      "name": "Filter: Needs Image",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "typeValidation": "loose"},
          "conditions": [
            {"id": "milestone", "leftValue": "={{ $json.Category }}", "rightValue": "bip_milestone", "operator": {"type": "string", "operation": "equals"}},
            {"id": "tech", "leftValue": "={{ $json.Category }}", "rightValue": "bip_tech", "operator": {"type": "string", "operation": "equals"}},
            {"id": "behind", "leftValue": "={{ $json.Category }}", "rightValue": "bip_behind_scenes", "operator": {"type": "string", "operation": "equals"}}
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "qualifies-for-image",
      "name": "Qualifies for Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {"options": {"reset": false}, "batchSize": 1},
      "id": "loop",
      "name": "Process Each",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, 200]
    },
    {
      "parameters": {
        "jsCode": "const category = $input.first().json.Category;\nconst content = $input.first().json.Content;\nconst postId = $input.first().json.Post_ID;\nconst rowNumber = $input.first().json.row_number;\n\nconst firstLine = content.split('\\n')[0].replace(/[^a-zA-Z0-9 ]/g, '').trim().substring(0, 50);\n\nconst prompts = {\n  'bip_milestone': `Create a celebratory social media graphic. Theme: \"${firstLine}\". Style: Modern bold typography, dark purple-blue gradient background, subtle confetti elements. Professional, inspiring. Square 1080x1080. Minimal text.`,\n  'bip_tech': `Create a tech infographic. Theme: \"${firstLine}\". Style: Dark theme with cyan accents, abstract tech elements (code, workflow nodes). Professional, developer-friendly. Square 1080x1080.`,\n  'bip_behind_scenes': `Create a lifestyle graphic for entrepreneur. Theme: \"${firstLine}\". Style: Warm sunrise gradient, fitness/productivity icons. Professional but approachable. Square 1080x1080.`\n};\n\nreturn [{\n  json: {\n    prompt: prompts[category] || prompts['bip_milestone'],\n    post_id: postId,\n    category: category,\n    row_number: rowNumber\n  }\n}];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-2-image-1212\",\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"n\": 1\n}",
        "options": {"timeout": 60000}
      },
      "id": "generate-image",
      "name": "Generate Image (Grok)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200],
      "credentials": {"httpHeaderAuth": {"id": "P1H6Vz9nbdj2q1KU", "name": "XAi_API_key"}}
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {"__rl": true, "mode": "id", "value": "1frkdH8tqlNtnLXGAUiPioYQuU8e_g7Gev-C_Rhxb20o"},
        "sheetName": {"__rl": true, "mode": "name", "value": "X_Post_Queue"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Build Prompt').item.json.row_number }}",
            "Media_URL": "={{ $json.data[0].url }}"
          },
          "matchingColumns": ["row_number"],
          "schema": [
            {"id": "row_number", "displayName": "row_number", "type": "number", "canBeUsedToMatch": true, "readOnly": true},
            {"id": "Media_URL", "displayName": "Media_URL", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "update-media-url",
      "name": "Update Media_URL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1540, 200],
      "credentials": {"googleSheetsOAuth2Api": {"id": "mywn8S0xjRx9YM9K", "name": "Google Sheets account 4"}}
    },
    {
      "parameters": {"amount": 5},
      "id": "rate-limit-wait",
      "name": "Wait 5s (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1760, 200],
      "webhookId": "rate-limit-wait"
    }
  ],
  "connections": {
    "Daily 6 AM": {"main": [[{"node": "Get All Posts", "type": "main", "index": 0}]]},
    "Get All Posts": {"main": [[{"node": "Filter: Needs Image", "type": "main", "index": 0}]]},
    "Filter: Needs Image": {"main": [[{"node": "Qualifies for Image?", "type": "main", "index": 0}]]},
    "Qualifies for Image?": {"main": [[{"node": "Process Each", "type": "main", "index": 0}], []]},
    "Process Each": {"main": [[{"node": "Build Prompt", "type": "main", "index": 0}], []]},
    "Build Prompt": {"main": [[{"node": "Generate Image (Grok)", "type": "main", "index": 0}]]},
    "Generate Image (Grok)": {"main": [[{"node": "Update Media_URL", "type": "main", "index": 0}]]},
    "Update Media_URL": {"main": [[{"node": "Rate Limit (Wait)", "type": "main", "index": 0}]]},
    "Wait 5s (Rate Limit)": {"main": [[{"node": "Process Each", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
