projects/shared/n8n-workflows/backups/morning-call-list-generator-backup-2026-03-26.json
{"updatedAt":"2026-03-26T11:56:42.321Z","createdAt":"2026-03-25T23:27:04.078Z","id":"wTApsgEo4wWtCZ5K","name":"Morning-Call-List-Generator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 11 * * 1-6"}]}},"id":"morning-trigger","name":"Daily 7AM Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[220,300]},{"parameters":{"url":"http://localhost:8785/api/lists/daily","options":{"timeout":15000}},"id":"get-lists","name":"Generate Daily Lists","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,300]},{"parameters":{"jsCode":"const data = $input.first().json;\n\nconst phoneCount = (data.tier_1_phone?.count || 0) + (data.tier_2_phone?.count || 0);\nconst warmCount = data.warm?.count || 0;\n\n// Build call list\nlet callList = '📞 CALL LIST — ' + new Date().toLocaleDateString() + '\\n\\n';\n\nconst t1 = data.tier_1_phone?.leads || [];\nconst t2 = data.tier_2_phone?.leads || [];\nconst all = [...t1, ...t2];\n\nfor (let i = 0; i < Math.min(all.length, 20); i++) {\n  const l = all[i];\n  callList += `${i+1}. ${l.company}\\n`;\n  if (l.contact_phone) callList += `   📞 ${l.contact_phone}\\n`;\n  if (l.contact_name) callList += `   👤 ${l.contact_name}\\n`;\n  callList += `   Score: ${l.lead_score || 'N/A'}\\n\\n`;\n}\n\n// Warm leads\nlet warmList = '';\nconst warm = data.warm?.leads || [];\nif (warm.length > 0) {\n  warmList = '\\n🔥 WARM LEADS\\n\\n';\n  for (const w of warm) {\n    warmList += `• ${w.company} (${w.stage})\\n`;\n    if (w.contact_phone) warmList += `  📞 ${w.contact_phone}\\n`;\n    if (w.next_action) warmList += `  ➡️ ${w.next_action}\\n`;\n    warmList += '\\n';\n  }\n}\n\nreturn [{\n  json: {\n    phone_count: phoneCount,\n    warm_count: warmCount,\n    email_count: data.email?.count || 0,\n    call_list: callList,\n    warm_list: warmList,\n    full_message: callList + warmList\n  }\n}];"},"id":"format-lists","name":"Format Lists for Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,300]},{"parameters":{"chatId":"5692454753","text":"={{ $json.full_message }}"},"id":"send-telegram","name":"Send to William (Telegram)","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,300],"credentials":{"telegramApi":{"id":"telegram-creds","name":"Telegram"}}}],"connections":{"Daily 7AM Trigger":{"main":[[{"node":"Generate Daily Lists","type":"main","index":0}]]},"Generate Daily Lists":{"main":[[{"node":"Format Lists for Telegram","type":"main","index":0}]]},"Format Lists for Telegram":{"main":[[{"node":"Send to William (Telegram)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/New_York","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Daily 7AM Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"01067cb4-dd90-4aba-bd7c-d7bd9d1a63b0","activeVersionId":"01067cb4-dd90-4aba-bd7c-d7bd9d1a63b0","versionCounter":13,"triggerCount":1,"shared":[{"updatedAt":"2026-03-25T23:27:04.082Z","createdAt":"2026-03-25T23:27:04.082Z","role":"workflow:owner","workflowId":"wTApsgEo4wWtCZ5K","projectId":"K0tuXr7ScEf3VOi6","project":{"updatedAt":"2025-11-19T23:25:09.042Z","createdAt":"2025-11-19T23:19:21.744Z","id":"K0tuXr7ScEf3VOi6","name":"William Marceau <wmarceau@marceausolutions.com>","type":"personal","icon":null,"description":null,"creatorId":"39622bf8-ce74-4af0-a471-7139b1c2deec","projectRelations":[{"updatedAt":"2025-11-19T23:19:21.744Z","createdAt":"2025-11-19T23:19:21.744Z","userId":"39622bf8-ce74-4af0-a471-7139b1c2deec","projectId":"K0tuXr7ScEf3VOi6","user":{"updatedAt":"2026-03-26T10:00:46.000Z","createdAt":"2025-11-19T23:19:21.693Z","id":"39622bf8-ce74-4af0-a471-7139b1c2deec","email":"wmarceau@marceausolutions.com","firstName":"William","lastName":"Marceau","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-19T23:25:34.123Z","personalization_survey_n8n_version":"1.64.3","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"twitter"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rWonSOjisRyGBxg1","userActivatedAt":1770425509492,"npsSurvey":{"responded":true,"lastShownAt":1774291506234}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-26T11:56:42.322Z","createdAt":"2026-03-26T11:56:42.322Z","versionId":"01067cb4-dd90-4aba-bd7c-d7bd9d1a63b0","workflowId":"wTApsgEo4wWtCZ5K","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 11 * * 1-6"}]}},"id":"morning-trigger","name":"Daily 7AM Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[220,300]},{"parameters":{"url":"http://localhost:8785/api/lists/daily","options":{"timeout":15000}},"id":"get-lists","name":"Generate Daily Lists","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,300]},{"parameters":{"jsCode":"const data = $input.first().json;\n\nconst phoneCount = (data.tier_1_phone?.count || 0) + (data.tier_2_phone?.count || 0);\nconst warmCount = data.warm?.count || 0;\n\n// Build call list\nlet callList = '📞 CALL LIST — ' + new Date().toLocaleDateString() + '\\n\\n';\n\nconst t1 = data.tier_1_phone?.leads || [];\nconst t2 = data.tier_2_phone?.leads || [];\nconst all = [...t1, ...t2];\n\nfor (let i = 0; i < Math.min(all.length, 20); i++) {\n  const l = all[i];\n  callList += `${i+1}. ${l.company}\\n`;\n  if (l.contact_phone) callList += `   📞 ${l.contact_phone}\\n`;\n  if (l.contact_name) callList += `   👤 ${l.contact_name}\\n`;\n  callList += `   Score: ${l.lead_score || 'N/A'}\\n\\n`;\n}\n\n// Warm leads\nlet warmList = '';\nconst warm = data.warm?.leads || [];\nif (warm.length > 0) {\n  warmList = '\\n🔥 WARM LEADS\\n\\n';\n  for (const w of warm) {\n    warmList += `• ${w.company} (${w.stage})\\n`;\n    if (w.contact_phone) warmList += `  📞 ${w.contact_phone}\\n`;\n    if (w.next_action) warmList += `  ➡️ ${w.next_action}\\n`;\n    warmList += '\\n';\n  }\n}\n\nreturn [{\n  json: {\n    phone_count: phoneCount,\n    warm_count: warmCount,\n    email_count: data.email?.count || 0,\n    call_list: callList,\n    warm_list: warmList,\n    full_message: callList + warmList\n  }\n}];"},"id":"format-lists","name":"Format Lists for Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,300]},{"parameters":{"chatId":"5692454753","text":"={{ $json.full_message }}"},"id":"send-telegram","name":"Send to William (Telegram)","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,300],"credentials":{"telegramApi":{"id":"telegram-creds","name":"Telegram"}}}],"connections":{"Daily 7AM Trigger":{"main":[[{"node":"Generate Daily Lists","type":"main","index":0}]]},"Generate Daily Lists":{"main":[[{"node":"Format Lists for Telegram","type":"main","index":0}]]},"Format Lists for Telegram":{"main":[[{"node":"Send to William (Telegram)","type":"main","index":0}]]}},"authors":"William Marceau","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-26T11:57:31.543Z","id":543,"workflowId":"wTApsgEo4wWtCZ5K","versionId":"01067cb4-dd90-4aba-bd7c-d7bd9d1a63b0","event":"activated","userId":"39622bf8-ce74-4af0-a471-7139b1c2deec"}]}}