projects/marceau-solutions/labs/ai-phone-agent/deploy/n8n-elevenlabs-poller.json
{
  "name": "ElevenLabs Call Poller",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.elevenlabs.io/v1/convai/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "agent_id",
              "value": "agent_9801kmgjg670fb7bdv5z9r96y66d"
            }
          ]
        },
        "options": {}
      },
      "id": "get-conversations",
      "name": "Get ElevenLabs Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "elevenlabs-api",
          "name": "ElevenLabs API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Load processed conversations from static data or initialize\nconst processedFile = '/home/clawdbot/dev-sandbox/projects/marceau-solutions/labs/ai-phone-agent/data/processed_conversations.json';\nconst fs = require('fs');\n\nlet processed = [];\ntry {\n  processed = JSON.parse(fs.readFileSync(processedFile, 'utf8'));\n} catch (e) {\n  processed = [];\n}\n\nconst conversations = $input.first().json.conversations || [];\nconst newConversations = conversations.filter(c => \n  !processed.includes(c.conversation_id) && \n  c.call_duration_secs >= 10\n);\n\nreturn newConversations.map(c => ({ json: c }));"
      },
      "id": "filter-new",
      "name": "Filter New Conversations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.elevenlabs.io/v1/convai/conversations/{{ $json.conversation_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-details",
      "name": "Get Conversation Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "elevenlabs-api",
          "name": "ElevenLabs API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const conv = $input.first().json;\nconst transcript = conv.transcript || [];\n\n// Parse transcript for key info\nlet name = null;\nlet phone = null;\nlet callbackRequested = false;\nlet keyMessage = null;\n\nconst fullText = transcript\n  .filter(t => t.message && t.message !== '...')\n  .map(t => `${t.role}: ${t.message}`)\n  .join('\\n');\n\n// Extract name\nconst nameMatch = fullText.match(/(?:my name is|this is|i'm|i am) ([A-Z][a-z]+ ?[A-Z]?[a-z]*)/i);\nif (nameMatch) name = nameMatch[1].trim();\n\n// Extract phone\nconst phoneMatch = fullText.match(/(\\d{3}[-.]?\\d{3}[-.]?\\d{4})/);\nif (phoneMatch) phone = phoneMatch[1];\n\n// Check for callback request\nif (/call back|call me back|give me a call|return my call/i.test(fullText)) {\n  callbackRequested = true;\n}\n\n// Get first substantive user message\nfor (const turn of transcript) {\n  if (turn.role === 'user' && turn.message && turn.message !== '...' && turn.message.length > 20) {\n    keyMessage = turn.message.substring(0, 200);\n    break;\n  }\n}\n\n// Calculate score\nlet score = 0;\nconst reasons = [];\nconst duration = conv.metadata?.call_duration_secs || 0;\n\nif (duration >= 120) { score += 30; reasons.push(`Long call (${duration}s)`); }\nelse if (duration >= 60) { score += 20; reasons.push(`Good engagement (${duration}s)`); }\nelse if (duration >= 30) { score += 10; }\n\nif (callbackRequested) { score += 30; reasons.push('Callback requested'); }\nif (name) { score += 15; reasons.push(`Name: ${name}`); }\nif (phone) { score += 10; reasons.push(`Phone: ${phone}`); }\n\nconst messageCount = transcript.filter(t => t.message !== '...').length;\nif (messageCount >= 6) { score += 20; reasons.push(`Active (${messageCount} msgs)`); }\n\nlet priority = 'low';\nif (score >= 60) priority = 'hot';\nelse if (score >= 30) priority = 'warm';\nelse if (score >= 15) priority = 'cold';\n\nconst emoji = { hot: '🔥', warm: '☀️', cold: '❄️', low: '⚪' }[priority];\n\nreturn [{\n  json: {\n    conversation_id: conv.conversation_id,\n    caller: conv.user_id,\n    duration: duration,\n    score: Math.min(score, 100),\n    priority: priority,\n    emoji: emoji,\n    name: name,\n    phone: phone,\n    callbackRequested: callbackRequested,\n    keyMessage: keyMessage,\n    summary: conv.analysis?.transcript_summary || '',\n    title: conv.analysis?.call_summary_title || 'Call',\n    reasons: reasons,\n    timestamp: new Date(conv.metadata?.start_time_unix_secs * 1000).toISOString(),\n    followUp: score >= 30\n  }\n}];"
      },
      "id": "parse-score",
      "name": "Parse & Score Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"5692454753\",\n  \"parse_mode\": \"HTML\",\n  \"text\": \"{{ $json.emoji }} <b>{{ $json.title }}</b>\\n\\n📞 <b>Caller:</b> {{ $json.caller }}\\n⏱️ <b>Duration:</b> {{ $json.duration }}s\\n📊 <b>Score:</b> {{ $json.score }}/100 ({{ $json.priority.toUpperCase() }})\\n🕐 <b>Time:</b> {{ $json.timestamp.substring(0,16).replace('T', ' ') }}{{ $json.name ? '\\n\\n👤 <b>Name:</b> ' + $json.name : '' }}{{ $json.phone ? '\\n📱 <b>Callback:</b> ' + $json.phone : '' }}{{ $json.summary ? '\\n\\n📝 <b>Summary:</b>\\n' + $json.summary.substring(0,300) : ($json.keyMessage ? '\\n\\n💬 <b>Message:</b>\\n<i>\\\"' + $json.keyMessage + '\\\"</i>' : '') }}{{ $json.followUp ? '\\n\\n⚡ <b>Action:</b> Call back' : '' }}\"\n}",
        "options": {}
      },
      "id": "send-telegram",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "// Mark conversation as processed\nconst processedFile = '/home/clawdbot/dev-sandbox/projects/marceau-solutions/labs/ai-phone-agent/data/processed_conversations.json';\nconst fs = require('fs');\n\nlet processed = [];\ntry {\n  processed = JSON.parse(fs.readFileSync(processedFile, 'utf8'));\n} catch (e) {\n  processed = [];\n}\n\nconst convId = $input.first().json.conversation_id;\nif (!processed.includes(convId)) {\n  processed.push(convId);\n  fs.writeFileSync(processedFile, JSON.stringify(processed));\n}\n\nreturn $input.all();"
      },
      "id": "mark-processed",
      "name": "Mark Processed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.followUp }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-followup",
      "name": "Needs Follow-up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/pipeline/deal/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company\": \"{{ $json.name || 'Unknown Caller' }}\",\n  \"contact_name\": \"{{ $json.name || '' }}\",\n  \"contact_phone\": \"{{ $json.caller }}\",\n  \"lead_source\": \"ai-phone-inbound\",\n  \"stage\": \"{{ $json.priority === 'hot' ? 'Qualified' : 'Intake' }}\",\n  \"notes\": \"AI Phone capture. Score: {{ $json.score }}. {{ $json.summary || $json.keyMessage || '' }}\",\n  \"lead_score\": {{ $json.score }}\n}",
        "options": {}
      },
      "id": "add-pipeline",
      "name": "Add to Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, -100]
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [[{ "node": "Get ElevenLabs Conversations", "type": "main", "index": 0 }]]
    },
    "Get ElevenLabs Conversations": {
      "main": [[{ "node": "Filter New Conversations", "type": "main", "index": 0 }]]
    },
    "Filter New Conversations": {
      "main": [[{ "node": "Get Conversation Details", "type": "main", "index": 0 }]]
    },
    "Get Conversation Details": {
      "main": [[{ "node": "Parse & Score Lead", "type": "main", "index": 0 }]]
    },
    "Parse & Score Lead": {
      "main": [[{ "node": "Send Telegram Alert", "type": "main", "index": 0 }]]
    },
    "Send Telegram Alert": {
      "main": [[{ "node": "Mark Processed", "type": "main", "index": 0 }]]
    },
    "Mark Processed": {
      "main": [[{ "node": "Needs Follow-up?", "type": "main", "index": 0 }]]
    },
    "Needs Follow-up?": {
      "main": [
        [{ "node": "Add to Pipeline", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "ai-phone-agent" },
    { "name": "leads" }
  ]
}
