projects/personal-assistant/src/flames-of-passion/flames-pipeline-check.json
{
  "updatedAt": "2026-02-24T00:28:35.946Z",
  "createdAt": "2026-02-24T00:28:35.946Z",
  "id": "EUfjzppeQ6MASS7d",
  "name": "Flames-Form-Pipeline",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "form-submit",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "process-1",
      "name": "Process & Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  const d = item.json;\n  \n  // Normalize\n  item.json.lead_id = 'form_' + Date.now();\n  item.json.timestamp = new Date().toISOString();\n  item.json.name = d.name || d.full_name || d.fullName || 'Unknown';\n  item.json.email = d.email || d.Email || '';\n  item.json.phone = d.phone || d.Phone || '';\n  item.json.company = d.company || d.Company || 'Not provided';\n  item.json.message = d.message || d.Message || '';\n  item.json.source = d.source || 'website';\n  \n  // Score\n  let score = 0;\n  if (item.json.email && item.json.email.includes('@')) score += 2;\n  if (item.json.phone && item.json.phone.length >= 10) score += 3;\n  if (item.json.message && item.json.message.length > 10) score += 2;\n  const signals = ['interested','quote','price','cost','urgent','asap','need','help','booking','fire','event'];\n  const msg = (item.json.message || '').toLowerCase();\n  if (signals.some(s => msg.includes(s))) score += 3;\n  \n  item.json.score = score;\n  if (score >= 7) { item.json.quality = 'HIGH'; item.json.emoji = '\\ud83d\\udd25'; }\n  else if (score >= 4) { item.json.quality = 'MEDIUM'; item.json.emoji = '\\ud83d\\udccb'; }\n  else { item.json.quality = 'LOW'; item.json.emoji = '\\ud83d\\udcdd'; }\n}\n\nreturn items;"
      }
    },
    {
      "id": "sheets-1",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        300
      ],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1iXAvYMJBqAH-VBWBiy4mXpGXP6wxLWy23U2HaHUtmk4"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Form_Submissions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead_ID": "={{ $json.lead_id }}",
            "Timestamp": "={{ $json.timestamp }}",
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Company": "={{ $json.company }}",
            "Message": "={{ $json.message }}",
            "Source": "={{ $json.source }}",
            "Quality": "={{ $json.quality }}",
            "Score": "={{ $json.score }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RIFdaHtNYdTpFnlu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "telegram-1",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        780,
        300
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "5692454753",
        "text": "={{ $json.emoji }} {{ $json.quality }} Lead (Score: {{ $json.score }}/10)\n\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nPhone: {{ $json.phone || 'Not provided' }}\nSource: {{ $json.source }}\n\nMessage:\n{{ $json.message }}\n\nLead ID: {{ $json.lead_id }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "Fwu0inHSbIWAsiUF",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "respond-1",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1040,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Thank you for your submission!\", \"lead_id\": \"{{ $json.lead_id }}\"}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Form Webhook": {
      "main": [
        [
          {
            "node": "Process & Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Score": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "activeVersionId": "a304a0c8-db1e-4987-8736-00efd9232fb2",
  "versionCounter": 4,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-24T00:28:35.952Z",
      "createdAt": "2026-02-24T00:28:35.952Z",
      "role": "workflow:owner",
      "workflowId": "EUfjzppeQ6MASS7d",
      "projectId": "K0tuXr7ScEf3VOi6",
      "project": {
        "updatedAt": "2025-11-19T23:25:09.042Z",
        "createdAt": "2025-11-19T23:19:21.744Z",
        "id": "K0tuXr7ScEf3VOi6",
        "name": "William Marceau <wmarceau@marceausolutions.com>",
        "type": "personal",
        "creatorId": "39622bf8-ce74-4af0-a471-7139b1c2deec",
        "projectRelations": [
          {
            "updatedAt": "2025-11-19T23:19:21.744Z",
            "createdAt": "2025-11-19T23:19:21.744Z",
            "userId": "39622bf8-ce74-4af0-a471-7139b1c2deec",
            "projectId": "K0tuXr7ScEf3VOi6",
            "user": {
              "updatedAt": "2026-02-24T00:38:52.000Z",
              "createdAt": "2025-11-19T23:19:21.693Z",
              "id": "39622bf8-ce74-4af0-a471-7139b1c2deec",
              "email": "wmarceau@marceausolutions.com",
              "firstName": "William",
              "lastName": "Marceau",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-19T23:25:34.123Z",
                "personalization_survey_n8n_version": "1.64.3",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "business-owner",
                "reportedSource": "twitter"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "rWonSOjisRyGBxg1",
                "userActivatedAt": 1770425509492
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-23",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-24T00:28:35.962Z",
    "createdAt": "2026-02-24T00:28:35.962Z",
    "versionId": "a304a0c8-db1e-4987-8736-00efd9232fb2",
    "workflowId": "EUfjzppeQ6MASS7d",
    "nodes": [
      {
        "id": "webhook-1",
        "name": "Form Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          300
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "form-submit",
          "responseMode": "lastNode",
          "options": {}
        }
      },
      {
        "id": "process-1",
        "name": "Process & Score",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          260,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  const d = item.json;\n  \n  // Normalize\n  item.json.lead_id = 'form_' + Date.now();\n  item.json.timestamp = new Date().toISOString();\n  item.json.name = d.name || d.full_name || d.fullName || 'Unknown';\n  item.json.email = d.email || d.Email || '';\n  item.json.phone = d.phone || d.Phone || '';\n  item.json.company = d.company || d.Company || 'Not provided';\n  item.json.message = d.message || d.Message || '';\n  item.json.source = d.source || 'website';\n  \n  // Score\n  let score = 0;\n  if (item.json.email && item.json.email.includes('@')) score += 2;\n  if (item.json.phone && item.json.phone.length >= 10) score += 3;\n  if (item.json.message && item.json.message.length > 10) score += 2;\n  const signals = ['interested','quote','price','cost','urgent','asap','need','help','booking','fire','event'];\n  const msg = (item.json.message || '').toLowerCase();\n  if (signals.some(s => msg.includes(s))) score += 3;\n  \n  item.json.score = score;\n  if (score >= 7) { item.json.quality = 'HIGH'; item.json.emoji = '\\ud83d\\udd25'; }\n  else if (score >= 4) { item.json.quality = 'MEDIUM'; item.json.emoji = '\\ud83d\\udccb'; }\n  else { item.json.quality = 'LOW'; item.json.emoji = '\\ud83d\\udcdd'; }\n}\n\nreturn items;"
        }
      },
      {
        "id": "sheets-1",
        "name": "Log to Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          520,
          300
        ],
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1iXAvYMJBqAH-VBWBiy4mXpGXP6wxLWy23U2HaHUtmk4"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "Form_Submissions"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Lead_ID": "={{ $json.lead_id }}",
              "Timestamp": "={{ $json.timestamp }}",
              "Name": "={{ $json.name }}",
              "Email": "={{ $json.email }}",
              "Phone": "={{ $json.phone }}",
              "Company": "={{ $json.company }}",
              "Message": "={{ $json.message }}",
              "Source": "={{ $json.source }}",
              "Quality": "={{ $json.quality }}",
              "Score": "={{ $json.score }}"
            }
          },
          "options": {}
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "RIFdaHtNYdTpFnlu",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "id": "telegram-1",
        "name": "Telegram Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          780,
          300
        ],
        "parameters": {
          "operation": "sendMessage",
          "chatId": "5692454753",
          "text": "={{ $json.emoji }} {{ $json.quality }} Lead (Score: {{ $json.score }}/10)\n\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nPhone: {{ $json.phone || 'Not provided' }}\nSource: {{ $json.source }}\n\nMessage:\n{{ $json.message }}\n\nLead ID: {{ $json.lead_id }}",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": {
            "id": "Fwu0inHSbIWAsiUF",
            "name": "Telegram account"
          }
        }
      },
      {
        "id": "respond-1",
        "name": "Success Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1040,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"success\": true, \"message\": \"Thank you for your submission!\", \"lead_id\": \"{{ $json.lead_id }}\"}",
          "options": {
            "responseCode": 200
          }
        }
      }
    ],
    "connections": {
      "Form Webhook": {
        "main": [
          [
            {
              "node": "Process & Score",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process & Score": {
        "main": [
          [
            {
              "node": "Log to Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log to Sheets": {
        "main": [
          [
            {
              "node": "Telegram Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Alert": {
        "main": [
          [
            {
              "node": "Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "William Marceau",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-24T00:31:22.192Z",
        "id": 152,
        "workflowId": "EUfjzppeQ6MASS7d",
        "versionId": "a304a0c8-db1e-4987-8736-00efd9232fb2",
        "event": "activated",
        "userId": "39622bf8-ce74-4af0-a471-7139b1c2deec"
      }
    ]
  }
}