projects/shared/resume/n8n-workflow.json
{
  "name": "Resume Builder - Webhook Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-builder",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Resume Builder Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "resume-builder-webhook"
    },
    {
      "parameters": {
        "url": "=https://api.stripe.com/v1/checkout/sessions/{{ $json.stripe_session_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.STRIPE_SECRET_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Verify Stripe Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "payment-check",
              "leftValue": "={{ $json.payment_status }}",
              "rightValue": "paid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Payment Verified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/command/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"command\": \"cd /home/ubuntu/dev-sandbox/projects/shared/resume && python3 -c \\\"import json, sys; sys.path.insert(0, '.'); from src.engine.job_parser import parse_job_posting; result = parse_job_posting(sys.stdin.read()); print(json.dumps(result))\\\"\",\n  \"stdin\": {{ JSON.stringify($('Resume Builder Webhook').item.json.job_posting_text) }}\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Parse Job Posting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/command/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"command\": \"cd /home/ubuntu/dev-sandbox/projects/shared/resume && python3 -c \\\"import json, sys; sys.path.insert(0, '.'); from src.engine.generate_application import generate_full_application; profile = json.loads(sys.stdin.read().split('---SEPARATOR---')[0]); job_text = sys.stdin.read().split('---SEPARATOR---')[1]; result = generate_full_application(profile, job_text, '/tmp/resume-output'); print(json.dumps(result))\\\"\",\n  \"stdin\": \"{{ JSON.stringify($('Resume Builder Webhook').item.json.resume_data) }}---SEPARATOR---{{ $('Resume Builder Webhook').item.json.job_posting_text }}\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Generate Resume + Cover Letter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5010/command/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"command\": \"cd /home/ubuntu/dev-sandbox && python3 -c \\\"from execution.google_drive_share import upload_and_share; import json; resume_link = upload_and_share('{{ $json.files.resume_pdf }}', folder_name='Resume Builder Deliveries'); cover_link = upload_and_share('{{ $json.files.cover_letter_pdf }}', folder_name='Resume Builder Deliveries'); print(json.dumps({'resume_link': resume_link, 'cover_letter_link': cover_link}))\\\"\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Resume Builder Webhook').item.json.email }}",
        "subject": "=Your Tailored Resume & Cover Letter — {{ $('Generate Resume + Cover Letter').item.json.company }} {{ $('Generate Resume + Cover Letter').item.json.role_title }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n<h2 style=\"color: #2c3e50;\">Your Resume & Cover Letter Are Ready!</h2>\n<p>Hi {{ $('Resume Builder Webhook').item.json.name || 'there' }},</p>\n<p>Your AI-tailored resume and cover letter for <strong>{{ $('Generate Resume + Cover Letter').item.json.role_title }}</strong> at <strong>{{ $('Generate Resume + Cover Letter').item.json.company }}</strong> are ready.</p>\n<div style=\"background: #f8f9fa; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n<p><strong>Resume:</strong> <a href=\"{{ $json.resume_link }}\">Download PDF</a></p>\n<p><strong>Cover Letter:</strong> <a href=\"{{ $json.cover_letter_link }}\">Download PDF</a></p>\n</div>\n<p><strong>ATS Optimization:</strong> Your resume includes {{ $('Generate Resume + Cover Letter').item.json.ats_keywords_used }} targeted keywords from the job posting.</p>\n<p style=\"color: #666; font-size: 12px;\">Generated by Marceau Solutions AI Resume Builder</p>\n</div>",
        "options": {}
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Email Delivery",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1540, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Payment not verified. Please complete checkout first.' }) }}",
        "options": {
          "responseCode": 402
        }
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Payment Required Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 420]
    }
  ],
  "connections": {
    "Resume Builder Webhook": {
      "main": [
        [
          {
            "node": "Verify Stripe Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Stripe Payment": {
      "main": [
        [
          {
            "node": "Payment Verified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Verified?": {
      "main": [
        [
          {
            "node": "Parse Job Posting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Payment Required Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Posting": {
      "main": [
        [
          {
            "node": "Generate Resume + Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Resume + Cover Letter": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Email Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 300
  }
}
