projects/parcellab/demos/event-lead-capture-demo.json
{
  "name": "parcelLab Demo: Event Lead Capture → Enrich → Score → Route",
  "nodes": [
    {
      "id": "a1b2c3d4-1111-4000-8000-000000000001",
      "name": "Event Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 400],
      "typeVersion": 2,
      "parameters": {
        "path": "event-lead-capture",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "event-lead-capture"
    },
    {
      "id": "a1b2c3d4-2222-4000-8000-000000000002",
      "name": "Validate Lead Data",
      "type": "n8n-nodes-base.if",
      "position": [500, 400],
      "typeVersion": 2,
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-email",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "condition-name",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-3333-4000-8000-000000000003",
      "name": "Clay Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "position": [750, 350],
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "https://api.clay.com/v3/sources/webhook/YOUR_CLAY_WEBHOOK_ID",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CLAY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "company",
              "value": "={{ $json.company }}"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "notes": "Enriches lead with firmographic data via Clay API. Returns company size, industry, revenue, tech stack, etc."
    },
    {
      "id": "a1b2c3d4-4444-4000-8000-000000000004",
      "name": "Merge Lead + Enrichment",
      "type": "n8n-nodes-base.set",
      "position": [1000, 350],
      "typeVersion": 3.4,
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "field-name",
              "name": "lead_name",
              "value": "={{ $('Event Lead Webhook').item.json.name }}",
              "type": "string"
            },
            {
              "id": "field-email",
              "name": "lead_email",
              "value": "={{ $('Event Lead Webhook').item.json.email }}",
              "type": "string"
            },
            {
              "id": "field-company",
              "name": "lead_company",
              "value": "={{ $('Event Lead Webhook').item.json.company }}",
              "type": "string"
            },
            {
              "id": "field-title",
              "name": "lead_title",
              "value": "={{ $('Event Lead Webhook').item.json.title }}",
              "type": "string"
            },
            {
              "id": "field-event",
              "name": "event_name",
              "value": "={{ $('Event Lead Webhook').item.json.event_name }}",
              "type": "string"
            },
            {
              "id": "field-employees",
              "name": "company_employees",
              "value": "={{ $json.company_size || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "field-industry",
              "name": "company_industry",
              "value": "={{ $json.industry || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "field-revenue",
              "name": "company_revenue",
              "value": "={{ $json.annual_revenue || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "field-tech",
              "name": "tech_stack",
              "value": "={{ $json.technologies ? $json.technologies.join(', ') : 'unknown' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "notes": "Merges original lead data with Clay enrichment results into a clean object"
    },
    {
      "id": "a1b2c3d4-5555-4000-8000-000000000005",
      "name": "AI Lead Scoring (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1250, 350],
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 300,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Score this lead 1-10 for parcelLab's ICP (mid-to-large ecommerce/retail brands that ship products and need post-purchase experience management).\\n\\nLead:\\n- Name: {{ $json.lead_name }}\\n- Title: {{ $json.lead_title }}\\n- Company: {{ $json.lead_company }}\\n- Industry: {{ $json.company_industry }}\\n- Employees: {{ $json.company_employees }}\\n- Revenue: {{ $json.company_revenue }}\\n- Tech Stack: {{ $json.tech_stack }}\\n- Event: {{ $json.event_name }}\\n\\nRespond ONLY with valid JSON: {\\\"score\\\": <1-10>, \\\"reasoning\\\": \\\"<one sentence>\\\", \\\"priority\\\": \\\"<hot|warm|cold>\\\"}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "notes": "Claude API scores lead 1-10 based on ICP fit. Returns score, reasoning, and priority tier."
    },
    {
      "id": "a1b2c3d4-5556-4000-8000-000000000006",
      "name": "Parse AI Score",
      "type": "n8n-nodes-base.set",
      "position": [1500, 350],
      "typeVersion": 3.4,
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "parse-score",
              "name": "lead_score",
              "value": "={{ JSON.parse($json.content[0].text).score }}",
              "type": "number"
            },
            {
              "id": "parse-reasoning",
              "name": "score_reasoning",
              "value": "={{ JSON.parse($json.content[0].text).reasoning }}",
              "type": "string"
            },
            {
              "id": "parse-priority",
              "name": "priority",
              "value": "={{ JSON.parse($json.content[0].text).priority }}",
              "type": "string"
            },
            {
              "id": "keep-name",
              "name": "lead_name",
              "value": "={{ $('Merge Lead + Enrichment').item.json.lead_name }}",
              "type": "string"
            },
            {
              "id": "keep-email",
              "name": "lead_email",
              "value": "={{ $('Merge Lead + Enrichment').item.json.lead_email }}",
              "type": "string"
            },
            {
              "id": "keep-company",
              "name": "lead_company",
              "value": "={{ $('Merge Lead + Enrichment').item.json.lead_company }}",
              "type": "string"
            },
            {
              "id": "keep-title",
              "name": "lead_title",
              "value": "={{ $('Merge Lead + Enrichment').item.json.lead_title }}",
              "type": "string"
            },
            {
              "id": "keep-event",
              "name": "event_name",
              "value": "={{ $('Merge Lead + Enrichment').item.json.event_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "notes": "Parses Claude's JSON response and merges score with lead data"
    },
    {
      "id": "a1b2c3d4-6666-4000-8000-000000000007",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1750, 350],
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.HUBSPOT_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"email\": \"{{ $json.lead_email }}\",\n    \"firstname\": \"{{ $json.lead_name.split(' ')[0] }}\",\n    \"lastname\": \"{{ $json.lead_name.split(' ').slice(1).join(' ') }}\",\n    \"company\": \"{{ $json.lead_company }}\",\n    \"jobtitle\": \"{{ $json.lead_title }}\",\n    \"lead_score\": \"{{ $json.lead_score }}\",\n    \"lead_source\": \"Event: {{ $json.event_name }}\",\n    \"hs_lead_status\": \"{{ $json.priority === 'hot' ? 'OPEN_DEAL' : $json.priority === 'warm' ? 'IN_PROGRESS' : 'NEW' }}\",\n    \"notes\": \"AI Score: {{ $json.lead_score }}/10 — {{ $json.score_reasoning }}\"\n  }\n}",
        "options": {
          "timeout": 15000
        }
      },
      "notes": "Creates or updates contact in HubSpot with enriched data + AI score"
    },
    {
      "id": "a1b2c3d4-7777-4000-8000-000000000008",
      "name": "Route by Lead Score",
      "type": "n8n-nodes-base.switch",
      "position": [2000, 350],
      "typeVersion": 3.2,
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "hot",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.lead_score }}",
                    "rightValue": 8,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "warm",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.lead_score }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "cold",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.lead_score }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "notes": "Routes leads: 8-10 → Hot (immediate AE alert), 5-7 → Warm (nurture), 1-4 → Cold (newsletter)"
    },
    {
      "id": "a1b2c3d4-8888-4000-8000-000000000009",
      "name": "Slack Alert: Hot Lead",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2300, 200],
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🔥 Hot Lead from {{ $json.event_name }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\"type\": \"mrkdwn\", \"text\": \"*Name:*\\n{{ $json.lead_name }}\"},\n        {\"type\": \"mrkdwn\", \"text\": \"*Company:*\\n{{ $json.lead_company }}\"},\n        {\"type\": \"mrkdwn\", \"text\": \"*Title:*\\n{{ $json.lead_title }}\"},\n        {\"type\": \"mrkdwn\", \"text\": \"*Score:*\\n{{ $json.lead_score }}/10\"},\n        {\"type\": \"mrkdwn\", \"text\": \"*Email:*\\n{{ $json.lead_email }}\"},\n        {\"type\": \"mrkdwn\", \"text\": \"*Why:*\\n{{ $json.score_reasoning }}\"}\n      ]\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\"type\": \"plain_text\", \"text\": \"View in HubSpot\"},\n          \"url\": \"https://app.hubspot.com/contacts\",\n          \"style\": \"primary\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "notes": "Sends rich Slack notification to #sales-alerts channel for hot leads (score 8-10)"
    },
    {
      "id": "a1b2c3d4-8889-4000-8000-000000000010",
      "name": "Enroll Hot Lead Sequence",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2300, 350],
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "=https://api.hubapi.com/automation/v4/flows/{{ $env.HUBSPOT_HOT_LEAD_WORKFLOW_ID }}/enrollments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.HUBSPOT_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"objectId\": \"{{ $('Create HubSpot Contact').item.json.id }}\",\n  \"objectType\": \"contact\"\n}",
        "options": {}
      },
      "notes": "Enrolls hot lead (score 8-10) in aggressive follow-up sequence — AE intro email within 1 hour"
    },
    {
      "id": "a1b2c3d4-9999-4000-8000-000000000011",
      "name": "Enroll Warm Nurture Sequence",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2300, 500],
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "=https://api.hubapi.com/automation/v4/flows/{{ $env.HUBSPOT_NURTURE_WORKFLOW_ID }}/enrollments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.HUBSPOT_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"objectId\": \"{{ $('Create HubSpot Contact').item.json.id }}\",\n  \"objectType\": \"contact\"\n}",
        "options": {}
      },
      "notes": "Enrolls warm lead (score 5-7) in standard nurture sequence — educational content over 2 weeks"
    },
    {
      "id": "a1b2c3d4-aaaa-4000-8000-000000000012",
      "name": "Add to Newsletter List",
      "type": "n8n-nodes-base.httpRequest",
      "position": [2300, 650],
      "typeVersion": 4.2,
      "parameters": {
        "method": "POST",
        "url": "=https://api.hubapi.com/contacts/v1/lists/{{ $env.HUBSPOT_NEWSLETTER_LIST_ID }}/add",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.HUBSPOT_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vids\": [\"{{ $('Create HubSpot Contact').item.json.id }}\"]\n}",
        "options": {}
      },
      "notes": "Adds cold lead (score 1-4) to general newsletter list for long-term awareness"
    },
    {
      "id": "a1b2c3d4-bbbb-4000-8000-000000000013",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.set",
      "position": [2550, 350],
      "typeVersion": 3.4,
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "resp-status",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "resp-msg",
              "name": "message",
              "value": "=Lead {{ $('Parse AI Score').item.json.lead_name }} processed. Score: {{ $('Parse AI Score').item.json.lead_score }}/10. Routed to: {{ $('Parse AI Score').item.json.priority }}",
              "type": "string"
            },
            {
              "id": "resp-score",
              "name": "lead_score",
              "value": "={{ $('Parse AI Score').item.json.lead_score }}",
              "type": "number"
            },
            {
              "id": "resp-priority",
              "name": "priority",
              "value": "={{ $('Parse AI Score').item.json.priority }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "notes": "Returns confirmation response to the webhook caller"
    },
    {
      "id": "a1b2c3d4-cccc-4000-8000-000000000014",
      "name": "Invalid Lead Response",
      "type": "n8n-nodes-base.set",
      "position": [750, 500],
      "typeVersion": 3.4,
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "err-status",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "err-msg",
              "name": "message",
              "value": "Missing required fields: name and email are required",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "notes": "Returns error if lead data is missing required fields"
    }
  ],
  "connections": {
    "Event Lead Webhook": {
      "main": [
        [
          {
            "node": "Validate Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead Data": {
      "main": [
        [
          {
            "node": "Clay Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Lead Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clay Enrichment": {
      "main": [
        [
          {
            "node": "Merge Lead + Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lead + Enrichment": {
      "main": [
        [
          {
            "node": "AI Lead Scoring (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Lead Scoring (Claude)": {
      "main": [
        [
          {
            "node": "Parse AI Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Score": {
      "main": [
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Contact": {
      "main": [
        [
          {
            "node": "Route by Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Lead Score": {
      "main": [
        [
          {
            "node": "Slack Alert: Hot Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enroll Hot Lead Sequence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enroll Warm Nurture Sequence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to Newsletter List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Alert: Hot Lead": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll Hot Lead Sequence": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enroll Warm Nurture Sequence": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Newsletter List": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null
}
