projects/lead-generation/sales-pipeline/n8n-auto-followup-workflow.json
{
  "name": "Sales-Pipeline-Auto-Followup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 8 * * *"}]
        }
      },
      "id": "daily-trigger",
      "name": "Daily 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300],
      "notes": "Runs every day at 8:00 AM ET. Checks pipeline for follow-ups due today."
    },
    {
      "parameters": {
        "url": "http://localhost:8785/api/followups/due",
        "options": {"timeout": 15000}
      },
      "id": "check-due",
      "name": "Check Follow-ups Due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {"leftValue": "={{ $json.count }}", "rightValue": 0, "operator": {"type": "number", "operation": "gt"}}
          ]
        }
      },
      "id": "has-followups",
      "name": "Any Due?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8785/api/followups/send",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"dry_run\": false, \"sms_only\": false}",
        "options": {"timeout": 60000}
      },
      "id": "send-followups",
      "name": "Send Follow-ups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 240]
    },
    {
      "parameters": {
        "chatId": "5692454753",
        "text": "=Follow-up report:\n\nSent: {{ $json.sent }} messages\nTotal due: {{ $json.total }}\n\n{{ $json.summary }}"
      },
      "id": "notify-william",
      "name": "Notify William (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 240],
      "credentials": {"telegramApi": {"id": "telegram-creds", "name": "Telegram"}}
    },
    {
      "parameters": {
        "chatId": "5692454753",
        "text": "No follow-ups due today. Pipeline is clean."
      },
      "id": "notify-none",
      "name": "No Follow-ups (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 400],
      "credentials": {"telegramApi": {"id": "telegram-creds", "name": "Telegram"}}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8785/api/followups/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"dry_run\": false, \"sms_only\": false}",
        "options": {"timeout": 60000}
      },
      "id": "manual-trigger-send",
      "name": "Manual Send (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 500],
      "webhookId": "followup-manual-send",
      "notes": "POST to /webhook/followup-manual-send to trigger follow-ups on demand"
    }
  ],
  "connections": {
    "Daily 8AM Trigger": {"main": [[{"node": "Check Follow-ups Due", "type": "main", "index": 0}]]},
    "Check Follow-ups Due": {"main": [[{"node": "Any Due?", "type": "main", "index": 0}]]},
    "Any Due?": {
      "main": [
        [{"node": "Send Follow-ups", "type": "main", "index": 0}],
        [{"node": "No Follow-ups (Telegram)", "type": "main", "index": 0}]
      ]
    },
    "Send Follow-ups": {"main": [[{"node": "Notify William (Telegram)", "type": "main", "index": 0}]]}
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York"
  }
}
