projects/boabfit/data/boabfit-welcome-drip-sequence.json
{"updatedAt":"2026-04-01T17:08:35.445Z","createdAt":"2026-04-01T17:08:35.445Z","id":"yPDEvttIB7bhZm6U","name":"BOABFIT - Welcome Drip Sequence","description":null,"active":true,"isArchived":false,"nodes":[{"id":"drip-trigger","name":"Every Hour","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 10 * * * *"}]}}},{"id":"check-drip","name":"Find Due Emails","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[460,300],"parameters":{"command":"python3 /home/ec2-user/data/boabfit/drip_checker.py 2>/tmp/boabfit_drip_err.log","authentication":"privateKey","host":"localhost","port":22,"username":"ec2-user"},"credentials":{"sshPrivateKey":{"id":"n8nSSHLocalhost01","name":"EC2 Localhost SSH"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"id":"parse-drip","name":"Parse Due Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"parameters":{"jsCode":"const stdout = ($input.first().json.stdout || '').trim();\nif (!stdout || stdout === '[]') return [];\nlet emails;\ntry { emails = JSON.parse(stdout); } catch(e) { return []; }\nif (!Array.isArray(emails) || emails.length === 0) return [];\nreturn emails.map(e => ({ json: e }));"}},{"id":"has-due-emails","name":"Emails Due?","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}}},{"id":"send-drip-email","name":"Send Drip Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1120,180],"parameters":{"sendTo":"={{ $json.email }}","subject":"={{ $json.subject }}","emailType":"text","message":"={{ $json.body }}","options":{"senderName":"Julia | BOABFIT","replyTo":"info@boabfit.com"}},"credentials":{"gmailOAuth2":{"id":"RDSGnGU14i2HbC3G","name":"Gmail account 2"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"id":"mark-sent","name":"Mark Email Sent","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1340,180],"parameters":{"command":"=python3 /home/ec2-user/data/boabfit/drip_mark_sent.py \"{{ $json.email }}\" {{ $json.day }} 2>/tmp/boabfit_drip_err.log","authentication":"privateKey","host":"localhost","port":22,"username":"ec2-user"},"credentials":{"sshPrivateKey":{"id":"n8nSSHLocalhost01","name":"EC2 Localhost SSH"}},"continueOnFail":true,"onError":"continueRegularOutput"}],"connections":{"Every Hour":{"main":[[{"node":"Find Due Emails","type":"main","index":0}]]},"Find Due Emails":{"main":[[{"node":"Parse Due Emails","type":"main","index":0}]]},"Parse Due Emails":{"main":[[{"node":"Emails Due?","type":"main","index":0}]]},"Emails Due?":{"main":[[{"node":"Send Drip Email","type":"main","index":0}],[]]},"Send Drip Email":{"main":[[{"node":"Mark Email Sent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"Ob7kiVvCnmDHAfNW","timezone":"America/New_York","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every Hour":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"f302a63b-6ad1-41f7-a08e-359e7bfd4131","activeVersionId":"f302a63b-6ad1-41f7-a08e-359e7bfd4131","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-04-01T17:08:35.449Z","createdAt":"2026-04-01T17:08:35.449Z","role":"workflow:owner","workflowId":"yPDEvttIB7bhZm6U","projectId":"K0tuXr7ScEf3VOi6","project":{"updatedAt":"2026-04-01T13:37:28.827Z","createdAt":"2025-11-19T23:19:21.744Z","id":"K0tuXr7ScEf3VOi6","name":"William Marceau <wmarceau@marceausolutions.com>","type":"personal","icon":null,"description":null,"creatorId":"39622bf8-ce74-4af0-a471-7139b1c2deec","projectRelations":[{"updatedAt":"2025-11-19T23:19:21.744Z","createdAt":"2025-11-19T23:19:21.744Z","userId":"39622bf8-ce74-4af0-a471-7139b1c2deec","projectId":"K0tuXr7ScEf3VOi6","user":{"updatedAt":"2026-04-01T13:37:28.816Z","createdAt":"2025-11-19T23:19:21.693Z","id":"39622bf8-ce74-4af0-a471-7139b1c2deec","email":"wmarceau@marceausolutions.com","firstName":"William","lastName":"Marceau","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-19T23:25:34.123Z","personalization_survey_n8n_version":"1.64.3","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"twitter"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rWonSOjisRyGBxg1","userActivatedAt":1770425509492,"npsSurvey":{"responded":true,"lastShownAt":1774291506234}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-01","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-01T17:08:35.454Z","createdAt":"2026-04-01T17:08:35.454Z","versionId":"f302a63b-6ad1-41f7-a08e-359e7bfd4131","workflowId":"yPDEvttIB7bhZm6U","nodes":[{"id":"drip-trigger","name":"Every Hour","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 10 * * * *"}]}}},{"id":"check-drip","name":"Find Due Emails","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[460,300],"parameters":{"command":"python3 /home/ec2-user/data/boabfit/drip_checker.py 2>/tmp/boabfit_drip_err.log","authentication":"privateKey","host":"localhost","port":22,"username":"ec2-user"},"credentials":{"sshPrivateKey":{"id":"n8nSSHLocalhost01","name":"EC2 Localhost SSH"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"id":"parse-drip","name":"Parse Due Emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"parameters":{"jsCode":"const stdout = ($input.first().json.stdout || '').trim();\nif (!stdout || stdout === '[]') return [];\nlet emails;\ntry { emails = JSON.parse(stdout); } catch(e) { return []; }\nif (!Array.isArray(emails) || emails.length === 0) return [];\nreturn emails.map(e => ({ json: e }));"}},{"id":"has-due-emails","name":"Emails Due?","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}}},{"id":"send-drip-email","name":"Send Drip Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1120,180],"parameters":{"sendTo":"={{ $json.email }}","subject":"={{ $json.subject }}","emailType":"text","message":"={{ $json.body }}","options":{"senderName":"Julia | BOABFIT","replyTo":"info@boabfit.com"}},"credentials":{"gmailOAuth2":{"id":"RDSGnGU14i2HbC3G","name":"Gmail account 2"}},"continueOnFail":true,"onError":"continueRegularOutput"},{"id":"mark-sent","name":"Mark Email Sent","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1340,180],"parameters":{"command":"=python3 /home/ec2-user/data/boabfit/drip_mark_sent.py \"{{ $json.email }}\" {{ $json.day }} 2>/tmp/boabfit_drip_err.log","authentication":"privateKey","host":"localhost","port":22,"username":"ec2-user"},"credentials":{"sshPrivateKey":{"id":"n8nSSHLocalhost01","name":"EC2 Localhost SSH"}},"continueOnFail":true,"onError":"continueRegularOutput"}],"connections":{"Every Hour":{"main":[[{"node":"Find Due Emails","type":"main","index":0}]]},"Find Due Emails":{"main":[[{"node":"Parse Due Emails","type":"main","index":0}]]},"Parse Due Emails":{"main":[[{"node":"Emails Due?","type":"main","index":0}]]},"Emails Due?":{"main":[[{"node":"Send Drip Email","type":"main","index":0}],[]]},"Send Drip Email":{"main":[[{"node":"Mark Email Sent","type":"main","index":0}]]}},"authors":"William Marceau","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-01T17:08:42.114Z","id":602,"workflowId":"yPDEvttIB7bhZm6U","versionId":"f302a63b-6ad1-41f7-a08e-359e7bfd4131","event":"activated","userId":"39622bf8-ce74-4af0-a471-7139b1c2deec"}]}}