projects/boabfit/data/boabfit-signup-complete.json
{"updatedAt":"2026-04-01T17:11:47.486Z","createdAt":"2026-04-01T12:24:50.760Z","id":"qOrsQZ8ENHvk5izE","name":"BOABFIT - Signup Complete","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"boabfit-signup","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"id":"a3a7d67d-4cf4-4f66-800c-ed230f03add3"},{"parameters":{"respondWith":"json","responseBody":"={\"success\": true, \"message\": \"Welcome to BOABFIT!\"}"},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[450,300],"id":"53e8b5a7-4530-4d31-977c-4fa37a834a3c"},{"parameters":{"sendTo":"info@boabfit.com","subject":"=New BOABFIT Signup: {{ $json.body.name }}","emailType":"text","message":"=New 6-Week Barbie Body Signup!\n\nName: {{ $json.body.name }}\nEmail: {{ $json.body.email }}\nPhone: {{ $json.body.phone }}\nCommitted: {{ $json.body.committed }}","options":{}},"name":"Notify Julia","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[450,500],"credentials":{"gmailOAuth2":{"id":"RDSGnGU14i2HbC3G","name":"Gmail account 2"}},"continueOnFail":true,"onError":"continueRegularOutput","id":"9e893454-91f2-4ff6-a456-9a985f3cce21"},{"parameters":{"command":"=python3 /home/ec2-user/data/boabfit/register_signup.py \"{{ $json.body.email }}\" \"{{ $json.body.name }}\" \"{{ $json.body.phone }}\" 2>/tmp/boabfit_signup_err.log","authentication":"privateKey","host":"localhost","port":22,"username":"ec2-user"},"name":"Register in Drip","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[450,680],"credentials":{"sshPrivateKey":{"id":"n8nSSHLocalhost01","name":"EC2 Localhost SSH"}},"continueOnFail":true,"onError":"continueRegularOutput","id":"drip-register-01"}],"connections":{"Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Notify Julia","type":"main","index":0},{"node":"Register in Drip","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"Ob7kiVvCnmDHAfNW"},"staticData":null,"meta":null,"pinData":null,"versionId":"6bd227a2-3055-45b3-8efe-8aa21faca9a0","activeVersionId":"6bd227a2-3055-45b3-8efe-8aa21faca9a0","versionCounter":58,"triggerCount":1,"shared":[{"updatedAt":"2026-04-01T12:24:50.765Z","createdAt":"2026-04-01T12:24:50.765Z","role":"workflow:owner","workflowId":"qOrsQZ8ENHvk5izE","projectId":"K0tuXr7ScEf3VOi6","project":{"updatedAt":"2026-04-01T13:37:28.827Z","createdAt":"2025-11-19T23:19:21.744Z","id":"K0tuXr7ScEf3VOi6","name":"William Marceau <wmarceau@marceausolutions.com>","type":"personal","icon":null,"description":null,"creatorId":"39622bf8-ce74-4af0-a471-7139b1c2deec","projectRelations":[{"updatedAt":"2025-11-19T23:19:21.744Z","createdAt":"2025-11-19T23:19:21.744Z","userId":"39622bf8-ce74-4af0-a471-7139b1c2deec","projectId":"K0tuXr7ScEf3VOi6","user":{"updatedAt":"2026-04-01T13:37:28.816Z","createdAt":"2025-11-19T23:19:21.693Z","id":"39622bf8-ce74-4af0-a471-7139b1c2deec","email":"wmarceau@marceausolutions.com","firstName":"William","lastName":"Marceau","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-19T23:25:34.123Z","personalization_survey_n8n_version":"1.64.3","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"twitter"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rWonSOjisRyGBxg1","userActivatedAt":1770425509492,"npsSurvey":{"responded":true,"lastShownAt":1774291506234}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-01","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-01T17:11:47.489Z","createdAt":"2026-04-01T17:11:47.489Z","versionId":"6bd227a2-3055-45b3-8efe-8aa21faca9a0","workflowId":"qOrsQZ8ENHvk5izE","nodes":[{"parameters":{"httpMethod":"POST","path":"boabfit-signup","responseMode":"responseNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"id":"a3a7d67d-4cf4-4f66-800c-ed230f03add3"},{"parameters":{"respondWith":"json","responseBody":"={\"success\": true, \"message\": \"Welcome to BOABFIT!\"}"},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[450,300],"id":"53e8b5a7-4530-4d31-977c-4fa37a834a3c"},{"parameters":{"sendTo":"info@boabfit.com","subject":"=New BOABFIT Signup: {{ $json.body.name }}","emailType":"text","message":"=New 6-Week Barbie Body Signup!\n\nName: {{ $json.body.name }}\nEmail: {{ $json.body.email }}\nPhone: {{ $json.body.phone }}\nCommitted: {{ $json.body.committed }}","options":{}},"name":"Notify Julia","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[450,500],"credentials":{"gmailOAuth2":{"id":"RDSGnGU14i2HbC3G","name":"Gmail account 2"}},"continueOnFail":true,"onError":"continueRegularOutput","id":"9e893454-91f2-4ff6-a456-9a985f3cce21"},{"parameters":{"command":"=python3 /home/ec2-user/data/boabfit/register_signup.py \"{{ $json.body.email }}\" \"{{ $json.body.name }}\" \"{{ $json.body.phone }}\" 2>/tmp/boabfit_signup_err.log","authentication":"privateKey","host":"localhost","port":22,"username":"ec2-user"},"name":"Register in Drip","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[450,680],"credentials":{"sshPrivateKey":{"id":"n8nSSHLocalhost01","name":"EC2 Localhost SSH"}},"continueOnFail":true,"onError":"continueRegularOutput","id":"drip-register-01"}],"connections":{"Webhook":{"main":[[{"node":"Respond","type":"main","index":0},{"node":"Notify Julia","type":"main","index":0},{"node":"Register in Drip","type":"main","index":0}]]}},"authors":"William Marceau","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-01T17:11:47.610Z","id":603,"workflowId":"qOrsQZ8ENHvk5izE","versionId":"6bd227a2-3055-45b3-8efe-8aa21faca9a0","event":"activated","userId":"39622bf8-ce74-4af0-a471-7139b1c2deec"}]}}