projects/shared/n8n-workflows/backups/2026-03-26-validator-fixes/pg9PJWNOrwVSP6IW.json
{"updatedAt":"2026-03-26T10:59:30.645Z","createdAt":"2026-03-25T23:00:11.048Z","id":"pg9PJWNOrwVSP6IW","name":"Sales-Pipeline-Auto-Followup","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 12 * * *"}]}},"id":"daily-trigger","name":"Daily 8AM Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[220,300],"notes":"Runs every day at 8:00 AM ET. Checks pipeline for follow-ups due today."},{"parameters":{"url":"http://localhost:8785/api/followups/due","options":{"timeout":15000}},"id":"check-due","name":"Check Follow-ups Due","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]}},"id":"has-followups","name":"Any Due?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[660,300]},{"parameters":{"url":"http://localhost:8785/api/followups/send","method":"POST","sendBody":true,"specifyBody":"json","jsonBody":"={\"dry_run\": false, \"sms_only\": false}","options":{"timeout":60000}},"id":"send-followups","name":"Send Follow-ups","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,240]},{"parameters":{"chatId":"5692454753","text":"=Follow-up report:\n\nSent: {{ $json.sent }} messages\nTotal due: {{ $json.total }}\n\n{{ $json.summary }}"},"id":"notify-william","name":"Notify William (Telegram)","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,240],"credentials":{"telegramApi":{"id":"telegram-creds","name":"Telegram"}}},{"parameters":{"chatId":"5692454753","text":"No follow-ups due today. Pipeline is clean."},"id":"notify-none","name":"No Follow-ups (Telegram)","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,400],"credentials":{"telegramApi":{"id":"telegram-creds","name":"Telegram"}}},{"parameters":{"method":"POST","url":"http://localhost:8785/api/followups/send","sendBody":true,"specifyBody":"json","jsonBody":"={\"dry_run\": false, \"sms_only\": false}","options":{"timeout":60000}},"id":"manual-trigger-send","name":"Manual Send (Webhook)","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,500],"webhookId":"followup-manual-send","notes":"POST to /webhook/followup-manual-send to trigger follow-ups on demand"}],"connections":{"Daily 8AM Trigger":{"main":[[{"node":"Check Follow-ups Due","type":"main","index":0}]]},"Check Follow-ups Due":{"main":[[{"node":"Any Due?","type":"main","index":0}]]},"Any Due?":{"main":[[{"node":"Send Follow-ups","type":"main","index":0}],[{"node":"No Follow-ups (Telegram)","type":"main","index":0}]]},"Send Follow-ups":{"main":[[{"node":"Notify William (Telegram)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/New_York","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Daily 8AM Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"81eb0baa-0e71-417a-9a96-523f3cce1631","activeVersionId":"81eb0baa-0e71-417a-9a96-523f3cce1631","versionCounter":7,"triggerCount":2,"shared":[{"updatedAt":"2026-03-25T23:00:11.062Z","createdAt":"2026-03-25T23:00:11.062Z","role":"workflow:owner","workflowId":"pg9PJWNOrwVSP6IW","projectId":"K0tuXr7ScEf3VOi6","project":{"updatedAt":"2025-11-19T23:25:09.042Z","createdAt":"2025-11-19T23:19:21.744Z","id":"K0tuXr7ScEf3VOi6","name":"William Marceau <wmarceau@marceausolutions.com>","type":"personal","icon":null,"description":null,"creatorId":"39622bf8-ce74-4af0-a471-7139b1c2deec","projectRelations":[{"updatedAt":"2025-11-19T23:19:21.744Z","createdAt":"2025-11-19T23:19:21.744Z","userId":"39622bf8-ce74-4af0-a471-7139b1c2deec","projectId":"K0tuXr7ScEf3VOi6","user":{"updatedAt":"2026-03-26T10:00:46.000Z","createdAt":"2025-11-19T23:19:21.693Z","id":"39622bf8-ce74-4af0-a471-7139b1c2deec","email":"wmarceau@marceausolutions.com","firstName":"William","lastName":"Marceau","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-19T23:25:34.123Z","personalization_survey_n8n_version":"1.64.3","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"twitter"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"rWonSOjisRyGBxg1","userActivatedAt":1770425509492,"npsSurvey":{"responded":true,"lastShownAt":1774291506234}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-26","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-26T10:59:30.648Z","createdAt":"2026-03-26T10:59:30.648Z","versionId":"81eb0baa-0e71-417a-9a96-523f3cce1631","workflowId":"pg9PJWNOrwVSP6IW","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 12 * * *"}]}},"id":"daily-trigger","name":"Daily 8AM Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[220,300],"notes":"Runs every day at 8:00 AM ET. Checks pipeline for follow-ups due today."},{"parameters":{"url":"http://localhost:8785/api/followups/due","options":{"timeout":15000}},"id":"check-due","name":"Check Follow-ups Due","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]}},"id":"has-followups","name":"Any Due?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[660,300]},{"parameters":{"url":"http://localhost:8785/api/followups/send","method":"POST","sendBody":true,"specifyBody":"json","jsonBody":"={\"dry_run\": false, \"sms_only\": false}","options":{"timeout":60000}},"id":"send-followups","name":"Send Follow-ups","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,240]},{"parameters":{"chatId":"5692454753","text":"=Follow-up report:\n\nSent: {{ $json.sent }} messages\nTotal due: {{ $json.total }}\n\n{{ $json.summary }}"},"id":"notify-william","name":"Notify William (Telegram)","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,240],"credentials":{"telegramApi":{"id":"telegram-creds","name":"Telegram"}}},{"parameters":{"chatId":"5692454753","text":"No follow-ups due today. Pipeline is clean."},"id":"notify-none","name":"No Follow-ups (Telegram)","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,400],"credentials":{"telegramApi":{"id":"telegram-creds","name":"Telegram"}}},{"parameters":{"method":"POST","url":"http://localhost:8785/api/followups/send","sendBody":true,"specifyBody":"json","jsonBody":"={\"dry_run\": false, \"sms_only\": false}","options":{"timeout":60000}},"id":"manual-trigger-send","name":"Manual Send (Webhook)","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[220,500],"webhookId":"followup-manual-send","notes":"POST to /webhook/followup-manual-send to trigger follow-ups on demand"}],"connections":{"Daily 8AM Trigger":{"main":[[{"node":"Check Follow-ups Due","type":"main","index":0}]]},"Check Follow-ups Due":{"main":[[{"node":"Any Due?","type":"main","index":0}]]},"Any Due?":{"main":[[{"node":"Send Follow-ups","type":"main","index":0}],[{"node":"No Follow-ups (Telegram)","type":"main","index":0}]]},"Send Follow-ups":{"main":[[{"node":"Notify William (Telegram)","type":"main","index":0}]]}},"authors":"William Marceau","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-26T10:59:30.753Z","id":508,"workflowId":"pg9PJWNOrwVSP6IW","versionId":"81eb0baa-0e71-417a-9a96-523f3cce1631","event":"activated","userId":"39622bf8-ce74-4af0-a471-7139b1c2deec"}]}}